/* woocommerce product filter */
.woof_container{
    ul{
        padding: 0;
    }
}

.widget-woof{
    .woof_container{
        h4{
            font-size: 24px;
            position: relative;
            padding-top: 0;
            padding-bottom: 30px;
            margin: 0;
            color: #000;
            font-weight: 500;
            background-image: url(../images/title-bg.png);
            background-repeat: no-repeat;
            background-position-y: 7px;
            padding-left: 20px;
            border-bottom: 1px solid #e8e8e8;
            margin-bottom: 30px;
        }
    }
    
    .woof_container_product_cat{
        margin-bottom: 20px;
        .woof_list_label{
            li{
                width: 100%;
                position: relative;
                border-bottom: 1px solid $border-color;
                padding: 5px 0!important;
            }
            .woof_label_count{
                right: 0;
                top: 20px;
                background-color: $theme-color;
                color: #fff;
            }
            .woof_label_term{
                width: auto;
                height: auto;
                min-width: 40px;
                line-height: 30px;
                padding: 0;
                background-color: transparent; 
                border: none;
                text-align: left;
                &.checked{
                    background-color: transparent; 
                    border: none;
                    &:hover{
                        color: $theme-color;
        
                    }
                }
                &:hover{
                    color: $theme-color;
                    background-color: transparent; 
                    border: none;
                }
            }
        }
    }
    .woof_list_label {
        li {
            position: relative;
        }
        .woof_label_count{
            right: 0;
            color: $theme-color;
            z-index: 3;
            background-color: #fff;
            border: 1px solid $border-color;
        }
        .woof_label_term{
            width: auto;
            height: 40px;
            min-width: 40px;
            line-height: 40px;
            text-align: center;
            padding: 0 4px;
            background-color: #fff; 
            border: 1px solid $border-color;
            @include border-radius(3px);
            &.checked{
                background-color: $theme-color;
                border: 1px solid $border-color;
                &:hover{
                    color: #fff;
    
                }
            }
            &:hover{
                color: #fff;
                background-color: $theme-color;
                border: 1px solid $border-color;
            }
        }
    }
    .woof_text_search_container,
    .woof_sku_search_container {
        input[type='search']{
            border: none;
            background-color: transparent;
            padding: 5px 8px!important;
        }
    }
    .woof_container_product_tag{
        .woof_list_checkbox,
        .woof_list_radio{
            li {
                width: 100%;
                margin: 0 !important;
            }
        }
    }
}
.woof_list li{
    margin: 0 !important;
    > div{
        margin-top: 0;
    }
}
.woof_products_top_panel{
    display: inline-block !important;
    padding: 14px 0 0 25px;
    margin: 0;
}
.woof_sku_search_container,.woof_text_search_container{
    .woof_sku_search_go, .woof_text_search_go{
        display: block;
    }
} 
.woof_childs_list_opener{
    margin-left: 0;
}
.woof {
    .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        min-height: 45px !important;
        @include border-radius(3px);
    }
    .chosen-container-single .chosen-single{ 
        height: 40px;
        span{
            line-height: 40px;
        }
        div {
            top: 10px;
        }
    }
}
.woof_list label {
    padding-top: 5px;
    padding-bottom: 0;
}
.woof_container{
    margin-bottom: 0;
}
.woof_submit_search_form_container{
    padding-top: 0;
    padding-bottom: 0;
}