/*
Theme Name: evolution
Description: Adds support for languages written in a Right To Left (RTL) direction.
It's easy, just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

See https://codex.wordpress.org/Right_to_Left_Language_Support
*/
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "components/variables";
@import "components/mixins";

// CSS Code
.widget .widget-title, .widget .widgettitle{
	background-position-x: 100%;
}
.kc_title.style-1 , .nav-tabs .kc_tabs_nav li.ui-tabs-active > a{
	background-position-x: 100%;
}
.nav-tabs .kc_tabs_nav li{
	float: right !important;
}
.fa-angle-right:before{
   content: "\f104";
}
.fa-angle-left:before{
   content: "\f105";
}
.opal-breadscrumb .breadcrumb li:before ,.vertical-menu.navbar-collapse .navbar-nav li a .caret:before, .opal-breadscrumb .breadcrumb li + a:before{
	content: "\f104";
}
.owl-carousel-play .carousel-controls-v3 .carousel-control{
	display: inline-table;
}
.owl-carousel-play .carousel-controls-v3 .carousel-control.left:after{
   top: 10px;
   left: -4px;
}
.woof_checkbox_label {
    margin-right: 7px;
}