
/*------------------------------------*\
    box shadow
\*------------------------------------*/
.box-shadow-v2{
    @include box-shadow(0 2px 12px rgba(0,0,0,0.1));
    @include border-radius(5px);
}

/*------------------------------------*\
    Mini Cart
\*------------------------------------*/
.opal-topcart{
    .dropdown{
        &.open{
            .mini-cart{
                &:before{
                    content:"";
                    background:transparent;
                    position:absolute;
                    top: 0;
                    left: 0;
                    @include size(100%, 200px);
                }
            }
        }
    }
    .dropdown-menu{
        padding: $theme-padding;
        min-width: $mini-cart-dropdown-size;
        display: block;
        visibility: hidden;
        text-align: left;
        left: auto;
        right: 0;
        @include box-sizing(border-box);
        @include opacity(0);
        @include scale(0);
        @include transition(all 300ms cubic-bezier(0.34, 1.61, 0.7, 1));
        margin: 0;
        border: 2px solid $theme-color;
        .quantity{
            font-size: $font-size-base;
        }
    }
    .media{
        border-bottom:solid 1px $border-color;
        padding-bottom: 30px;
    }
    .name {
        font-size: 12px;
        margin-bottom: 10px;
        a{
            color: $black!important;
            &:hover{
                color: $theme-color!important;
            }
        }    
    }
    .open{
        .dropdown-menu{
            @include scale(1);
            @include opacity(1);
            @include transform-origin(29px, -50px);
            @include filter(none);
            visibility: visible;
            z-index: 99999;
        }
    } 

    .total{
        padding-top:20px;
        padding-bottom:10px;
    }
    .buttons{
        margin-bottom: 0;
        padding:15px 20px;
        text-transform: uppercase;        
    }
}
.box-top{
    .box-title{
        .title-cart{
            display: none;
        }
        
    }
    .box-amount{
        color: $black;
        font-weight:600;
        font-size: 16px;
    }
}
#cart{
    clear:both;
    @include clearfix();
    background: transparent;
    display: block;
    float: right;
   .mini-cart{
        position: relative;
        .before-cart{
            padding-left: 32px;
            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: -4px;
                @include size(22px, 22px);
                background-image:  url('#{$image-theme-path}icon-cart.png');
                background-repeat: no-repeat;
            }
        }
        .mini-cart-items{
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 12px;
            background: $mini-cart-item-bg;
            color: $white;
            font-size: 12px;
            line-height: 15px;
            padding: 0px 6px;
            border-radius: 50%;
            padding-top: 2px;
        }
        .amount{
            color: $mini-cart-text-color;
            font-weight: bold;
            font-size: 16px;
            font-weight: $mini-cart-font-weight;
            border-left: 1px solid #dcdcdc;
            padding-left: 10px;
            margin-left: 10px;
        }
        .mini-cart-total{
            float: left;
            margin: 0 10px;
        }  
        .total{
            i{
                margin-left: 20px;
            }
        }    
    }
}

// Btn Wishlist

.opal-btn-wishlist{
    font-size: 18px;
    color: $black;
    display: block;
    padding: 6px 0;
    margin-right: 25px;
    &:hover{
        color: $theme-color;
    }
}

///// Elements Styles //////////////// ////////////// ////////////// ////////////// ////////////// ////////////// //////////////
/*
 * Product Detail Page
 */
.product-info{

    background: $white;
    padding: 30px;
    @extend .box-shadow-v2;
    .product-nav{
        position: absolute;
        right: 0;
        top: -8px;
        p{
            float: left;
            margin-left: 2px;
            margin-top: 10px;
            &:first-child{
                a{
                    @include border-radius(50%);
                }
            }
            &:last-child{
                a{
                    @include border-radius(50%);
                }
            }
        }
        a{
            font-size: 9px;
            color: $theme-color;
            font-weight: 500;
            line-height: 30px;
            background: transparent;
            @include size(28px,28px);
            text-align: center;
            display: block;
            @include transition(all 0.5s ease);
            .fa{
                padding: 0 4px;
                line-height: 28px;
            }
            &:hover, &:focus{
                color: $white;
                @include box-shadow(0 0 0 30px $theme-color inset);
            }
        }
    }
    .images{
        position: relative;
        width:100% !important;
        display: block;
        margin: 0;
        margin-bottom: 10px !important;
        > div{
            padding: 0;
        }
    }
    #image-additional-carousel{
        .image-additional{
            .owl-carousel .owl-item{
                padding: 0;
            }
        }
    }
    .product_title{
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: $product-name-color;
        @media (max-width: $screen-phone){
            font-size: 18px;
            line-height: 25px;
        }
    }
    .price{ 
        line-height: 40px;
        padding-top: 10px; 
        padding-bottom: 20px; 
        display: flex;     
        > *{           
            text-decoration: none;
        } 
        del{
            opacity: 1 !important;
                line-height: 35px;
            span{
                margin-left: 7px;
                font-size: 18px;         
                text-decoration: line-through;
                color: #aaaaaa;
            }
        }
    }
    .image-additional{
        &.owl-carousel-play{
            .carousel-controls{
                display: none;
            }
        }
    }
    span.onsale{
        @include size(75px, 32px);
        background-color: $brand-danger;
        font-size: 14px;
        text-transform: uppercase;
        top: 10px;
        left: 25px;
        line-height: 28px;
        font-weight: 400;
        z-index: 1;
        border-radius: 0;
        min-height: 32px;
        border-radius: 20px;
    }
     /* social */
    .opal-social-share{
        margin: 0;
        .bo-social-icons{
            a{
                margin-left: 0;
                margin-right: 0;
                @include border-radius(0);
                line-height: 16px;
                @include size(16px, 16px);
                font-size: 9px;
                > .fa{
                    line-height: 16px;
                }
            }
        }

    }
    &.single-layout2, &.single-layout5{
        .product_meta{
            margin-top: 0;
        }
        #image-additional-carousel{
            margin-bottom: 20px;
        }
        #reviews .reviews-summary .review-summary-detal{
            .col-lg-1{
                display: none;
            }
            .col-lg-7{
                width: 60% !important;
            }
            .review-label{
                width: 40% !important;
            }

        } 
    }
    
}
.single.woocommerce{
    .product-info{
        .single-product-summary{
            @media (max-width: $screen-xs-max){
                margin-top: 30px;
            }
        }
        #image-additional-carousel{
            .image-additional .owl-carousel .owl-item .imagezoom{
                margin-left: 10px;
                display: inline-block;
                @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                    max-width: 70px;
                    display: inline-block;
                }
                 @media (max-width: $screen-phone){
                    max-width: 50px;
                    display: inline-block;
                }
                &.first{
                    margin-left: 0;
                }
            }
        }
    
        &.single-layout2, &.single-layout5{
            .single-product-summary{
                .woocommerce-tabs{
                    @include border-radius(0);
                    @include box-shadow(inherit);
                    .tabs{
                        margin: 0 !important;
                    }
                    .panel{
                        padding: 30px 0;
                        margin-left: -15px !important;
                        margin-right: -15px !important;
                    }
                }
            }
        }
        &.single-layout3, &.single-layout4{
            #image-additional-carousel{
                margin-left: 10px;
                @media (max-width: $screen-sm-max){
                    margin-top: 10px;
                    margin-left: 0px;
                }
                .image-additional .owl-carousel .owl-item .imagezoom{
                    margin-left: 0px;
                    @media (max-width: $screen-sm-max){
                        margin-left: 10px;
                        margin-bottom: 0;
                    }
                    &.first{
                        @media (max-width: $screen-sm-max){
                           margin-left: 0;
                        }
                    }
                }
            }
        }
        &.single-layout4{
            .woocommerce-main-image{
                @media (max-width: $screen-sm-max){
                   margin-top: 30px;
                }
            }
        }
        &.single-layout5{
            #image-additional-carousel{
                margin-bottom: 30px;
            }

        }
    }
    
}
/* Product External */
.product{
    &.product-type-external{
        .single-product-summary{
            p.cart{
                display: block;
                border-bottom: 1px solid #e5e5e5;
                padding-bottom: 30px;
                margin-bottom: 0;
            }
        }     
    }
    
}
.single-product-summary{
    .yith-wcwl-add-to-wishlist {
        float: left;
        position: relative;
        border-top: none;
        a{
            color: #999999;
            font-weight: 500 !important;
            text-align: center;
            float: none !important;
            display: block !important;
            padding: 10px 25px 7px 18px;
            @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                 padding: 10px 20px 7px 7px;
            }
            border: 1px solid #e0e0e0;
            margin-top: 20px;
            border-radius: 20px;
            line-height: 18px;
            &:hover{
                background: $theme-color;
                color: $white;
                border-color: $theme-color;
            }
            i{
                font-size: 12px;
            }
        }
        .ajax-loading{
            margin: 0;
            position: absolute;
            top: 10px;
        }
        .feedback{
            @include hide-text();
             display: none;
        }
    }        
    .clear{
        display: none;
    } 
    .yith-wcwl-wishlistaddedbrowse,
    .yith-wcwl-add-button,
    .yith-wcwl-wishlistexistsbrowse {
        a,
        a.add_to_wishlist {
            text-transform: uppercase;
            font-size: 12px;
            display: inline;
            font-weight: 900;

            float: left;
            &:hover {
                color: $white;
                text-decoration: none;
            }
            i{
                margin: 0 5px;
            }
        }
        > div{
            display: none;
        }        
    }
    a{
        &.compare{
            color: #999999 !important;
            font-size: 12px !important;
            padding: 7px 25px !important;
            @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                  padding: 7px 15px !important;
            }
            text-transform: uppercase;
            background: transparent !important;
            font-weight: 500 !important;
            border-top: none;
            border-left: none;
            line-height: 21px !important;
            text-align: center;
            border: 1px solid #e0e0e0;
            border-radius: 20px !important;
            margin-top: 20px;
            margin-left: 10px;
            @media (max-width: $screen-phone){
                margin-left: 0;
            }
            &:before{
                content: "\f0ec";
                font-family: "FontAwesome";
                color: $light-gray;
                font-size: 12px;
                position: relative;
                right: 5px;
                font-weight: normal;
                display: inline-block;
            }
            &:hover{
                background: $theme-color !important;
                color: $white !important;
                border-color: $theme-color;
                &:before{
                    color: $white;
                }
            }
        }
    }
    
    .yith-wcwl-wishlistaddedbrowse,
    .yith-wcwl-wishlistexistsbrowse{ 
        .feedback {
            color: $theme-color;
            line-height: 40px;
            margin-right: 40px;
        }
    }

}
 
.productinfo-show-discounts {
    font-size: $font-size-base - 2;
    padding-left: 75px;
    position: relative;
    color: #666;
    float: left;
    margin-bottom: 10px !important;
    &:before {
        background:  url('#{$image-theme-path}icon-show-discounts.png') no-repeat center center $brand-success;
        @include size (36px,36px);
        @include border-radius(50%);
        position: absolute;
        left: 20px;
        top: 20px;
        content: "";
    }
    padding:0;
    margin-bottom: $line-height-computed;
    border-radius: $alert-border-radius;
    overflow: hidden;

    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
 
     ul {
        list-style: none;
        margin-left: 40px;
        padding:15px 30px;
        li {
             padding:  3px 0;
             &:before {
                 content: "\f14a";
                 font-family: "FontAwesome";
                 color: $brand-success;
                 padding-right: 8px;
            }
        }
    }
}

//reviews
#reviews{
    .reviews-summary {
        padding: 20px 0;
        h5 {
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .review-summary-total{
            text-align: center;
            font-weight: 400;
            .review-summary-result {
                @include size(90px, 90px);
                text-align: center;
                border: 2px solid $brand-warning;
                color: $brand-warning;
                line-height: 90px;
                font-size: 24px;
                @include border-radius(50%);
                margin-bottom: 8px;
            }
        }
        .review-summary-detal {
            overflow: hidden;
            display: block;
            .review-label{
                color: $black;
                font-weight: 400;
            }
            .progress {
            }
        }
    }
    .comments{
        border-top: 1px solid $border-color;
        padding-top: 20px;
        h5 {
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        .commentlist {
            margin: 15px 0;
            .comment {
                margin-bottom: 30px;
            }
            .opal-avata {             
                width: 100px;
                text-align: center;
                > div {
                    display: inline-block;
                }
                .opal-image {
                    .avatar {
                        @include border-radius(50%);
                        overflow: hidden;
                    }
                }
                .opal-author {
                    color: $black;
                    font-weight: 900;
                    padding-top: 10px;
                    text-transform: capitalize;
                }
            }
            .comment-text {
                border: 1px solid $border-color;
                padding: 15px 20px;
                .meta {
                    color: #bbb;
                }
                > div {
                    margin-bottom: 7px;
                    float: left;
                }
                .star-rating  {
                    margin-bottom: 15px;
                }
            }
        }
    }
    .review_form_wrapper {      
        border-top: 1px solid $border-color;
        padding: 20px 0;
    }

    .progress{
        margin-bottom: 15px;
        background-color: #f2f2f2;
        @include box-shadow(none);
        .progress-bar {
            color: $gray-darker;
            &.progress-bared {
                color: #fff;
            }
        }
    }

    #reply-title {
        margin-bottom: 20px;
        font-size: 16px;
        font-family: $font-family-base;
    }
}

////////// Pages Styles ////////////// ////////////// ////////////// ////////////// ////////////// ////////////// //////////////
/**
 * Product Single Page
 */

.product-block{
    display: block;
    position: relative;        
    z-index: 0;
    background: $white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    &:before{
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background: $border-color-base;
        top: 0;
        left: -30px;
        z-index: 99;
    }
    &:after{
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background: $border-color-base;
        top: -30px;
        left: 0px;
        z-index: 99;
    }
    span{
        &.sale-off,&.onsale{
            position: absolute;
            background-color: $sale-label-bg;
            color: #fff;
            top: 10px;
            @include size(45px, 20px);
            left: 10px;
            font-size: 9px;
            text-transform: uppercase;
            font-weight: 500;
            padding: 0;
            z-index: 100;
            @include border-radius(20px);
            text-align: center;
            line-height: 20px;
            min-height: inherit;
            min-width: inherit;
        }
    }
    .image{
        position: relative;
        img{
            height: auto;
            width: 100%;  
        }
        a,.product-image{
            display: block;
            overflow: hidden;
            position: relative;
        }
        .product-image{
            &:before{
                background: transparent;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;
                @include transition(all .3s ease-out 0s)
            }
        }
        .image-effect{
            top: 0;
            position: absolute;
            overflow: hidden;
            left: 0;
            @include opacity(1);
            @include translate(-100%, 0px);
            @include transition(all 0.3s);
        }
        .image-hover{
            @include transition(all 0.3s );
        }
        &:hover{
            .image-effect{
                @include translate(0px,0px);
            }
            .image-hover{
                @include translate(100%, 0px);
            }
        }
    } 
    .meta{
        .category-name{
            font-size: 12px;
            color: #aaaaaa;
            font-weight: 300;
            text-align: left;
        }
    }
    .caption{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .price{        
        line-height: 1.5em;  
        display: block;
        min-height: 22px;
        overflow: hidden;
        font-weight: $product-price-font-weight !important;
        margin-top: 10px;
        > *{
            color: $product-price-color;
            font-size: $product-price-font-size;
            min-height: 22px;
            @media (max-width: $screen-phone){
                display: block;
            }
        }
        del{
            color: $product-price-old-color;
            opacity: 1 !important;
            font-size: 13px;
            font-weight: $product-price-old-weight;
            margin-left: 5px;
            text-decoration: none;
            @media (max-width: $screen-phone){
                margin-left: 0;
            }
            > span{ 
                color: $product-price-old-color; 
                font-size: 14px;
                text-decoration: line-through;
            }
            @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                display: none
            }
        }
        ins{            
            text-decoration: none;
            font-weight: $product-price-font-weight !important;
        }
    }
    .name{
        @include font-size(font-size, $product-name-font-size);
        line-height: $product-name-line-height;
        font-weight: $product-name-font-weight;
        min-height: 40px;
        overflow: hidden;
        margin-top: 0px;
        margin-bottom: 14px;
        text-align: left;
        z-index: 99;
        a{
            font-family: $font-family-base;
            color: $product-name-color;
        }
        &:hover{
            a{
                color: $theme-color;
            }
        }
    }  
    .category{
        text-transform: none;
        font-weight: $product-category-font-weight;
        font-style: $product-category-font-style;
        @include font-size(font-size, $product-category-font-size);
        a{
            color: $product-category-color;
            &:hover{
                color: $product-category-hover-color;
            }
        }
    }
    .star-rating{
        font-size: 10px;
        display: inline-block;
        float: none;
        font-family: star;
        height: 1.5em;
        line-height: 1;
        overflow: hidden;
        position: relative;
        width: 6.5em;
        letter-spacing: 2px;
        &:before {
            content: "\53\53\53\53\53";
            color: #d3ced2;
            float: left;
            left: 0;
            position: absolute;
            top: 0;
        }
        span{
            float: left;
            left: 0;
            overflow: hidden;
            padding-top: 1.5em;
            position: absolute;
            top: 0;
            &:before {
                content: "\53\53\53\53\53";
                color: $brand-warning;
                left: 0;
                position: absolute;
                top: 0;
            }
        }
    }
    p.stars a{
        color: #f0c73b;
    }
    .star-rating span{
        color: #f0c73b;
    }    
    .clear,.added_to_cart {
        display: none !important;
    }
    .add_to_cart_button{
        position: relative;
        background: $brand-primary !important;
        color: $white !important;
        width: 100%;
        @include transition(all 0.3s);
        &.loading{
            .title-cart{
                visibility: hidden;
                &:after{
                    visibility: visible;
                    content: "Loading..";
                    position: absolute;
                    top: 9px;
                    left: 0;
                    width: 100%;
                    text-align: center; 
                }    
            }
        }
    }
    .add-cart{
       
        margin-top: 3px;
        a.button{
            background: $product-button-bg !important;
            width: auto;
            display: inline-block;
            border-radius: 25px;
            padding: 10px 15px;
            border: none;
            line-height: 1;
            span{
                @include transition(all 0.3s);
                font-size: $product-button-font-size;
            }
            &:before{
                content: "\f218";
                font-family: FontAwesome;
                font-size: 14px;
                color: #999999;
            }
            &.added{
                background: $theme-color !important;
                span{
                    color: $white !important;
                }
                &:before{
                    color: $white;
                }
                &:after{
                    display: none;
                }
            }
            
        }
    }
    &.media{
        padding: 0;
        border-top: 1px solid $border-color-base;
        position: relative;
        display: block;
        .name{
           margin-bottom: 10px;
        }
        .price{
            margin-top: 0;
            display: block;
        }
        .meta{
            padding-left: 90px;
            min-height: 77px;
        }
        .rating{
            margin-top: 5px;
        }
        .image{
            position: absolute; 
            width: 70px;     
            left: 0px;
            @media (max-width: $screen-xs-max){
                max-width: inherit;
                margin-right: 30px !important;
                margin-bottom: 0;
            }
            @media (max-width: $screen-phone){
                margin-right: 20px !important;
                margin-bottom: 20px;
            }
            &:before{
                background: transparent;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;
                @include transition(all .3s ease-out 0s);
            }
        }
        &:hover{
            .image{
                &:before{
                    background: rgba(0,0,0,0.1);
                    @include transition(all .3s ease-out 0s);
                }
            }
        }
    }
    &:hover{
        .image{
            .product-image{
                &:before{
                   background: rgba(0,0,0,0.1);
                    @include transition(all .3s ease-out 0s)
                }
            }
        }
        .button-action{ 
            bottom: 20px;
            .button-groups{
                @media (min-width: $screen-lg) { 
                opacity: 1;
                transform: scale(1);
                }
                @media (min-width: $screen-md) and (max-width: $screen-lg) {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        .add-cart{
            a.button{
                background: $product-button-hover-bg !important;
                span{
                    color: $white;
                }
                &:before{
                    color: $white;
                }
            }
        }
    }
}

/* Product default */
.top-product{
    .product-block{
       &:after{
            display: none;
            @media (max-width: $screen-sm-max){
               display: block;
            }
       }
    }
}
.products-inner, .products-list-v2{
    .product-wrapper{
        padding: 0 30px;
        position: relative;
        @media(max-width: $screen-xs-max){
            text-align: center;
        }
        @media (min-width: $screen-md) and (max-width: $screen-md-max){
            padding: 0 18px
        }
        .product-block{
            &:before{
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                background: $border-color-base;
                @media (min-width: $screen-md) and (max-width: $screen-md-max){
                    left: -18px;
                }
                 @media(max-width: $screen-xs-max){
                    display: none;
                }
            }
        }
        &.first{
            .product-block{
                &:before{
                    display: none;
                }
            }
        }
        &:nth-child(odd){
            .product-block{
                &:before{
                    @media(max-width: $screen-sm-max){
                        display: none;
                    }
                }
            }
            
        }
        &:nth-child(even){
            .product-block{
                &:before{
                    @media(max-width: $screen-sm-max){
                        display: block !important;
                    }
                }
            }
            
        }
        &:first-child, &:nth-child(2){
            .product-block{
               &:after{
                    @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                       display: none !important;
                    }
               }
            }
        }
        &:first-child{
            .product-block{
               &:after{
                    @media (max-width: $screen-xs-max){
                       display: none !important;
                    }
               }
            }
        }
    }
}

/* Product list */
.product-carousel-list{
    padding-bottom: 30px;
    .item{
        .product{
            &:first-child{
                .product-block {
                    &.media{
                        padding-top: 0px;
                    }
                 }
            }
        }
    }
}
.product-carousel-list .product{
    .product-block {
        &.media{
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid $border-color-base;
            margin-bottom: 0 !important;
        }
     }
    &:first-child{
         .product-block {
            &.media{
                border-top: none;
                margin-top: 0px;
            }
         }
    }
    &:last-child{
         .product-block {
            &.media{
                margin-bottom: 0px;
            }
         }
    }

}
.products-list{
    .product-wrapper{
        .product-block{
            margin-bottom: 20px;
            padding-top: 20px;
        }
        &.top-product{
            .product-block{
                &.media{
                    border-top: none;
                }
            }
        }
    }
    &.style-2{
        .product-wrapper{
            .product-block{
                position: relative;
                overflow: inherit;
                &:before{
                    content: "";
                    display: block !important;
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background: #f4f4f4;
                    top: 5px;
                    right: -30px;
                    z-index: 99;

                }
                &:after{
                    display: none;
                }
            }
            &.first{
                .product-block{
                    &:before{
                        display: none !important;
                    }
                }
                
            }
            .caption{
                .rating{
                    display: none !important;
                }
            }
            &.top-product{
                .product-block{
                    padding-top: 20px !important;
                    &.media{
                        border-top: 1px solid $border-color-base;
                    }
                }
            }
        }
    }
}
/* Product List v2 */
.product-carousel-list-v2{
    .product{
        padding-top: 30px;
        border-top: 1px solid $border-color-base;
        .product-list-v2{
            margin-bottom: 30px;
            display: inline-flex;
        }
       
        &:first-child{
            border-top: none;
        }
    }
}
.products-list-v2{
    .product-wrapper{
        .product-block{
            overflow: inherit;
            clear: both;
            display: flex;
            @media(max-width: $screen-sm-max){
                display: block;
            }
        }
        .product-list-v2{
            margin-top: 30px;
            .caption{
                @media (min-width: $screen-md) and (max-width: $screen-md-max){
                    padding-left: 30px;
                }
            }
        }
        &.top{
            .product-list-v2{
                margin-top: 0px;
            }
        }
    }
}
.product-list-v2{
    padding: 0;
    display: inline-table;
    &:after{
        @media(max-width: $screen-xs-max){
            display: none;
        }
        
    }
    .image{
        width: 46%;
        float: left;
        @media(max-width: $screen-md-max){
            width: 100%;
            float: none;
            margin-bottom: 15px;
        }
    }
    .caption{
        width: 54%;
        padding-left: 30px;
        float: right;
        display: block;
        justify-content: inherit;
        margin: 0;
        text-align: left;
        padding-bottom: 35px;
        @media(max-width: $screen-md-max){
            width: 100%;
            float: none;
            padding-left: 0px;
        }
        @media(max-width: $screen-xs-max){
            padding-bottom: 0;
        }
        .category-name{
            margin-bottom: 5px;
            line-height: 12px;
        }
        .des{
            display: none;
        }
        .name{
            min-height: inherit;
            margin-bottom: 0;
        }
        .add-cart {
            margin-top: 3px;
            position: absolute;
            bottom: 0;
            @media(max-width: $screen-xs-max){
                position: relative;
                margin-top: 10px;
            }
        }
    }
}
/* Special Product */
.special-product{
    .product-block{
        .price{
            line-height: 34px;
            ins{
                font-size: 30px;
            }
            del{
                vertical-align: text-bottom;
            }
        } 
    }
}


 

.button-action{
    left: 50%;
    position: absolute;
    z-index: 999;
    @include translateX(-50%);
    bottom: 20px;
    .button-groups{
        display: flex;
        justify-content: center;
        zoom: 1;
        @extend .box-shadow-v2;
        @include border-radius(20px);
        overflow: hidden;
        @include transition(all 0.5s ease 0s);
        @media (min-width: $screen-lg) {
            opacity: 0;
            transform: scale(0);
        }
        @media (min-width: $screen-md) and (max-width: $screen-lg) {
            opacity: 0;
            transform: scale(0);
        } 
        > div{
            background: #fff;
            opacity: 1; 
            &.yith-wcwl-add-to-wishlist, &.yith-compare, &.quick-view{
                a.add_to_wishlist, a.compare, a.quickview, .yith-wcwl-wishlistaddedbrowse a, .yith-wcwl-wishlistexistsbrowse a,{
                    display: block;
                    @include size(40px, 32px);
                    line-height: 34px;                          
                    padding: 0;
                    @include border-radius(0);
                    i,em{
                        color: #cccccc;
                        font-size: 15px;
                        margin: 0;
                    }
                    &:hover{
                        @include transition(all 0.35s ease 0s);
                        background: $theme-color !important;
                        border-color: $theme-color;
                        i,em{
                            color: $white !important;
                        } 
                        &:before{
                            color: $white;
                        }                  
                    }
                    span{
                        font-size: 0;
                    }
                }
                a.compare{
                    @include size(32px, 32px);
                    @media (max-width: $screen-sm-max){
                         @include size(40px, 32px);
                    }
                    border-left: 1px solid #eaeaea;
                    border-right: 1px solid #eaeaea;
                }
            }
            &.yith-compare{
                .compare.added {
                    color: transparent!important;
                    background: $theme-color;
                    &:before{
                        content: "\f021";
                        font-family: 'FontAwesome';
                        position: absolute;
                        color: $white;  
                        left: 50%;
                        top: 50%;
                        @include translate(-50%,-50%); 

                    }
                }
            } 
            .title{
                display: none;
            }
            .yith-wcwl-wishlistaddedbrowse,
            .yith-wcwl-wishlistexistsbrowse{ 
                .feedback {
                    display: none;
                }

            }
            &.clear{
                display: none;
            }
        }
        .yith-wcwl-wishlistexistsbrowse{
            span{
                display: none;
            }
        }
    }
}
    
div[class*="add-to-wishlist"]{
    margin-top: 0;
    position: relative;
    .ajax-loading{
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.yith-wcwl-add-to-wishlist{
    margin-top: 0;
}

/**
 * Woocommerce archive Products
 */

/**
 * Woocommerce
 */
 
.woocommerce{
    &.archive, &.single-product{
        .opal-breadscrumb {
            margin-bottom: 0px;
			background: transparent;
        }
    }   
}

/**
 * Products Listing In Grid Style
 */

.products-grid{
    background: #fff;
    .row-products{
        margin-left: 0px;
        margin-right: 0px;
        .product-wrapper{
            padding-left: 30px;
            padding-right: 30px;
            &.first{
                .product-block{
                    &:before{
                        display: none;
                    }
                }
            }
        }
        div.product{
            border: none;

        }
    }
    .first{
        clear:both;
    }
    .product-block{

        .name{
            @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }       
        .button-groups {
            > div{ 
                &.yith-wcwl-add-to-wishlist{
                    span{
                        display: none;
                    }
                    .ajax-loading {
                        position: absolute;
                        left: 4px;
                        top: 5px;
                    }
                } 
                .title{
                    display: none;
                }
                .yith-wcwl-wishlistaddedbrowse,
                .yith-wcwl-wishlistexistsbrowse{ 
                    .feedback {
                        display: none;
                    }
        
                }
                &.clear{
                    display: none;
                }
            }
        }
    } 
}
.grid{
    .add_to_wishlist,.quickview{
        span{
            display: none;
        }
    }
}
.products-grid{
    .list{
        .product-block{
            border-top: none;
            border-left: none;
            border-right: none;  
        }
    }
}
.product-wrapper{ 
    &:first-child{
        .product-block {
            border: none;
        }
    }
}
.products{
    &.products-list{
        padding-left: 30px;
        padding-right: 30px;
    }
} 
.products-list, .list{ 
    .product{
        &:first-child{
            .product-block{
                &:after{
                    display: none;
                }
            }
        }
    }
    .rating{
        @include clearfix();
    }
    .clear{
        display: none;
    }
    .product-block{
        display: block;
        padding: 0;
        text-align: left;
        &:before{
            display: none;
        }
        .image{
            text-align: center;
        }
        .name{
            
            text-align: left;
            padding:0;
            font-size: 22px;
            margin-top: 5px;
            margin-bottom: 5px;
            position: relative;
            left: 0;
            top: 0;
            line-height: 25px;
            
        }
        .price{
            display: inline-block;
            line-height: 20px;
            min-height: 20px;
            del > span{
                vertical-align: inherit;
            }
            > *{
                font-size: 18px;
                min-height: 18px;
                @media (min-width: $screen-md) and (max-width: $screen-md-max){
                    display: block;
                }
            }       
        }
        .caption-list{
            .name{
                margin-bottom: 15px;
                font-size: 30px;
                font-weight: 400;
                min-height: inherit;
                line-height: 35px;
            }
            .price > * {
                font-size: 18px;
                min-height: 18px;
            }
        }
        .caption{
            margin-bottom: 0px;
            margin-top: 0;
        }
        .yith-wcwl-wishlistaddedbrowse,
        .yith-wcwl-add-button,
        .yith-wcwl-wishlistexistsbrowse {
            a,
            a.add_to_wishlist {
                color: #666;
                font-weight: 400;
                line-height: 30px;
                &:hover {
                    background: $theme-color;
                    color: $white;
                }
                
            }
        }
        .yith-wcwl-wishlistexistsbrowse {
            a {
                display: none;
            }
        }
        .feedback{
            padding: 5px 0px;
            display: inline-block;
        }
        a.compare,a.quickview{
            color: #666;
            font-weight: 400;
            line-height: 30px;
            display: block;
            .fa{
                margin-right: 10px;
            }
            &:hover {
                background: $theme-color;
                color: $white;
            }
            &.added {
                color: $theme-color;
            }
        }
        .add-cart{
            a.button{
                display: block;
                &:before{
                    margin-right: 10px;
                }
                span{
                    font-size: 13px;
                    color: #666666;
                    text-transform: capitalize;
                }
                &:hover{
                    background: $theme-color !important;
                    span{
                        color: $white !important;
                    }
                    &:before{
                        color: $white;
                    }
                }

            }
            
        }
    }
    .product-wrapper.first{
        clear: both;           
    }
    .type-product:last-child .product-block{ border-bottom:none; }
}

.widget_products{
    .products-inner{
        .product-wrapper{
            &:first-child{
                .product-block{
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
    .products-list{
        .product-wrapper{
            padding: 0 30px;
            &.top-product{
                .product-block{
                    padding-top: 0;
                }
            }
            .name{
                font-size: 14px;
                margin-top: 0;
                line-height: 18px;
            }
        }
    }
}
/**
 * Single product
 */
/*------------------------------------*\
    Quantity inputs
\*------------------------------------*/
.quantity {
    position : relative;
    margin   : 0 auto;
    overflow : hidden;
    zoom     : 1;
    span{
        font-size: $font-size-base + 2;
        margin-right: 5px;
    }
    input.qty {
        @include border-right-radius(0);
        @include border-left-radius(0);
        padding:10px;      
        @include size(45px, 35px);                       
        color: $black;
        font-weight: 400;
        border: 1px solid #e5e5e5;
        &:focus{
            @include form-control-focus();
        }
    }
    .plus, .minus {
        background      : $white;
        float: right;
        clear: right;
        display         : block;
        padding         : 0;
        margin          : 0;
        vertical-align  : text-top;
        text-decoration : none;
        overflow        : visible;
        text-decoration : none;
        cursor          : pointer;
        line-height     : 13px;
        font-size       : 12px;
        color           : $text-color;
        border          : 1px solid $border-color;
        text-align: center;
        @include size(25px , 19px);
    }
    .plus {
        @include border-bottom-radius(0);
         right: 0;
    }
    .minus {
        bottom: 0;
        right: 0;
        @include border-top-radius(0);
    }
}


/* Single > Meta */
.product_meta{
    clear: both;
    padding: 15px 0;
    margin-top: 15px;
    a{
        color: #999999;
        font-size: 14px;
        &:hover{
            text-decoration: none;
            color: $theme-color;
        }
    }
    > span{
        display: block;
        font-weight: 400;
        color: $black;
        > span{
             color: #999999;
        }
    }
    > div{
        margin-bottom:  $theme-margin / 2;
    }
    .posted_in,.tagged_as{
        a{
            font-weight: 300;
        }
    }
} 
.sku_wrapper span {color: $text-color; }
/* page title */
.woocommerce{
    h1{
        &.page-title{
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
}


/* cross-sells */
.woocommerce{
    .cross-sells,.cart_totals{
        .products{
            border:none;
            box-shadow:none;
        }
    }
}
//---------------
.single-product{
    &.woocommerce {
        div.product{
            div.images .imagezoom{
                display: block;
                width: auto;
                margin-bottom: 10px;
                @include transition(all 1s ease);
                position: relative;
                &:hover{
                    &:before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border: 2px solid $theme-color;
                        @include transition(all 1s ease);
                    }
                }
            }
            p.price{
                color: $theme-color;
                font-size: 36px;
                opacity: 1;
                ins{
                    font-weight: 300;
                }
            }
            p.stock{
                padding-top: 5px;
                font-size: 14px;
                span{
                    color: $black;
                    font-weight: 300;
                }
            }
            .description{
                padding-top: 20px;
                border-top: 1px solid #ededed;
            }
            form.cart{  
                margin-bottom: 0;
                border-top: 1px solid $border-color-base;
                border-bottom: 1px solid $border-color-base;
                padding: 20px 0;
                          
                div.quantity{
                    margin-right: 10px;
                    @media (max-width: $screen-sm-max){
                        margin-bottom: 10px;
                    }
                }
                .button{
                    background: $theme-color;
                    font-weight: normal;
                    font-family: $font-family-base;
                    padding: 12px 30px;
                    @include border-radius(25px);
                    i{
                        margin: 0 5px;
                    }
                    &:hover{
                        background: darken($theme-color, 10%);
                    }
                }
                .variations{
                    .label{
                        font-size: 12px;
                        text-transform:uppercase;                      
                        line-height: 35px;   
                        label{
                            font-weight: 500;
                            color: $black;
                        }                    
                    }
                    tr{
                        height: 50px;
                        label{
                            margin-top: 5px;
                        }
                    }
                    select{
                        background: transparent;
                        border: 1px solid #e8e8e8;
                        border-radius: 20px;
                    }
                }
                .single_variation_wrap{
                    .woocommerce-variation-price{
                        .price{
                            line-height: inherit;
                            padding: 0;
                            color: $theme-color;
                        }
                    }
                }
                .group_table{
                    border: none;
                    padding-bottom: 15px;
                    .label{
                        padding: 0;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .price{
                        padding: 0;
                        color: $theme-color;
                        span{
                            line-height: 20px;
                        }
                    }
                }
            }
            form.variations_form{
                float: none;
            }
            p.cart{
                margin-top: 20px;
                > a{
                    background: $theme-color;
                    font-weight: normal;
                    font-family: $font-family-base;
                    padding: 12px 40px;
                    @include border-radius(25px);
                    text-transform: uppercase;
                    line-height: 13px;
                    font-weight: 500;
                    letter-spacing: 1px;    
                     &:hover{
                        background: darken($theme-color, 10%);
                    } 
                }
            }
            .woocommerce-product-rating{
                margin-bottom: 10px;
                .star-rating{
                    color: #ffba00;
                    font-size: 13px;
                    width: 6.4em;
                    letter-spacing: 3px;
                }
            }
        }
        .quantity{            
            .qty{
                width: 100px;
                height: 37px;
                @include border-radius(25px);
            }
        }        
     } 
    .summary{
       @include font-size(font-size, $single-product-summary-font-size);  
       width: 100% !important;     
        .star-rating{
            font-size:12px;
        }
        .product_meta{
            padding-top:30px;
            margin-top: 0;
        }            
    }
}

/* Category Subs */

.opal-category-subs{
    .category-filter-default{
        @media (max-width: $screen-xs-max){
            margin-right: 0;
            border-bottom: 1px solid #ebebeb;
            padding-bottom: 15px;
            margin-bottom: 20px;
        }
        .category-image{
            width: 45%;
            float: left;
            padding-right: 30px;
            margin-top: 5px;
            @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                width: 100%;
                float: none;
                padding: 0;
                text-align: center;
            }
        }
        .category-caption{
            width: 55%;
            float: right;
            @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                width: 100%;
                float: none;
            }
            .category-filter-title{
                color: #5588b7;
                font-size: 18px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 5px;
            }
            .category-filter-content{
                ul{
                    li{
                        line-height: 18px;
                        a{
                            color: #666666;
                            font-weight: 300;
                            font-size: 12px;
                            font-family: $font-family-base;
                            &:hover{
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
            .category-filter-list{
                margin-bottom: 0;
            }
            .category-filter-link{
                float: right;
                letter-spacing: 2px;
                a{
                    font-size: 11px;
                    font-weight: 500;
                    color: $theme-color;
                    text-transform: uppercase;
                }
            }
        }
    }
    &.border-right{
        border: none;
        .category-filter-default{
            .category-caption{
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background: #e8e8e8;
                    right: -30px;
                    @media (max-width: $screen-xs-max){
                        display: none;
                    }
                }
            }
        }
    }
}

// product woocommerce tabs
.single-product{
    .full-text{
        background: $white;
        padding: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        @extend .box-shadow-v2;
        .full-text-description{
            margin-bottom: 30px;
            display: inline-block;
            .kc-elm{
                padding: 0;
            }
        }
        .full-text-description, .full-text-reviews{
            .title{
                font-size: 25px;
                color: #000;
                font-weight: 500;
                margin: 0;
                margin-bottom: 20px;
                display: inline-block;
            }
        }
    }
}

.wc-tabs-wrapper{
    .panel-group{
        &.accordion-group{
            margin-top: 0;
            margin-bottom: 30px;
            .panel{
                margin-top: 30px;
                @extend .box-shadow-v2;
                .tabs-title {
                    padding: 20px 30px;
                    a{
                        font-size: 18px; 
                        color: $black;
                        font-weight: 500;
                        i {
                            right: 15px;
                            top: 25px;
                        }
                        
                    }
                }
                .entry-content{
                    display: inline-block;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }

            #reviews{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .panel{
            width: 100%;
            display: inline-block;
        }
    }
    .tabs-title{
        position: relative;
        padding-top: 25px;
        &:hover{
            a{
                color: $theme-color !important;
            }
        }
        a{
            font-size: 16px;
            font-family: $font-family-base;
            i{
                right: 0;
                margin: 0 !important;
                top: 29px;
            }
        }
    }
    .panel-collapse{
        padding-top: 10px;
    }
    .entry-content{
        > h2{
            display: none;
        }
    }
    h2,h3,h4,h5{
        font-size: 14px;
        font-weight: 400;
        margin-top: 0;
        color: $black;
    }
}
/**
 * Category And Listing Page
 */

 // styling sortorder and display mode
.products-top-wrap{
    background: $white;
    padding: 10px 0;
    margin: 0 30px;
    border-bottom: 1px solid $border-color-base;
    @media (max-width: $screen-xs){
        
        text-align: center;
        > form{
            float: none !important;
        }
    }
    .woocommerce-ordering{        
        float: right;
        margin-top: 10px;
		margin-bottom: 10px;
        border: 1px solid $border-color-base;
        @include border-radius(25px);
        padding-right: 10px;
        z-index: 1;
        select{
            background: $white;
            box-shadow: none;
            -webkit-box-shadow: none;
            @include border-radius(25px);
        }
    }
    .display-mode{
        float: left;
        margin-top: 14px;
        span{
            font-size: 14px;
            color: #666666;
            margin-right: 10px;
            text-transform: capitalize;
        }
        .btn {
            border: none;
            background-color: transparent;
            font-size: 20px;
            line-height: 22px;
            padding: 7px;
            color: #dddddd;                      
            box-shadow: none;
            -webkit-box-shadow: none;
            &.active{
                color: $text-color;
            }
        }        
        button:first-child{
            margin-right: 5px;
        } 
        button{
            border: 1px solid $border-color;
        }
    }
}

.category-banner{
    margin-bottom: 20px;
}

.products-bottom-wrap{
    border-top: 1px solid $border-color-base;
    padding: 30px 0px;
    background: #fff;
    margin-right: 30px;
    margin-left: 30px;
    display: block;
    clear: both;
    .woocommerce-pagination{
        float: left;        
    }
    nav.woocommerce-pagination{
        ul,ul li{
            border:none;
            span.current{
                background: transparent;
                color: $theme-color;
                text-decoration: underline;
                padding: 0px;
                font-weight: bold;
                @include size(35px, 35px);
                line-height: 35px;
                font-weight: 500;
            }
            a{ 
                padding: 0 ;
                @include size(35px, 35px);
                line-height: 35px;
                font-weight: bold;
                color: #666666;
                font-weight: 500;
                 &:hover{
                    background: transparent;
                    color: $theme-color;
                }
            }
        }
    }
    .woocommerce-result-count{
        float: right;
        margin:8px 0;
    }
   
}

/*------------------------------------*\
    Quickview
\*------------------------------------*/
#opal-quickview-modal{
    .modal-dialog{
        overflow: hidden;
        del{
            .amount{
                color: $product-price-old-color;
            }
        }
        &.modal-lg {
            @media(max-width: $screen-sm-max){
                width: 90%;
                margin: 15px auto;
            }
        }
    }
    .product-info{
        margin: 0;
        padding:0;
        @include border-radius(0);
        @include box-shadow(none);
        .summary{
            margin-right: $quickview-product-content-margin;
            width: 95%;
        }
        .product_title{
            padding-top: 0;
            margin-top: 0;
            @include font-size(font-size,$quickview-product-title-font-size);
            color: $brand-primary;
            font-weight: bold;
            font-style: italic;
            font-family: $font-family-base;
            font-weight: normal;
        }
        .product_meta{
            @include clearfix();
            margin: 0;
        }
        p.price{
            color: $black;
            font-size: 30px;
            font-family: $font-family-base;
        }
        a.add_to_cart_button, a.product_type_external{
            padding:12px 20px;
            text-transform: capitalize;
            display: inline-block;
            margin-bottom: 30px;
            background-color: $brand-primary;
            font-family: $font-family-base;
            @include border-radius(20px);
            &:hover{
                background: $theme-color;
            }
            span,i{
                color: $white;
                margin: 0 5px;
            }
        }
        .woocommerce-product-rating{
            .star-rating{
                color: #ffba00;
            }
        }
    }
    .close{
        &:hover{
            .fa,.icon{
                color: $brand-primary;
            }
        }
    }
    #quickview-carousel{
        overflow: hidden;
        &:hover{
            .carousel-control{
                opacity: 1;
                box-shadow: none;
                &:hover{
                    color: $theme-color;
                }
                &.left{
                    left: 15px;
                }
                &.right{
                    right: 15px;
                }
            }
        }
    }
    .carousel-indicators{
        li{
            border-color: $theme-color;
        }
        .active{
            background: $theme-color;
            border-color: $theme-color;
        }
    }
    .carousel-control{
        top: 0px;
        margin: 45% auto;
        font-weight: normal;
        line-height: 32px;
        opacity: 0;
        @include transition(all 0.45s ease);
        &.left{
            left: -45px;
        }
        &.right{
            right: -45px;
        }
    }
}
/* rev_slider_wrapper */
.tparrows.custom.noSwipe{
    @include size(30px, 30px !important);
    background: #c1c2c3;
}
.tp-rightarrow.tparrows.custom.noSwipe{
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    &:before{
        font-size: 9px;
        line-height: 30px;
        content: "\f054";
        font-family: Fontawesome;
    }
}
.tp-leftarrow.tparrows.custom.noSwipe{
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
     &:before{
        font-size: 9px;
        line-height: 30px;
        content: "\f053";
        font-family: Fontawesome;
    }
}
.kc_tab_content{
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}
.opal-category-shop{
    .title{
        color: $product-category-title-color;
        font-size: $product-category-title-size;
        line-height: $product-category-title-size;
        margin-bottom: 40px;
        font-weight: 900;
    }
    .cats-item{
        position: relative;
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
            margin: 0 20px;
        }
        .image-category{
            text-align: center;
            > a{
                display: inline-block;
            }
        }
        .title-category{
            position: absolute;
            bottom: 40px;
            @media (max-width: $screen-sm-max){bottom: 20px;}
            text-align: center;
            display: block;
            width: 100%;
            z-index: 99;
            a{
                font-size: 22px;
                color: #363636;
                font-weight: bold;
                line-height: 24px;
            }
            &:hover{
                a{
                    color: $theme-color;
                }
            }
        }
    }
    &.style-2{
        .title{
            padding-left: 15px;
            padding-right: 15px;
            span{
                display: block;
                margin-left: -15px;
                margin-right: -15px;
            }
        }
        .carousel-controls{
            max-width: 1320px;
            margin: 0px auto;
            position: relative;
        }
        .owl-carousel .owl-item{
            padding: 0;
            border-left: 1px solid #f5f5f5;
            &:first-child{
                border: none;
            }
        }
    }
    &.color-gray{
        .title{
            color: #363636;
        }
        .owl-carousel-play .carousel-control{
            color: #363636;
            border-color: #363636;
            &:hover{
                color: $white;
                border-color: $white;
            }
        }
    }
}
.products-collection{
    margin-bottom: 10px;
    @media (max-width: $screen-md-max){
        margin-bottom: 0px;
    }
    &.product-carousel-list{
        .carousel-controls-v2.carousel-controls {
            top: -95px;
        }
        .owl-carousel{
            .owl-item{
                margin-bottom: 0;
                border-left: 1px solid $border-color-base;
                &.first{
                    border: none;
                }
            }
        }
    }
    &.product-carousel-list-v2{
        .owl-carousel{
            .owl-item{
                margin-bottom: 0;
            }
        }
    }
    .owl-carousel{
        .owl-item{
            @include opacity(0);
            @media (min-width: $screen-md) and (max-width: $screen-md-max){
                padding: 0 20px;
            }
            .product-carousel-item{
                &:first-child{
                    .product-block{
                        &:after{
                            display: none;
                        }
                    }
                }
            }
            &.active{
                position: relative;
                @include opacity(1);
                @include transition(all 0.01s ease 0s);
                .product-block{
                    margin-bottom: 30px;
                    &:before{
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 1px;
                        background: #f4f4f4;
                        top: 0;
                        left: -30px;
                        z-index: 99;
                        @media (min-width: $screen-md) and (max-width: $screen-md-max){
                            left: -20px;
                        }
                   }
                }
                &.first{
                    .product-block{
                        &:before{
                            display: none;
                        }
                    }
                }
            }
        }
        
    }
    &.style-1{
        .carousel-controls-v2.carousel-controls {
            top: -95px;
        }
        .item{
            .main-product{
                width: 66.66666667%;
                float: left;
                @media (max-width: $screen-xs-max){
                    width: 100%;
                    float: none;
                }
                .product-list-v2{
                    padding-right: 30px;
                    @media (max-width: $screen-md-max){
                        padding-right: 15px;
                    }
                    @media (max-width: $screen-xs-max){
                        padding-right: 0;
                    }
                }
            }
            .list-product{
                width: 33.33333333%;
                float: right;
                padding-left: 30px;
                border-left: 1px solid #eaeaea;
                margin-bottom: 0;
                @media (max-width: $screen-md-max){
                    padding-left: 15px;
                    margin-bottom: 20px;
                }
                @media (max-width: $screen-xs-max){
                    width: 100%;
                    float: none;
                    padding-left: 0px;
                    border: none;
                }
                li{
                    margin-bottom: 0 !important;
                    padding-top: 20px;
                    padding-bottom: 0;
                    margin-top: 20px;
                    border-top: 1px solid #eaeaea;
                    &:after{
                        display: none !important;
                    }
                    &:first-child{
                        padding-top: 0;
                        margin-top: 0;
                        border-top: none;
                    }
                    .rating{
                        display: none !important;
                    }
                }
            }
        }
        &.top{
            .main-product{
                width: 100%;
                float: none;
                .product-list-v2{
                    padding-right: 0px;
                    .image{
                        border: none;
                    }
                }
            }
            .list-product{
                width: 100%;
                float: right;
                padding-left: 0px;
                border: none !important;
            }
        }
    }
    &.style-2{
        margin-top: 30px;
        .carousel-controls-v2.carousel-controls {
            top: -95px;
        }
        .item{
            .main-product{
                width: 50%;
                float: left;
                @media (max-width: $screen-sm-max){
                    width: 100%;
                    float: none;
                }
                .product-list-v2{
                    padding-right: 30px;
                    .image{
                        @media (max-width: $screen-sm-max){
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .list-product{
                width: 50%;
                float: right;
                padding-left: 30px;
                border-left: 1px solid #eaeaea;
                margin-bottom: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                position: relative;
                @media (max-width: $screen-sm-max){
                    width: 100%;
                    float: none;
                    padding-left: 0px;
                    border-left: none;
                    margin-bottom: 30px;
                }
                &:before{
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background: #eaeaea;
                    top: 0;
                    left: calc(50% + 30px);
                    @include translateX(calc(-50% - 15px));
                    z-index: 99;
                     @media (max-width: $screen-xs-max){
                        display: none;
                    }
                }
                li{
                    float: left;
                    width: 44%;
                    @media (max-width: $screen-xs-max){
                        float: none;
                        width: 100%;
                    }
                    margin-bottom: 0 !important;
                    padding-top: 20px;
                    padding-bottom: 0;
                    margin-top: 20px;
                    &:after{
                        display: none !important;
                    }
                    &:nth-child(2n+1){
                        clear: both;
                    }
                    &:first-child, &:nth-child(2){
                        padding-top: 0;
                        margin-top: 0;
                        border-top: none;
                        @media (max-width: $screen-xs-max){
                            padding-top: 20px;
                            margin-top: 20px;
                            border-top: 1px solid #eaeaea;
                        }
                    }
                    .rating{
                        display: none !important;
                    }
                    .price > *{
                        @media (min-width: $screen-sm-max) and (max-width: $screen-md-max){
                            display: block;
                        }
                    }
                }
            }
        }
    }
    &.right{
        &.style-1, &.style-2{
             .item{
                .main-product{
                    float: right;
                    .product-list-v2{
                        padding-right: 0px;
                        padding-left: 30px;
                    }

                }
                .list-product{
                    float: left;    
                    padding-left: 0px;
                    padding-right: 30px;
                    border-left: none;
                    border-right: 1px solid #eaeaea;
                } 
            }
        }
        &.style-2 .item{
            .list-product{
                &:before{
                    left: calc(50% - 30px);
                    @include translateX(calc(-50% + 15px));
                }
            } 
        } 
    }
    &.top{
        .item{
            .product-list-v2{
                .image{
                    width: 50%;
                    padding-right: 15px;
                    @media (max-width: $screen-md-max){
                        width: 100%;
                        padding-right: 0;
                    }
                    .button-action{
                        left: calc(50% - 10px);
                    }
                }
                .caption{
                    width: 50%;
                    padding-bottom: 0;
                    padding-left: 15px;
                    @media (max-width: $screen-md-max){
                        width: 100%;
                        padding: 0;
                    }
                    .price{
                        padding: 10px 0;
                    }
                }
            }
        }
    }
    &.top{
        &.style-2{
            margin-top: 0;
            .carousel-controls-v2.carousel-controls {
                top: -95px;
            }
            .item{
                .main-product{
                    width: 100%;
                    float: none;
                    .product-list-v2{
                        padding-right: 0px;
                        padding-bottom: 30px;
                        border-bottom: 1px solid #eaeaea;
                        .image{
                            border: none;
                            @media (max-width: $screen-sm-max){
                                margin-bottom: 15px;
                            }
                        }
                        .caption .add-cart{
                            position: relative;
                        }
                    }
                }
                margin-bottom: 30px;
                .list-product{
                    width: 100%;
                    float: none;
                    margin-bottom: 0;
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    position: relative;
                    border: none !important;
                    .product-block.media{
                        .image{
                            @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                                position: relative;
                                width: 100%;
                            }
                           
                        }
                        .meta{
                            @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                                padding-left: 0;
                                min-height: inherit;
                                margin-top: 15px;
                            }
                            
                        }
                    } 
                    &:before{
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 1px;
                        background: $border-color-base;
                        top: 0;
                        left: 50%;
                        @include translateX(-50%);
                        z-index: 99;
                    }
                    li{
                        float: left;
                        width: 46%;
                        margin-bottom: 0 !important;
                        padding-top: 20px;
                        padding-bottom: 0;
                        margin-top: 20px;
                        border-top: 1px solid #eaeaea;
                        @media (max-width: $screen-xs-max){
                            float: none;
                            width: 100%;
                        }
                        &:after{
                            display: none !important;
                        }

                        &:nth-child(2n+1){
                            clear: both;
                        }
                        &:first-child, &:nth-child(2){
                            padding-top: 0;
                            margin-top: 0;
                            border-top: none;
                            @media (max-width: $screen-xs-max){
                                padding-top: 20px;
                                margin-top: 20px;
                                border-top: 1px solid #eaeaea;
                            }
                        }
                        &:nth-child(even){
                        }
                        .rating{
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}
/* Main Products */

 .main-product{
    .product-block{
        &.product-list-v2{
            .image{
                width: 55%;
                @media (max-width: $screen-xs-max){
                    width: 100%;
                }
                @media (min-width: $screen-sm) and (max-width: $screen-md-max){
                   float: left;
                }
            }
            .caption{
                width: 45%;
                @media (min-width: $screen-sm) and (max-width: $screen-md-max){
                    padding-left: 15px; 
                    float: right;
                }
                @media (max-width: $screen-xs-max){
                    width: 100%;
                }
            }
        }
        margin-top: 0;
        &:after{
            display: none;
        }
        span{
            &.sale-off, &.onsale{
                
            }
        }
        .name{
            font-size: 18px;
            line-height: 25px;
            @media (max-width: $screen-phone){
                font-size: 16px;
                line-height: 20px;
            }
        }
        .des{
            display: block;
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
        }
        .price{
            padding: 25px 0 10px;
            min-height: inherit;
            line-height: inherit;
            margin: 0;           
            > *{
                font-size: 30px;
                min-height: inherit;
            }   
        }
    }
 }
.woocommerce form.login, .woocommerce form.register{
    min-height: 320px;
}

.woocommerce form .form-row{
    margin: 22px 0 11px;
    padding: 0;
}
/* woocommerce cart */

.woocommerce-cart table.cart .product-thumbnail img{
    width:  60px;
} 
.woocommerce-cart{
    &.woocommerce-page{
        .entry-content-page{
            padding-right: 15px;
            padding-left: 15px;

        }
        article.page{
            padding: 0;
            @include border-radius(0);
            @include box-shadow(inherit);
        }
    }
    .woocommerce table.shop_table td{
        padding: 15px 12px;
    }    
    table.shop_table{
        border: none;
        thead{
            border: 1px solid rgba(0,0,0,.1);
            th{
                border: none;
            }
        }
        tbody{
            td{
                border: none;
            }
            .cart_item{
                margin-bottom: 20px;
                .product-name{
                    a{
                        color: #5588b7;
                        font-weight: 500;   
                    }
                }
                .product-quantity{
                    .quantity{
                        input{
                            @include border-radius(20px);
                            border: 1px solid #ebebeb;
                        }
                    }
                }
                .product-remove{
                    a{
                        color: #aaaaaa !important;
                    }
                }
            }
            
        }
    }
    .actions{
        padding-right: 0;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        border-top: 1px solid #ebebeb;
        @media (max-width: $screen-xs-max){
            padding: 30px 15px;
        }
        > input.button{
            @include border-radius(20px);
            padding: 10px 22px !important;
            font-weight: 500;
        }
        .coupon{
            display: flex;
            label{
                display: none;
            }
            .input-text{
                margin: 0 !important;
                height: 42px;
                padding: 15px 20px !important;
                outline: none !important;
                @include border-radius(0);
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                text-transform: capitalize;
                font-size: 12px;
                font-weight: 300;
            }
            input{
                &.button{
                    height: 42px;
                    @include border-radius(0);
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    padding: 12px 15px;
                    background-color: #262626 !important;
                    border-color: #262626 !important;
                    font-size: 12px;
                    font-weight: 500;
                    &:hover{
                        background-color: $theme-color !important;
                        border-color: $theme-color !important;
                        color: $white !important;
                    }     
                }
            }
        }
    }
    .cart-collaterals{
        width: 33.33333%;
        @media (max-width: $screen-sm-max){
            width: 100%;
        }
        .cart_totals{
            float: none;
            width: 100%;
            background: #fafafa;
            padding: 25px;
            @extend .box-shadow-v2;
            @media (max-width: $screen-sm-max){
                margin-top: 30px;
            }
            h2{
                font-size: 24px;
                color: $black;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 20px;
            }
            tbody{
                th, td{
                    border: none;
                    padding: 10px;
                }
                th{
                    font-weight: 500;
                }
            }
        }
        .wc-proceed-to-checkout{
            a{
                background-color: #dedede !important;
                border-color: #dedede !important;
                @include border-radius(20px !important);
                padding: 12px 20px !important;
                @media (max-width: $screen-phone){
                    font-size: 13px;
                }
                &:hover{
                    background-color: $theme-color !important;
                    border-color: $theme-color !important;
                    color: $white !important;
                }
            }
        }
    }
    .woocommerce{
        input{
            &.button{
                background-color: #dedede !important;
                border-color: #dedede !important;
                &:hover{
                    background-color: $theme-color !important;
                    border-color: $theme-color !important;
                    color: $white !important;
                }
            }
        }
    }
}
/* Wishlist Page */
.woocommerce-wishlist{
    &.woocommerce-page{
        .entry-content-page{
            @media (max-width: $screen-phone){
                padding: 7px;
            }
        }
    }
    .wishlist-title h2{
        font-weight: 500;
        margin-bottom: 30px;
    }
    .wishlist_table{
        font-size: 90% !important;
        @media (max-width: $screen-xs-max){
            font-size: 80% !important;
        }
        .product-name{
            a{
                color: #5588b7;
                font-weight: 500;   
            }
        }
        .product-quantity{
            .quantity{
                input{
                    @include border-radius(20px);
                    border: 1px solid #ebebeb;
                }
            }
        }
        .product-price{
            > * {
                    @media (max-width: $screen-phone){
                    display: block;
                }
            }
        }
        .product-remove{
            a{
                color: #aaaaaa !important;
            }
        }
    }
}
.woocommerce form .form-row .input-checkbox{
    position: relative;
}
.woocommerce div.product form.cart .group_table td.label{
    padding-top: 5px;
    vertical-align: middle;
}

/* Woocommerce Page */
.woocommerce-page{
    .entry-content-page{
        display: block;
        overflow: hidden;
        padding: 30px;
        background: $white;
        @extend .box-shadow-v2;
    }
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    border: 1px solid #ebebeb !important;
}
.woocommerce input.button{
    padding: 8px;
    line-height: 1.6;
}

.rtl{
    &.woocommerce #content div.product div.images, 
    &.woocommerce div.product div.images, 
    &.woocommerce-page #content div.product div.images, 
    &.woocommerce-page div.product div.images {
        float: right;
    }
}
.rtl{
    &.woocommerce #content div.product div.summary, 
    &.woocommerce div.product div.summary, 
    &.woocommerce-page #content div.product div.summary, 
    &.woocommerce-page div.product div.summary {
        float: left;
    }
}


/**
 * Shop Categories
 */
.childrens{
    display: block;
    overflow: hidden;
    &.childrens-both{
        border-bottom: 1px solid #eaeaea;
    }    
    .items-cat{
        padding: 0 30px;
        margin-bottom: 30px;
        margin-top: 30px;
        .content-cat{
            position: relative;
            a{
                display: block;
                text-align: center;
            }
            &:after{
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                background: #e8e8e8;
                top: -30px;
                left: 0px;
                z-index: 99;
            }
        }
        h3{
            font-weight: 500;
            font-size: 22px;
            color: $black;
            letter-spacing: -1px;
            margin-bottom: 0;
            mark{
                background: transparent;
                font-size: 14px;
                display: block;
                color: #aaaaaa;
                margin-top: 10px;
            }
        }
        &:hover{
            h3{
                color: $theme-color;
            }  
        }
        &:before{
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            background: #f4f4f4;
            top: 0;
            left: 0px;
            z-index: 99;
        }

        &.top-cat{
            .content-cat{
                 &:after {
                    display: none;
                 }
            }
        }
        &.first{
            &:before{
                display: none;
            }
        }
    }
}

.widget_shopping_cart_content{    
    ul{      
        list-style: none;
        padding-left: 0;
        li{
            img{max-width: 80px;margin-right: 10px;}
        }   
    }
    .buttons{
       display: flex;
       justify-content: space-between;
    }
    
}

// none Box Shadow

body.none-box-shadow{
    .box-shadow-v2, .product-info, .button-action .button-groups, &.single-product .full-text, 
    .wc-tabs-wrapper .panel-group.accordion-group .panel, &.woocommerce-cart .cart-collaterals .cart_totals, 
    &.woocommerce-page .entry-content-page, &.single.woocommerce .product .woocommerce-tabs{
        box-shadow: inherit !important;
    }
}



/**
 * Fix Firefox
 */
@-moz-document url-prefix(){ 
    .products-top-wrap .woocommerce-ordering{padding-right: 0;border-radius: 0;}
}
@-moz-document url-prefix(){.products-top-wrap .woocommerce-ordering select{border-radius: 0;}}


/**
 * Thanks you page
 */
