.widget_nav_menu ul{
    li {
        &:last-child {
            padding-bottom: 0;
        }
    }
}
.woocommerce .sidebar{
    .widget{
        &:not(.widget-woof) {
            padding: 30px;
        }
    }
}
/*------------------------------------*\
    Widget Price Filter
\*------------------------------------*/
.widget_price_filter {
    .ui-slider .ui-slider-handle {
        background-color:$theme-color !important;
        margin-top: 0px !important;
    }
    .price_slider_wrapper{
        padding-top: 10px;
    }
    .price_slider_wrapper .ui-widget-content {
        margin-bottom: 20px;
        background-color:$border-color-base !important;
        height: 6px !important;
    }
    .ui-slider-horizontal .ui-slider-range {
        background: $color-gray-default !important;
        height: 6px !important;
    }
    .price_slider_amount{
        padding-bottom: 30px;
       text-align: left !important;
        .button{
            float: right !important;
            padding: 9px 30px;
            text-transform: uppercase;
            color: $black;
            border-radius: 20px;
            background: #f6f6f6;
            @include box-shadow(inset 0 7px 20px rgba(0,0,0,.07));
            text-transform: capitalize;
            font-weight: normal;
            font-size: 12px;
            &:hover{
                background: $theme-color;
            }
        }
        .price_label{
            font-size: 14px;
            color: $theme-color;
            font-family: $font-family-base;
            font-weight: 300;
            line-height: 31px;
            color: #666666;
            letter-spacing: -1px;
        }
    } 
}

/*------------------------------------*\
    Widget Tag Cloud
\*------------------------------------*/
.widget_tag_cloud{
    border-bottom: none !important;
    .tagcloud{
        padding: 0;
        > a{
            font-size: 10px !important;
            padding: 5px 10px;
            border: 1px solid $border-color-base;
            text-transform: uppercase;
            line-height: 34px;
            font-family: $font-family-base;
            white-space: nowrap;
            border-radius: 20px; 
            &:hover{
                color: $theme-color;
                border-color: $theme-color;
            }
        }
    }
}
/*------------------------------------*\
    Widget Product Tag Cloud
\*------------------------------------*/

.widget_product_tag_cloud{
    &.widget{
        .widget-title, .widgettitle{

        }
    } 
    .tagcloud{
        > a{
            font-size: 12px !important;
            font-weight: 300;
            padding: 0px 15px;
            border: 1px solid $border-color-base;
            @include border-radius(25px);
            line-height: 25px;
            font-family: $font-family-base;
            white-space: nowrap;
            display: inline-block;
            margin-bottom: 8px;
            &:hover{
                color: $theme-color;
                border-color: $theme-color;
            }
        }
    }
}

/*------------------------------------*\
    Product List Widget
\*------------------------------------*/
.widget_top_rated_products{
    ul.product_list_widget{
        li{
            padding-top: 30px !important;
            padding-bottom: 37px !important;
            .star-rating{
                margin: 0 !important;
                height: 11px;
            }
        }
    }
}
.woocommerce{
    ul.product_list_widget{
        list-style: none;
        li{
            padding: 15px 0;     
            border-bottom: 1px solid $border-color-base;     
            &:last-child{
                border-bottom: none;
            }      
            del{
                font-size: $widget-product-list-font-size - 1;
                color: $widget-product-list-color;
            }
            ins{
                color: $black;
                font-size: $widget-product-list-font-size + 3;
                text-decoration: none;
            }          
            img{
                display: table-cell;
                width: $widget-product-list-size;
                float: left;
                margin-left: 0;
                margin-right: 20px;                
            }
            .star-rating{
                font-size: 10px;
                margin: 5px 0;
                span{
                    &:before {
                        color: $brand-warning;
                    }
                }
            }
            .product-title{
                padding: 10px 0;
                text-transform: $widget-product-list-text-transform;
                overflow: hidden;
                display: block;
                line-height: 20px;
                font-family: $font-family-base;
                width: 80%;
            }
            a{
                font-weight: normal;
                text-transform: uppercase;
                margin-bottom: 5px;
                font-family: $headings-font-family;
            }
            .bottom{
                display: table-cell;
            }
        }
    }
}

/**
 * Styling special product block.
 */
.products.related, .products.upsells{
    padding: $block-module-padding;
    margin-bottom: 30px;
    .owl-controls{
        display: none !important;
    }
}
.products.related h2, .product > #reviews > h3, .products.upsells h2 {
    color: $block-module-heading-color;
    padding: $block-module-heading-padding 0;
    margin: $block-module-heading-margin;
    font-size: $block-module-heading-font-size;
    position: relative;
    letter-spacing:2px;
    z-index: 10; 
}
.product > #reviews {
	border:solid 1px $border-color;
	margin-bottom:  $block-module-margin-bottom ;
}

/**
 * Deal Modules
 */

 .woo-deals{
    .carousel-inner{
        overflow:visible;
    }
    .owl-carousel-play{
        
    }
    .owl-carousel .owl-item{
        .product-block{
            &:after{
                display: none;
            }
        }
    }
    .products-grid{
        .item{
            .product-wrapper{
                padding: 0 30px;
                &:first-child{
                    .product-block{
                        &:before{
                            display: none;
                        }
                   } 
                }
            }
            &.active{
               .product-block{
                    &:after{
                        display: none;
                    }
                } 
            }
        }
    }
    .product-block{
        display: block;
        .image{
            width: 45%;
            float: left;
            @media (max-width: $screen-sm-max){
                width: 100%;
                float: none;
            }
        }
            .caption{
                width: 55%;
                @media (max-width: $screen-sm-max){
                    width: 100%;
                    float: none;
                    margin-top: 30px;
                    padding-left: 0px;
                    padding-bottom: 0;
                    min-height: inherit;
                }
                padding-left: 30px;
                float: right;
                display: block;
                justify-content: inherit;
                margin: 0;
                text-align: left;
                min-height: 162px;
                padding-bottom: 25px;
                position: relative;
            .category-name{
                margin-bottom: 10px;
                line-height: 12px;
            }
            .add-cart {
                position: absolute;
                bottom: 0;
                @media (max-width: $screen-sm-max){
                    position: relative;
                }
            }
        }
    }
    .product-style-grid{
        .image{
            width: 100%;
            float: none;
        }
        .caption{
            min-height: 100px;
            width: 100%;
            float: none;
            padding: 0;
            padding-top: 23px;
            .add-cart {
                position: absolute;
                bottom: 3px;
                right: 0;
            }
        }
    }
    
    .time{
        text-align: left;
        clear: both;
        padding-top: 30px;
        border-top: 1px solid $border-color-base;
        margin-top: 30px;
        display: inline-block;
        width: 100%;
        > span{
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 15px;
            display: block;
            font-weight: 500;
        }
    }
    .countdown-times{
        display: block;
        > div{
            z-index: 9;
            position: relative;
            font-size: 12px;
            color: #aaaaaa;
            font-weight: 300;
            text-transform: capitalize;  
            background: transparent;    
            font-family: $font-family-base;
            float: left;
            line-height: 18px;
            position: relative;
            padding-right: 12px;
            &.seconds{
                padding-right: 0px;
                > b{
                    &:after{
                        display: none;
                    }
                }
            }
            > b{
                font-size: 24px;
                font-weight: 500;
                color: $black; 
                display: block;
                padding-top: 10px;
                margin-bottom: 3px;
                &:after{
                    content: ":";
                    position: relative;
                    @include size(10px, 10px);
                    font-size: 24px;
                    color: $black;
                    margin-left: 12px;
                }
            }
        }
    }
    .product{
        &.product-deals{
            .product-block{
                .images{
                    width: 100%;
                    float: none;
                    display: flex;
                    margin-bottom: 0;
                    @media (max-width: $screen-xs-max){
                        display: block;
                    }
                    .main-image{
                        width: 79.5%;
                        position: relative;
                        @media (max-width: $screen-xs-max){
                            width: 100%;
                        }
                    }
                    .image-additional-carousel{
                        width: 20.5%;
                        @media (max-width: $screen-xs-max){
                            width: 100%;
                            margin-top: 10px;
                            text-align: left;
                        }
                        .owl-wrapper-outer{
                            .owl-item{
                                padding: 0 0 0 10px;
                                a{
                                    display: block;
                                    margin-bottom: 10px;
                                    @media (max-width: $screen-xs-max){
                                        max-width: 50px;
                                        display: inline-table;
                                        margin-right: 5px;
                                    }
                                    
                                    &:last-child{
                                        margin-bottom: 4px;
                                    }
                                }
                            }
                        }
                    }
                }
                .bottom{
                    text-align: left;
                    margin-top: 45px;
                }
                .caption{
                    width: 100%;
                    padding-left: 0;
                    min-height: inherit;
                    padding-bottom: 0;
                    .name{
                        min-height: 50px;
                        font-size: 18px;
                        line-height: 25px;
                    }
                }
                .time{
                    margin-top: 25px;
                    span{
                        font-weight: 500;
                    }
                } 
            }
        }
    }
}

/**
 * Widget Products Categories Menu 
 */

.widget_product_categories,.widget_categories{
    .widget-title{
        margin-bottom: 0;
    }
}
ul.product-categories{
    list-style: none;
    margin: 0;
    background: $white;
    li{
        border-bottom: 1px solid #e5e5e5;
        &.current-cat,&.current-cat-parent{
            > a{
                color: $theme-color;
            }
        }
        &.cat-parent {
            i{
                color: #7f7f7f;
                &:before{
                    content: "\f107";
                }
            }
            .children {
                border-top: 1px solid #e5e5e5;
                > li{
                    padding-left: 20px;
                    &:before{
                        position: absolute;
                        font-family: FontAwesome;
                        content: "\f192";
                        color: #b1b1b1;
                        font-size: 13px;
                        left: 5px;
                        top: 10px;
                    }
                    &.current-cat{
                        > a{
                            color: $theme-color;
                        }
                    }
                }
            }
        }
       
    }
    li {
        position: relative;
        .closed ,.opened {
            position: absolute;
            right: 0;
            top: 10px;
            content: "";
            font-size: 0;
            color: #aaa;
            cursor: pointer;
            @include size(20px,20px);
            line-height: 20px;
            text-align: center;
            &:hover{
                color: $theme-color;
            }
        }
        .closed{
            background:  url('#{$image-theme-path}opened.png') no-repeat 50% 50%;
        }
        .opened{
            
            background:  url('#{$image-theme-path}closed.png') no-repeat 50% 50%;
        }
        a{
            padding: 10px 0px;
            display: inline-block;
            color: $color-gray-default;
            font-size: 15px;
            text-transform: capitalize;
            font-family: $headings-font-family;
            font-weight: 500;
            &:hover{
                color: $theme-color;
            }
        }
        li {

            a {
                font-size: 14px;
                font-family: $font-family-base;
                padding: 10px;
                text-transform: none;
                color: #666666;
                font-weight: 400;
                &:hover{
                    color: $theme-color;
                }
            }
        }
        &:last-child{
            border-bottom: none;
        }
    }
} 

/*
**  opal category list
*/
.opal-category-list{
    #opal-accordion-categories{
        .category-title {
            border-bottom: $block-sidebar-hightlight-border;
            padding: $block-sidebar-list-hightlight-padding;
            padding-right: 20px;
            padding-left: 30px;
            width: 100%;
            background: url(#{$image-theme-skin}list-style.png) no-repeat 15px 25px $nocolor;
            a{
                text-transform: $block-sidebar-hightlight-transform;
                font-size: $block-sidebar-hightlight-font-size;
                &:hover{
                    color: $theme-color;
                }
            }
            a.dropdown{
                float: right;
                margin-left: 10px;
            }
            .total-product{
                display: inline-block;
            }
        }
        .panel-collapse{
            .category-title{
                padding-top: 0;
                padding-bottom: 0;
                border: none;
                background-position: 12px 12px;
                a{
                    font-size: $block-sidebar-hightlight-font-size - 1;
                }
            }    
        }
    }
}

/*------------------------------------*\
    Cart
\*------------------------------------*/
.cart_list{
    > div{
        margin: 10px 0;
        padding: 10px 0;
    }
   .name{
        font-size: $font-size-base;
        font-weight: normal;
        line-height: 20px;
        text-transform: none;
        margin-top: 0;   
        font-family: $font-family-base;
    }

    .image{
        @include size(82px,82px);
    }
    .cart-item{
        line-height: 1.1;
        margin: 0;
        font-size: $font-size-base;
        .amount{
            font-size: $font-size-base;
            color: $widget-product-list-color;
        }
    }
    .cart-main-content{
        text-align: left;
        position: relative;
        .remove{
            position: absolute;
            right: 0;
            top: auto;
            @include font-size(font-size,25px);
            bottom: 10px;
            height: 20px;
            font-weight: normal;
            color: $gray !important;
            &:hover{
                background:transparent;
                color: $theme-color !important;
            }
        }
    }
    + .total{
        text-align: right;
        margin-top: 10px;
        padding: 0 15px;
        .amount{
            font-size: $font-size-base + 1 ;            
        }
    }
}


//Widget Shopping Cart
.widget_shopping_cart {
    .widget_shopping_cart_content{
        .buttons{
            padding: 20px 15px;
            overflow: hidden;
        }
    }
}

/*------------------------------------*\
    flickr-gallery
\*------------------------------------*/
.flickr-gallery{
    margin-top: 20px;
    .flickr_badge_image{
        display: inline-block;
        padding: 5px;
        img{
            width: 60px;
        }
    }
}
