/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
 img{
    max-width: 100%;
    height:auto;
 }
 
 .sticky, .tag-sticky-2{
    border: 2px solid rgba(242, 138, 82, 0.5) !important;
 }
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #f8f8f8;
    border: 1px solid #eee;
    max-width: 100%;
    margin: 0 auto 20px;
    text-align: center;
    padding-top: 4px;
     clear: both;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption.alignnone{
    display: inline-block;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.nopadding{
   padding:0!important;
   margin:0!important;
}

.video-responsive {
    height: 0;
    padding-top: 0;
    padding-bottom: 56.25%;
    margin-bottom : 10px;
    position: relative;
    overflow: hidden;
  embed,iframe,object,video{
    top: 0;
    left: 0;
    position: absolute;
        @include square(percentage(1));
  }
}
 
.audio-responsive{
  iframe{
    @include size(percentage(1), 126px);
  }
}
.links{
  @media(min-width: $screen-lg){
    padding:0 20px !important;
  }
  @media (min-width: $screen-md) and (max-width: $screen-md-max){
      padding-left: 40px !important;
  }
  @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    padding-left: 40px !important;
  }
  li{
    padding: 0 5px;
    position: relative;

    &:before{
        content:"";
        position: absolute;
        width: 2px;
        height: 10px;
        background: $border-color;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
    }
    a{
      padding:15px 5px;
      text-transform: uppercase;
    }
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      &:before{
        display: none;
      }
      padding-right: 0;

    }
  }
}

.form-row {
    @extend .form-group;
}

/**
 * 4.0 Elements
 */

hr {
  background-color: #eaeaea;
  background-color: rgba(51, 51, 51, 0.1);
  border: 0;
  height: 1px;
  margin-bottom: 1.6em;
}

dl {
  margin-bottom: 1.6em;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.6em;
}

table,
th,
td {
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.6em;
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: 700;
}

td {
  border-width: 0 1px 1px 0;
}

th, td {
  padding: 0.4em;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
}

del {
  opacity: 0.8;
}
input{
  border: 1px solid $border-color;
  font-size: 14px;
  line-height: 1.714; 
  &[type="radio"], &[type="checkbox"]{
    height: auto;
  }
  
}
.post-password-form{
  position: relative;
  label {
    input{
      @media (max-width: $screen-phone){
        width: 100%;
      }
    }
  }
  input[ type="submit"]{
    background-color: #222;
    padding-left:  25px;
    padding-right: 25px;
    color: #fff;
    line-height: 25px;
    &:hover{
      background-color: #000;
    }
    @media (max-width: $screen-phone){
       position: absolute;
       right: 0;
       z-index: 99;
       bottom: 4px;
      }
  }
}