/*Space
------------------------------------*/
/*Margin Top*/
.space-top-5  {margin-top: 5px !important;}
.space-top-10 {margin-top: 10px !important;} 
.space-top-15 {margin-top: 15px !important;}
.space-top-20 {margin-top: 20px !important;}
.space-top-25 {margin-top: 25px !important;}
.space-top-30 {margin-top: 30px !important;}
.space-top-35 {margin-top: 35px !important;}
.space-top-40 {margin-top: 40px !important;}
.space-top-45 {margin-top: 45px !important;}
.space-top-50 {margin-top: 50px !important;}

/*Margin Bottom*/
.space-5  {margin-bottom: 5px !important;}
.space-10 {margin-bottom: 10px !important;} 
.space-15 {margin-bottom: 15px !important;}
.space-20 {margin-bottom: 20px !important;}
.space-25 {margin-bottom: 25px !important;}
.space-30 {margin-bottom: 30px !important;}
.space-35 {margin-bottom: 35px !important;}
.space-40 {margin-bottom: 40px !important;}
.space-45 {margin-bottom: 45px !important;}
.space-50 {margin-bottom: 50px !important;}

/*padding Bottom*/
.space-padding-29{padding-bottom: 29px !important;@media (max-width: $screen-md-max){padding-bottom: 0 !important;}}

.no-margin-bottom{
    margin-bottom: 0;
}

.title-no-margin-bottom{
    .widget .widget-title, .widget .widgettitle{
        margin-bottom: 0;
    }
}
.space-padding-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

/*Add 5 colum*/
.col-lg-2-4{
  @include make-lg-column(2.4)
}
.col-md-2-4{
  @include make-md-column(2.4)
}
.col-sm-2-4{
  @include make-sm-column(2.4)
}

.col-md-push-2-4{
  @include make-md-column-push(2.4)
}
.col-md-pull-2-4{
  @include make-md-column-pull(2.4)
}
.col-md-offset-2-4{
  @include make-md-column-offset(2.4)
}

/*Padding Around the Block*/
.space-padding-0{
    padding: 0 !important;
}
.space-padding-10 {
    padding: 10px !important;
}
.space-padding-20 {
    padding: 20px !important;
}
.space-padding-30 {
    padding: 30px !important;
}
.space-padding-40 {
    padding: 40px !important;
}
.space-padding-50 {
    padding: 50px !important;
}
.space-right-5{
    padding-right: 5px;
}
.space-right-10{
    padding-right: 10px;
}
.space-right-13{
    padding-right: 13px;
}
.hasborder{
    border:1px solid $border-color !important;
}
.noborder{
    border:1px solid transparent !important;
}
.border-top{
    border-top:1px solid $border-color !important;
    margin-top: 2px;
}
.border-right{
    @media(min-width: $screen-lg){
        border-right: 1px solid $border-color;
    }    
}
.border-left{
    @media(min-width: $screen-lg){
        border-left: 1px solid $border-color;
    }    
}
.line-height-30 {
    line-height: 30px;
}
.bg-none{
    background:transparent !important;
}

.before{
    padding-right: 27px;
    position: relative;
    &:before{
        position: absolute;
        content: "";
        background: #dcdcdc;
        right: 13px;
        top: 50%;
        width: 1px;
        height: 25px;
        @include translateY(-50%); 
    }
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
 .no-space-row {
	.row,.kc_column{
		margin: 0;
	}
}
.no-space-row [class^="kc_col-"],
.no-space-row [class*="kc_col-"] {
	padding: 0;
}
.no-space-row [class^="col-"],
.no-space-row [class*="col-"] {
    padding: 0;
}
.no-padding{
    margin: 0 !important;
    padding:0 !important;
}
.bg-white{
	background:#FFF;
}
.bg-primary{
    background:$brand-primary;
}
.box-shadow{    
    @include box-shadow(0 0 4px 0 rgba(0,0,0,.11));
    background: #fff;   
}
.box-shadow-none{
    @include box-shadow(inherit !important);
}

.btn-outline-light{
  @include button-variant-outline( #FFFFFF, transparent,  #FFFFFF, #FFFFFF, $element-color-primary, $element-color-primary);
} 

.btn-outline-dark{
  @include button-variant-outline( #000, transparent,  #000, $white, $element-color-primary, $element-color-primary);
} 

.btn-inverse-light{
  @include button-variant-outline( $brand-primary, #FFFFFF, #FFF, #FFFFFF, transparent,  #FFFFFF );
} 

.btn-outline{
    @include button-outline(default, #000, #FFFFFF );
    @include button-outline(primary, $brand-primary, #FFFFFF );
    @include button-outline(success, $element-color-primary, #FFFFFF );
    @include button-outline(info, $brand-info, #FFFFFF );
    @include button-outline(danger, $brand-danger, #FFFFFF );
    @include button-outline(warning, $brand-warning, #FFFFFF );
}
.btn-inverse{
    @include button-inverse(primary, $brand-primary, #FFFFFF );
    @include button-inverse(success, $element-color-primary, #FFFFFF );
    @include button-inverse(info, $brand-info, #FFFFFF );
    @include button-inverse(danger, $brand-danger, #FFFFFF );
    @include button-inverse(warning, $brand-warning, #FFFFFF );
}
.btn-3d{    
    border: 0 none;
    box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.15) inset;
}
.border-bottom{
    border-bottom: 1px solid $border-color-base;
}
/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.float-none{
    float: none !important;
    display: block;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	position: relative;
	width: 100%;
    height: auto !important;
    direction: ltr !important;
    overflow: hidden;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
    padding: 0 30px;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-controls .owl-buttons .owl-prev{
  left: 10px;
  top: 50%; 
}

.owl-controls .owl-buttons .owl-next{
  right: 10px;
  top: 50%;
}
/* mouse grab icon */
.grabbing { 
    
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

/* OpenCart Code */
.owl-carousel {
	margin: 0 0px; 
}
.owl-carousel .owl-buttons div {
	opacity: 0; 
	color: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	transition: all .3s ease;
}
.owl-carousel:hover .owl-buttons div {
	opacity: 0.7;
}
.owl-carousel .owl-buttons div i {
	font-size: 40px;
	margin: -20px 0 0;
}

.owl-carousel .owl-buttons .owl-prev {
	left: -50px;  
}
.owl-carousel .owl-buttons .owl-next {
	right: -50px; 
}
.owl-carousel:hover .owl-buttons .owl-prev {
	left: 10px; 
}
.owl-carousel:hover .owl-buttons .owl-next {
	right: 10px; 
}
.owl-pagination {
	text-align: center;
	top: 0px;
	position: relative;
    margin-bottom: 30px;
}
.owl-controls .owl-page {
	display: inline-block;
	margin: 0px 6px;
}
.owl-controls .owl-page span {
	display: block;
    @include size(8px,8px);
	background:$theme-color;
	border-radius: 20px;
/* 	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);	 */
}
.owl-controls .owl-page.active{
    position: relative;
    top: 4px;
}
.owl-controls .owl-page.active span {
	background:transparent;
    border:2px solid $theme-color;
    @include size(14px,14px);
}

.owl-carousel-play{
	position:relative;
    margin-left: 0;
    margin-right: 0;
	.owl-item{
	}
    .owl-controls{
        display: none !important;
    }
}

.owl-carousel-play {
    .carousel-controls{
        position: absolute;
        z-index: 1;
        display: inline-block;
        right: 10px;
        min-width: 75px;
        height: 45px;
    }
    .carousel-control{
        z-index: 1;
        right: 0;
        top: 0;
        font-size: 24px;
        position: absolute;
        -webkit-transition: all .5s ease-in-out 0s;
        transition: all .5s ease-in-out 0s;
        color: #b2b2b2;
        background: transparent;
        &:hover,
          &:focus{
            color: $theme-color;
            box-shadow: inherit;
          }
    }
}
.owl-carousel-play{
    .carousel-controls{
        &.carousel-controls{
            top: -90px;
        }
    }
}
.owl-carousel-play{
     .carousel-controls-v2{
        &.carousel-controls{
            top: -68px;
        }
    }
}
.owl-carousel-play{
    .carousel-controls-v3{
        &.carousel-controls{
            top: -60px;
        }
    }
    .carousel-controls-v3{
        min-width: 235px;
        height: auto;
        .carousel-control{
            position: relative;
            font-size: 12px;
            color: #aaaaaa;
            text-transform: uppercase;
            height: auto;
            width: auto;
            span{
                font-size: 24px;
                position: relative;
                top: 3px;
                margin-right: 8px;
            }
            &.left{
                padding-right: 15px;
                &:after{
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 12px;
                    top: 3px;
                    right: 0;
                    background: $theme-color;
                }
            }
            &.right{
                 padding-left: 17px;
                 span{
                    margin-left: 8px;
                 }
            } 
            &:hover{
                color: $black;
            }
        }
    } 
}
.carousel-v1{
    .owl-carousel-play{
        .carousel-control{
            top: -10%;
        }
    }
}

.carousel-md {
	@include size($bo-carousel-md-width, $bo-carousel-md-height);
	 line-height: $bo-carousel-md-height;
     > span{
        line-height: $bo-carousel-md-height;
     }
}
.carousel-sm {
	@include size($bo-carousel-sm-width, $bo-carousel-sm-height);
	 line-height: $bo-carousel-sm-height;
	 font-size: 14px;
    > span{
        line-height: $bo-carousel-sm-height;
    }
}
.carousel-xs {
	@include size($bo-carousel-xs-width, $bo-carousel-xs-height);
	 line-height: $bo-carousel-xs-height;
	 font-size: 14px;
    > span{
        line-height: $bo-carousel-xs-height;
    }
}

/*Font Weight*/
.fweight-100 {font-weight: 100 !important;}
.fweight-200 {font-weight: 200 !important;}
.fweight-300 {font-weight: 300 !important;}
.fweight-400 {font-weight: 400 !important;}
.fweight-500 {font-weight: 500 !important;}
.fweight-600 {font-weight: 600 !important;}
.fweight-700 {font-weight: 700 !important;}
.fweight-800 {font-weight: 800 !important;}
.text-big-1{
    font-size: 16px;
}
.text-big-2{
    font-size: 24px;
    font-weight: 600;
}
.text-big-3{
    font-size: 48px;
}
.text-purple {
	color: #6c58bd !important;
}

.text-red{
	color: #c32322 !important;
}
.text-red-1{
  color: #ff0000!important;
}
.text-orange {
	color: #f66000 !important;
}

.text-yellow {
	color: #e2d951 !important;
}
.text-black {
  color:#000!important;
}
.text-white, .text-light{
	color:#FFFFFF!important;
    a{
        color: #ffffff !important;
    }
}

.text-darker {
	color:#333!important;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-gray40{
    color: #999999 !important;
    a{
        color: #999999 !important;
    }
}
.text-gray60{
    color: #666666 !important;
    a{
        color: #666666 !important;
    }
}
.text-very-light-Grey{
    color: #cecece !important;
    a{
        color: #cecece !important;
    }
}
.text-primary{
    color: $theme-color;
} 
/*Radius
------------------------------------*/
.radius-0 {
	border-radius: 0 !important;
}

.radius-x {
	border-radius: 50% !important;
}

.radius-1x {
	border-radius: 10px !important;
}

.radius-2x {
	border-radius: 20px !important;
}

.radius-3x {
	border-radius: 30px !important;
}

.radius-4x {
	border-radius: 40px !important;
}

.radius-5x {
	border-radius: 5px !important;
}

.radius-6x {
	border-radius: 3px !important;
}

/**
 * Menu
 */
 ul.menu {	
 	padding:0;
 	margin:0;
 	li{
 		list-style: none;
 	}		
 }

/****/

.testimonial{
    display: inline-block;
    padding: 25px;
    text-align: center;
}
/** SOCIAL ICONS ***/
.bo-social-icons{    
    [class^="bo-social-"]{             
        color:#FFFFFF;               
        display:inline-block;                
        margin: 10px 5px;
        overflow: hidden;
        text-decoration: none; 
        text-align: center;       
        vertical-align: top;
        line-height: 36px;                        
        @include square(36px);
        background: $border-color-base;
        color: darken($border-color, 30%);
        transition: all 0.2s ease-out 0s;
        &:hover{
            background:#000000;
            color:#FFFFFF;
            @include border-radius(50%);
        }
        > .fa{
           line-height: 36px; 
        }
    } 
    .bo-social-white{
        background: #FFFFFF;
        color: darken($border-color, 30%);
        border: 1px solid darken($border-color, 30%);
    }   
    .bo-social-outline{
        background: transparent;
        color: #000;
        border: 1px solid #000;
    }   
    .bo-social-outline-light{
        background: transparent;
        color: #FFF;
        border: 1px solid #FFFFFF;
        &:hover{
            background: #FFF;
            color: #000;
            border-color: #000;
        }
    }
    &:first-child{
        [class*="bo-social-"]{
            margin-top: 0;
        }
    }
    &:last-child{
        [class*="bo-social-"]{
            margin-bottom: 0;
        }
    }
    &.bo-sicolor{
        [class*="bo-social-"]{
            color: #FFFFFF;
            margin-bottom:10px;
        }
    }
}
.bo-sicolor{        
    .bo-social-twitter{background: #00bdec;} .bo-social-twitter:hover{background: #000000;}
    .bo-social-dribbble{background: #ef5b92;} .bo-social-dribbble:hover{background: #000000;}
    .bo-social-facebook{background: #3b5998;} .bo-social-facebook:hover{background: #000000;}
    .bo-social-duckduckgo{background: #de3100;} .bo-social-duckduckgo:hover{background: #000000;}
    .bo-social-aim{background: #158799;} .bo-social-aim:hover{background: #000000;}
    .bo-social-delicious{background: #183864;} .bo-social-delicious:hover{background: #000000;}
    .bo-social-paypal{background: #32689a;} .bo-social-paypal:hover{background: #000000;}
    .bo-social-android{background: #8ab733;} .bo-social-android:hover{background: #000000;}
    .bo-social-gplus{background: #d94a39;} .bo-social-gplus:hover{background: #000000;}
    .bo-social-lanyrd{background: #3879ba;} .bo-social-lanyrd:hover{background: #000000;}
    .bo-social-stumbleupon{background: #ea4b24;} .bo-social-stumbleupon:hover{background: #000000;}
    .bo-social-fivehundredpx{background: #00a6e1;} .bo-social-fivehundredpx:hover{background: #000000;}
    .bo-social-pinterest{background: #b8242a;} .bo-social-pinterest:hover{background: #000000;}
    .bo-social-bitcoin{background: #f7931a;} .bo-social-bitcoin:hover{background: #000000;}
    .bo-social-w3c{background: #005a9c;} .bo-social-w3c:hover{background: #000000;}
    .bo-social-foursquare{background: #3bb7e8;} .bo-social-foursquare:hover{background: #000000;}
    .bo-social-html5{background: #e44e26;} .bo-social-html5:hover{background: #000000;}
    .bo-social-ie{background: #00ccff;} .bo-social-ie:hover{background: #000000;}
    .bo-social-grooveshark{background: #f66f00;} .bo-social-grooveshark:hover{background: #000000;}
    .bo-social-ninetyninedesigns{background: #ff5501;} .bo-social-ninetyninedesigns:hover{background: #000000;}
    .bo-social-forrst{background: #223f17;} .bo-social-forrst:hover{background: #000000;}
    .bo-social-spotify{background: #8fbd05;} .bo-social-spotify:hover{background: #000000;}
    .bo-social-reddit{background: #ff4500;} .bo-social-reddit:hover{background: #000000;}
    .bo-social-gowalla{background: #f6911d;} .bo-social-gowalla:hover{background: #000000;}
    .bo-social-apple{background: #5f5f5f;} .bo-social-apple:hover{background: #000000;}
    .bo-social-blogger{background: #fb9241;} .bo-social-blogger:hover{background: #000000;}
    .bo-social-cc{background: #5e7c00;} .bo-social-cc:hover{background: #000000;}
    .bo-social-evernote{background: #61b239;} .bo-social-evernote:hover{background: #000000;}
    .bo-social-flickr{background: #ff0084;} .bo-social-flickr:hover{background: #000000;}
    .bo-social-google{background: #d94a39;} .bo-social-google:hover{background: #000000;}
    .bo-social-viadeo{background: #f5a433;} .bo-social-viadeo:hover{background: #000000;}
    .bo-social-instapaper{background: #eaec08;} .bo-social-instapaper:hover{background: #000000;}
    .bo-social-klout{background: #e34600;} .bo-social-klout:hover{background: #000000;}
    .bo-social-linkedin{background: #1b92bd;} .bo-social-linkedin:hover{background: #000000;}
    .bo-social-meetup{background: #e51938;} .bo-social-meetup:hover{background: #000000;}
    .bo-social-vk{background: #587da4;} .bo-social-vk:hover{background: #000000;}
    .bo-social-disqus{background: #2e9fff;} .bo-social-disqus:hover{background: #000000;}
    .bo-social-rss{background: #ff7f00;} .bo-social-rss:hover{background: #000000;}
    .bo-social-skype{background: #18b7f1;} .bo-social-skype:hover{background: #000000;}
    .bo-social-youtube{background: #c4302b;} .bo-social-youtube:hover{background: #000000;}
    .bo-social-vimeo{background: #01557a;} .bo-social-vimeo:hover{background: #000000;}
    .bo-social-windows{background: #00ccff;} .bo-social-windows:hover{background: #000000;}
    .bo-social-xing{background: #036567;} .bo-social-xing:hover{background: #000000;}
    .bo-social-yahoo{background: #61399d;} .bo-social-yahoo:hover{background: #000000;}
    .bo-social-chrome{background: #58b947;} .bo-social-chrome:hover{background: #000000;}
    .bo-social-macstore{background: #6e6e6e;} .bo-social-macstore:hover{background: #000000;}
    .bo-social-amazon{background: #ff9900;} .bo-social-amazon:hover{background: #000000;}
    .bo-social-steam{background: #a5a4a1;} .bo-social-steam:hover{background: #000000;}
    .bo-social-dropbox{background: #7ab6ec;} .bo-social-dropbox:hover{background: #000000;}
    .bo-social-cloudapp{background: #489dde;} .bo-social-cloudapp:hover{background: #000000;}
    .bo-social-ebay{background: #86b817;} .bo-social-ebay:hover{background: #000000;}
    .bo-social-github{background: #667F8E;} .bo-social-github:hover{background: #000000;}
    .bo-social-googleplay{background: #5befd0;} .bo-social-googleplay:hover{background: #000000;}
    .bo-social-itunes{background: #177ac8;} .bo-social-itunes:hover{background: #000000;}
    .bo-social-plurk{background: #a73d07;} .bo-social-plurk:hover{background: #000000;}
    .bo-social-songkick{background: #f80046;} .bo-social-songkick:hover{background: #000000;}
    .bo-social-lastfm{background: #c60e16;} .bo-social-lastfm:hover{background: #000000;}
    .bo-social-gmail{background: #e04a3f;} .bo-social-gmail:hover{background: #000000;}
    .bo-social-pinboard{background: #224cf4;} .bo-social-pinboard:hover{background: #000000;}
    .bo-social-openid{background: #be661b;} .bo-social-openid:hover{background: #000000;}
    .bo-social-quora{background: #c41a00;} .bo-social-quora:hover{background: #000000;}
    .bo-social-soundcloud{background: #ff5c00;} .bo-social-soundcloud:hover{background: #000000;}
    .bo-social-tumblr{background: #395874;} .bo-social-tumblr:hover{background: #000000;}
    .bo-social-eventasaurus{background: #b9f15e;} .bo-social-eventasaurus:hover{background: #000000;}
    .bo-social-wordpress{background: #464646;} .bo-social-wordpress:hover{background: #000000;}
    .bo-social-yelp{background: #c41200;} .bo-social-yelp:hover{background: #000000;}
    .bo-social-intensedebate{background: #00aeef;} .bo-social-intensedebate:hover{background: #000000;}
    .bo-social-eventbrite{background: #ff6c00;} .bo-social-eventbrite:hover{background: #000000;}
    .bo-social-scribd{background: #002939;} .bo-social-scribd:hover{background: #000000;}
    .bo-social-posterous{background: #f8d667;} .bo-social-posterous:hover{background: #000000;}
    .bo-social-stripe{background: #617ee8;} .bo-social-stripe:hover{background: #000000;}
    .bo-social-opentable{background: #990000;} .bo-social-opentable:hover{background: #000000;}
    .bo-social-instagram{background: #4c799f;} .bo-social-instagram:hover{background: #000000;}
    .bo-social-dwolla{background: #ff7404;} .bo-social-dwolla:hover{background: #000000;}
    .bo-social-appnet{background: #1e0c29;} .bo-social-appnet:hover{background: #000000;}
    .bo-social-statusnet{background: #fb6104;} .bo-social-statusnet:hover{background: #000000;}
    .bo-social-acrobat{background: #ff0000;} .bo-social-acrobat:hover{background: #000000;}
    .bo-social-drupal{background: #007dc3;} .bo-social-drupal:hover{background: #000000;}
    .bo-social-pocket{background: #ee4056;} .bo-social-pocket:hover{background: #000000;}
    .bo-social-bitbucket{background: #205081;} .bo-social-bitbucket:hover{background: #000000;}
    .bo-social-flattr{background: #fbbc23;} .bo-social-flattr:hover{background: #000000;}
    .bo-social-eventful{background: #0066cc;} .bo-social-eventful:hover{background: #000000;}
    .bo-social-smashmag{background: #d6231c;} .bo-social-smashmag:hover{background: #000000;}
    .bo-social-wordpress{background: #1e8cbe;} .bo-social-wordpress:hover{background: #000000;}
    .bo-social-calendar{background: #ff0000;} .bo-social-calendar:hover{background: #000000;}
    .bo-social-call{background: #04be3d;} .bo-social-call:hover{background: #000000;}
    .bo-social-guest{background: #03a9d2;} .bo-social-guest:hover{background: #000000;}
    .bo-social-weibo{background: #fd0000;} .bo-social-weibo:hover{background: #000000;}
    .bo-social-plancast{background: #e4b82c;} .bo-social-plancast:hover{background: #000000;}
    .bo-social-email{background: blue} .bo-social-email:hover{background: #000000;}
    .bo-social-myspace{background: #2068b0;} .bo-social-myspace:hover{background: #000000;}
    .bo-social-podcast{background: #f38b36} .bo-social-podcast:hover{background: #000000;}
    .bo-social-cart{background: #00a204;} .bo-social-cart:hover{background: #000000;}
}
 /* --- SCSS For Typography --- */// Core variables and mixins
.dropcap {
    color: #000;
    float: left;    
    font-weight: 800;
    line-height: 48px;        
    @include square(60px);
    margin-right: 10px;
    padding: 3px 10px 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    &.dropcap-v2{
        color: #fff;                
        background: $brand-primary;        
    }
    &.dropcap-info{
        background:$brand-info;
    }
    &.dropcap-danger{
        background:$brand-danger;
    }
    &.dropcap-success{
        background:$brand-success;
    }
    &.dropcap-warning{
        background:$brand-warning;
    }
}

.blockquote {
    position: relative;
    font-weight: 300;
    font-style: italic;
    &.blockquote-left {
        i {
            left: 17px;
            margin-right: 10px;
        }        
    }
    &.blockquote-right {
      border-left: none;
      padding-left: 30px;
      padding-right: 20px;
      i {
          right: 17px;
          margin-left: 10px;
      }
      .blockquote-in {
          margin-right: 45px;
      }
    }
    &.blockquote-brd {
        padding: 15px;
        border: 1px solid $blockquote-border-color;
        i {
            color: $bo-blockquote-color;
            top: 30px;
            left: 25px;
            position: absolute;
        }
        .blockquote-in {
            margin-left: 45px;
        }
    }
    &.blockquote-info{
       border-left-color:$brand-info;
    }
    &.blockquote-danger{
       border-left-color:$brand-danger;
    }
    &.blockquote-success{
       border-left-color:$brand-success;
    }
    &.blockquote-warning{
       border-left-color:$brand-warning;
    }
    &.border{
      border: 1px solid #ddd;
    }
}
 
 /* --- SCSS For Counters --- */// Core variables and mixins
 
 

.pricing{
    text-align: center;
    ul{
        padding-left:0;
        padding-right:0; 
        li{
            list-style: none;
        }
    }
    &.pricing-v1{
     background: #FFFFFF; 
     border: 3px solid #313131;
     .pricing-header > *{
         font-family: $font-family-second;
     }
     .plan-title{ 
         font-size: 24px; 
         text-transform: uppercase; 
         font-weight: 300; 
         margin: 0; 
         padding: 30px 0;
         background: #313131;  
         color: $white;  
     }
     .plan-figure{
         font-size: 48px; 
         font-weight: 700; 
         color: #000; 
     }
     .plan-price{
         font-size: 16px;
         border-bottom: 2px solid $border-color;
         line-height: 1;
         padding: 25px 0;
         p{
            margin: 0;
         }
     }
     .plan-currency{
         font-size: 30px;
         font-weight: 700;  
         color: $black;  
         position: relative;
         top: -15px; 
     }
     .plain-info{
         padding: 20px;
         li{
             font-size: 16px; 
             color: #555555;
             font-weight: 400;    
             padding: 15px 0; 
         }    
     }
     .pricing-footer{
         padding: 0px 20px 40px 20px;
     }  
     &.pricing-highlight{
         border-color: $theme-color!important;
      }      
   }
    &.pricing-v2{
        background: #FFFFFF; 
        .plan-title{
            color: #000;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 300; 
            margin: 0;
            padding: 30px 0;  
        }
        .plan-price{
            background: $brand-primary;
            margin: 0 -10px;    
            position: relative;
            height: 100px; 
            .plan-price-body{
                background: $brand-primary;
                margin: 0 auto;
                border-radius: 50%;                                
                position: absolute;
                left: 0;
                top: -15px;
                right: 0;          
                color: #FFF;       
                @include square(130px);
            }
            .plan-figure{
                font-size: 48px;
                font-weight: 300; 
            }
            .plan-currency{
                font-size: 30px;   
                font-weight: 300;  
            }
        }
        .plain-info{
            padding: 20px; 
            li{
                color: #000; 
                line-height: 62px; 
                border-bottom: 1px dashed #C8C8C8;                
            }
        }
        .pricing-footer{
            padding: 0 20px 40px 20px; 
        }      
        &.pricing-highlight{
          .plan-title{
            background: $white;
            color: $black;
          }
          .plan-price-body{
            background: $element-color-primary;
            color: $white;
          }
          .btn-block{
            background: $element-color-primary; 
            border-color: $element-color-primary;
            &:hover, &:focus, &:active{
              background: none;
              color: $theme-color;
            }
          }
        }     
    }
    &.pricing-v3{
        background: #FFFFFF; 
        border:1px solid #DEDEDE;
        .plan-title{
            background: #261F2F;
            font-size: 24px; 
            text-transform: uppercase;
            font-weight: 300; 
            margin: 0; 
            padding: 30px 0;
            border: none; 
            span{
              color: $white;   
            }          
        }
        .plan-figure{
            font-size: 48px; 
            font-weight: 300; 
            color: #000; 
        }
        .plan-price{
            font-size: 16px;
            background: #332C3E;
            padding: 15px 0;
            > *{
              color: $white;
              line-height: 1;
            }
        }
        .plan-currency{
            font-size: 30px;
            font-weight: 300;     
        }
        .plain-info{
            li{
                font-size: 16px; 
                color: #000;
                font-weight: 300;                  
                background: #F8F8F8;  
                padding: 14px 0; 
                &:nth-child(2n+1){
                  background: $white;
                }
            }    
        }
        .pricing-footer{
            padding: 0px 20px 40px 20px;
        }  
        &.pricing-highlight{
          .plan-title{ 
            background: $theme-color;
            color: $white;
          }
          .plan-price{
            background: $element-color-primary;
            color: $white;
          }
          .btn-block{
            background: $element-color-primary; 
            border-color: $element-color-primary;
            &:hover, &:focus, &:active{
              background: none;
              color: $theme-color;
            }
          }
        }  
    }
    &.pricing-highlight{
        .plan-title{
            background: $element-color-primary; 
            color: #FFFFFF;            
        }
    }
}


@mixin translateY($y) {
    -webkit-transform: translateY($y);
    -ms-transform: translateY($y); // IE9 
    -o-transform: translateY($y);
    transform: translateY($y);
}

/* our team */

.pbr-team{
    position: relative;
    .team-header{
        text-align: center;
        img{
            display: inline-block;
        }
    }
    .team-body{
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        @include size(100%, 100%);
        z-index: 999;
        text-align: center;
        @include opacity(0);
        @include scale(0);
        @include transition(all 0.35s);
        .team-name{
            font-size: 18px;
            color: $white;
            letter-spacing: -1px;
            margin: 0;
        }
        .team-job{
            font-size: 10px;
            color: #cccccc;
            text-transform: uppercase;
            a{
                color: $white;
                &:hover{
                    color: $theme-color-second;
                }
            }
        }
        .team-body-content{
            position: absolute;
            top: 50%;
            @include translateY(-50%);
            left: 0;
            width: 100%; 
        }
        .bo-social-icons{
            position: absolute;   
            bottom: 30px;
            left: 0;
            width: 100%;
            z-index: 9;
            a{
                @include size(auto, auto);
                margin: 0 12px;
                border: none;
                background: none;
                font-size: 14px;
                color: $white;
            }
        }
    }
    &:hover{
        .team-body{
            @include scale(1);
            @include opacity(1);
        }
    }
    &.default{
        @media(max-width: $screen-sm-max){
            margin-bottom: 30px;
            .team-header img{
                width: 100%;
            }
        }
        @media(max-width: $screen-xs-max){
            .team-header img{
                width: auto;
            }
        }
    }
    &.other-team{
        background: $theme-color;
        min-height: 320px;
        .team-header{
            text-align: center;
            padding: 60px 10px 15px;
            img{
                display: inline-block;
            }
        }
        .team-body{
            background: none;
            color: $white!important;
            @include scale(1);
            @include opacity(1);
            .team-body-content{
               position: static!important; 
               @include translateY(0);
            }
            .team-name{
                font-size: 24px;
                font-weight: 500;
                padding: 0 30px;
                line-height: 36px;
            }
            .team-job{
                color: $white;
                font-size: 12px;
                letter-spacing: 2px;
                display: block;
            }
        }
        &.v2{
            padding:60px 0 30px;
            .team-header{
                padding-top: 0;
            }
            .bo-social-icons{
                bottom: 6px;
            }
        }
    }
}

.blog-post{
    .content-blog {
        .title-post{
            font-size: 16px;
            line-height: 25px;
            min-height: 50px;
            font-weight: 500;
            margin: 0;
            padding: 18px 0;
            border-bottom: 1px solid $border-color-base;
            &:hover{
               a{
                  color: $theme-color;
               }
            }
        }
        .entry-date{
           color: $theme-color;
           position: relative;
           font-weight: 500;
           line-height: 20px;
        }
        .entry-content{
            padding-top: 15px;
            margin-top: 15px;
            border-top: 1px solid $border-color-base;
        }
        .author{
            line-height: 20px;
            font-size: 12px;
            color: #999;
            .fa{
                margin-right: 7px;
            }
            a{
                color: $black;
                @include transition(all 0.3s ease-out 0s);
                &:hover{
                    color: $theme-color;
                }
            }
        }
        .bottom-blog{
            display: block;
            overflow: hidden;
            margin-top: 18px;
        }
    }
    .owl-carousel{
       .owl-wrapper-outer{
            padding-top: 0;
            .owl-wrapper{
                .owl-item{
                    article.post{
                        margin-bottom: 30px;
                        border-bottom: none;
                        @include border-radius(0);
                        @include box-shadow(inherit);
                        padding: 0;
                        &:before{
                            content: "";
                            position: absolute;
                            height: 100%;
                            width: 1px;
                            background: #e8e8e8;
                            top: 0;
                            left: -30px;
                            z-index: 99;
                        }
                    }
                    
                    &.active{
                        &.first{
                            article.post{
                                &:before{
                                    display: none;
                                }
                            }
                        }
                       
                    }
                }
            }
        }
    }
}
.sidebar{
    .widget_wpopal_latest_posts{
        border-bottom: none;
    }
    .blog-post{
        .item{
            border-bottom: 1px solid #ebebeb;
            margin-bottom: 10px;
            padding-bottom: 25px;
            &:last-child{
                border-bottom: none;
                margin-bottom: 0;
            }
        }
        .image-thumnail{
            .post-thumbnail{
                padding-top: 25px;
            }
        }
    }
}
.scrollup {
    z-index: 9999;
    display: none;
    position: fixed;
    left: auto;
    right: 20px;
    bottom: 55px;
    margin: 0;
    border-radius: 50%;
    background-color: #e0e0e0;
    @include size(50px,50px);
    text-align: center;
    line-height: 50px !important;
    font-size: 20px !important;
    @include transition(all 0.5s ease-in-out 0s);
    color: $theme-color !important;
    &:hover{
        color: $white !important;
        box-shadow:0 0 0 30px $theme-color inset;
    }
    > .fa{
        line-height: 50px !important;
    }
}
 
 /* effect-v1 */
.effect-v1{
        background-color: #000;
        overflow: hidden;
        position: relative;
        &:before {
            border: 1px solid #ffffff;
            bottom: 20px;
            content: "";
            left: 20px;
            position: absolute;
            right: 20px;
            top: 20px;
            @include scale (1.1);
            @include opacity (0);
            @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
            z-index: 1;
        }
        img {
            @include scale (1.12);
            @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
        }
        .action{
            @include scale (1.12);
            @include opacity(0);
            @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
        }

        /* style for hover */
        &:hover{
            &:before {  
                @include opacity(1);
                @include scale (1);
            }
            img {
                @include opacity(0.5);
                @include scale (1);
            }
            .action{
                @include scale (1);
                @include opacity(1);
            }
        }
}


/* effect-v2*/
.effect-v2{
    background-color: #000;
    overflow: hidden;
    position: relative;
    &:before {
        border: 1px solid #ffffff;
        bottom: 20px;
        content: "";
        left: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
        @include translate3d (-20px, 0px, 0px);
        @include opacity(0);
        @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
        z-index: 1;
    }
    img {
        @include scale (1, 1);
        @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
    }
    .action{
        @include translate3d(-10px, 0px, 0px);
        @include opacity(0);
        @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
    }
    /* style for hover */
    &:hover{
        &:before {  
            @include opacity(1);
            @include translate3d(0px, 0px, 0px);
        }
        img {
            @include opacity(0.7);
            @include scale (1.2, 1);
        }
        .action{
            @include translate3d(0px, 0px, 0px);
            @include opacity(1);
        }
    }
}


/* effect-v3*/
.effect-v3{ 
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    @include border-radius(5px);
    &:before,&:after {
        bottom: 20px;
        content: "";
        left: 20px;
        opacity: 0;
        position: absolute;
        right: 20px;
        top: 20px;
        @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
        z-index: 1;
    }
    &:before {
        border-bottom: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        @include scale(0, 1);
    }
    &:after {
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        @include scale(1, 0);
    }
    img {
        @include opacity(1);
        @include transition (opacity 0.35s ease 0s);
        width: 100%;
        @include border-radius(5px);
    }
    .banner-title{
        @include translate3d(0px, -20px, 0px);
        @include transition (transform 0.35s ease 0s);
    }
    .action{
        @include opacity(0);
        @include translate3d(0px, 40px, 0px);
        @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
    }
    
    /* style for hover */
    &:hover{
        &:before,
        &:after {   
            @include opacity(1);
            @include scale(1);
        }
        img {
            @include opacity(0.5);
        }
        .banner-title,.action{
                @include opacity(1);
                    @include translate3d(0px, 0px, 0px);
            }
    }
}

/* effect-v4*/
.effect-v4{ 
    background-color: #000;
    overflow: hidden;
    position: relative;
    &:before {
        border: 2px solid #ffffff;
        bottom: 20px;
        @include box-shadow(0 0 0 30px rgba(255, 255, 255, 0.2));
        content: "";
        left: 20px;
        opacity: 0;
        position: absolute;
        right: 20px;
        top: 20px;
        @include scale(1.4);
        @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
        z-index: 1;
    }
    img {
        @include opacity(1);
        @include transition (opacity 0.35s ease 0s);
    }
    .banner-title{
                @include scale(1);
                @include transition (transform 0.35s ease 0s);
            }
            .action{
                @include opacity(0);
                @include scale(1.2);
                @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
            }
    
    /* style for hover */
    &:hover{
        &:before {  
            @include opacity(1);
            @include scale(1);
        }
        img {
            @include opacity(0.5);
        }
        .banner-title{              
                @include scale(0.95);
            }
            .action{
                @include opacity(1);
                @include scale(1);
            }
    }
}


/* effect-v5*/
.effect-v5{ 
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative; 
    img {
        @include opacity(1);
        @include transition (opacity 1s ease 0s, transform 1s ease 0s);
    }
    .action {
        transform: translate3d(-150%, 0px, 0px);
        @include transition (opacity 0.35s ease 0s, transform 0.35s ease 0s);
    }
    
    /* style for hover */
    &:hover{
        img {
            @include opacity(0.5);
            transform: scale3d(1.1, 1.1, 1);
        }
        .action {
            @include opacity(1);
            transform: scale3d(1.1, 1.1, 1);
            transform: translate3d(0px, 0px, 0px);
        }

    }
}
/* effect-v6*/
.effect-v6{ 
    background-color: #000;
    overflow: hidden;
    position: relative; 
    
    img {
        @include opacity(1);
        @include transition (opacity 0.35s ease 0s);
    }
    .action {
        transform: translate3d(0px, -100px, 0px);
        transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
        opacity: 0;

    }
    
    /* style for hover */
    &:hover{
        img {
            @include opacity(0.5);
        }
        .action {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
        }

    }
}

/* effect-v7*/
.effect-v7{ 
    
    @include transition(box-shadow 0.3s ease 0s, transform 0.3s ease 0s);
    &:hover{
        @include transform(translate(0px, -7px) rotate(0.01deg));
        @include box-shadow(0 5px 20px 0 rgba(0, 0, 0, 0.15));
    }
}

/* effect-v8*/
.effect-v8{ 
    overflow: hidden;
    position: relative;
    &:before {
       border-bottom: 50px solid rgba(255, 255, 255, 0.4);
        border-top: 50px solid rgba(255, 255, 255, 0.4);
        content: "";
        height: 100%;
        left: 0;
        @include opacity(0);
        position: absolute;
        top: 0;
        transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
        -o-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
        -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
        -moz-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
        -ms-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
        @include transition (opacity 0.35s ease 0s, transform 0.35s ease 0s);
        transform-origin: 50% 50% 0;
        width: 100%;

    }
    
    /* style for hover */
    &:hover{
        &:before {  
             @include opacity(1);
             transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
             -o-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
            -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
            -moz-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
            -ms-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
        }
    }
}

/* effect-v9*/
.effect-v9{ 
    overflow: hidden;
    position: relative;
    &:before {
        border: 50px solid rgba(0, 0, 0, 0);
        @include border-top-radius (50px);
        @include border-bottom-radius (50px);
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        top: 0;
        content: "";
        @include opacity (1);
        @include size(100px, 100px);
        @include scale(7);
        @include transition (all 0.3s ease-in-out 0s);
        visibility: visible;
        z-index: 1;
    }
    
    /* style for hover */
    &:hover{
        &:before {  
            border: 0 solid rgba(0, 0, 0, 0.7);
            @include opacity (0);
            visibility: hidden;
        }
    }
}

/* effect-v10*/
.effect-v10{    
    overflow: hidden;
    position: relative;
    &:before {      
        background-color: rgba(255, 255, 255, 0.2);
        display: block;
        @include size(100%, 100%);
        left: -100%;
        @include opacity (0);
        position: absolute;
        top: 0;
        @include transition (all 0.3s ease 0s);
        content: "";
        z-index: 1;
    }
    
    /* style for hover */
    &:hover{
        &:before {  
          left: 0;
          @include opacity (1);
        }
    }
}

/* effect-v11*/
.effect-default{
    overflow: hidden;
    position: relative;
    display: block;
    &:before {
        background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
        content: "";
        display: inline-block;
        height: 559px;
        position: absolute;
        right: 755px;
        top: 0;
        -webkit-transform: skew(-45deg);
        -moz-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
        -o-transform: skew(-45deg);
        transform: skew(-45deg);
        @include transition(all 0.6s ease-in-out 0s);
        width: 600px;
    }

      // style for hover */
    &:hover{
        &:before {  
            right: -900px;
        }
    }
}

/* banner style */
.kc-elm{
    &.show-text{
        .overlay-effects{
            @include opacity(1);
            @include scale(1);
            .content-title, .content-desc, .content-button a{
                @include opacity(1);
                @include translate(0, 0);
                @include scale(1);
            }
        }
    }
    &.banner-v1{
        .overlay-content{
            width: 100%;
        }
    }
    
}
.banner-v2{
    text-align: center;
    .kc_title{
        position: relative;
        display: inline-block;
        padding: 0 75px;
        &:before, &:after{
            content: '';
            position: absolute;
            bottom: 5px; 
            width: 60px;
            height: 2px;
            top: 50%;
            border-bottom: 2px dotted #e0e0e0;
            @include translate(0, -50%);

        }
        &:before{
            left: 0;
        }
        &:after{
            right: 0;
        }
    }
    a.kc_button{
        &:after{
            content: '\f178';
            font-family: FontAwesome;
            position: relative;
            margin-left: 5px;
            font-size: 14px;
            font-weight: 400;
           
        }
    } 
}
.kc-feature-boxes{
    &.style-1{
        .content-button{
            text-align: center;
        }
    }
} 

.feature-box{   
    position: relative;
    min-height: 304.5px;
    background: #ececec;
    clear: both;
    display: block;
    overflow: hidden;
    @media(min-width: $screen-md) and (max-width: $screen-md-max){
        min-height: 163px;

    }
    @media(min-width: $screen-sm) and (max-width: $screen-sm-max){
        min-height: 245px;

    }
    .fbox-content{
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.5s linear;
    }
    h3.title{
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 15px;
        margin-top: 0;
        @media(min-width: $screen-md) and (max-width: $screen-md-max){
          font-size: 26px;
        }
    }
    &:hover{
        .fbox-content{
            transform: rotateY(180deg);
            .fbox-front{
                display: none;
                @include opacity(0);
                transition: all 0.5s linear; 
            }
        }
    }
    .fbox-front, .fbox-back{
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: 305px;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        @media(min-width: $screen-md) and (max-width: $screen-md-max){
           min-height: 165px;

        }
        @media(min-width: $screen-sm) and (max-width: $screen-sm-max){
            min-height: 247px;

        }
    }
    .fbox-back{
        display: block;
        transform: rotateY(180deg);
        box-sizing: border-box;
        &:before{
            content: "";
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .fbox-info{
            position: absolute;
            top: 50%;
            left: 50%;
            @include translate(-50%, -50%);
            text-align: center;
            h3{
                color: #fff;
            }
            .btn{
                border: 1px solid #fff;
                border-radius: 25px;
                color: #fff;
                font-weight: 700;
                font-size: 11px;
                &:hover{
                    background: $theme-color;
                    border-color: $theme-color;
                }
            }
        }
    }
}

.style{
    position: relative;
    text-align: center !important;
    &:before{
        position: absolute;
        content: "";
        background-image:  url('#{$image-theme-path}bottom.png');
        height: 9px;
        width: 100%;
        top: 8px;
        left: 0;
        z-index: -1;
    }
    > p{
        display: inline-block;
        z-index: 0;
        padding: 0 28px;
        background: #fff;
    }
    .icon{
        color: $theme-color;
        font-size: 24px;
        padding-right: 10px;
        left: 5px;
        bottom: 10px;
        position: relative;
    }
}
 @include keyframes(hover-imagecategory) {
  0%{
    transform: perspective(200px) rotate3d(0,1,0,-90deg) translateX(-100%);
    }
  100% {
      transform:perspective(200px) rotate3d(0,1,0,0deg) translateX(0px);
    }
}
.feature-box-v1{
    .fbox-body{  
        margin-bottom: 10px;
    }
    .fbox-content{
        overflow:hidden;
        float: left;
    }
    .fbox-img{
        float: left;
        position: relative;    
        width: 100%;
    } 
    &:hover{
        .fbox-img{
           @include animation(hover-imagecategory 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1);
        }
    }
}
.feature-box-v2{
    .fbox-content{ 
        overflow:hidden ;
        text-align: right; 
    }
   .fbox-icon{
        margin-left: 20px;
        float: right;
        position: relative;    
   } 
}

.feature-box-v3{
    position: relative;
    padding: 45px 30px 20px;
    text-align: center!important;
    background: #F5F5F5;
   .fbox-icon{
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: -36px;
      margin: 0 auto;
      i{
         @include size(70px, 70px);
         line-height: 70px;
         color: $white;
         @include border-radius(50%);
         background: $theme-color;
      }
   }
}

.feature-box.feature-box-v4{
   padding: 20px 30px ;
   border: 1px solid #ddd;
   border-bottom: 3px solid $theme-color;
    text-align: center!important;
   .fbox-icon{
      text-align: center;
      float: none!important;
      margin: 0 0 20px;
   }
   .description{
        text-align: center;
   }
}

/* Element category link */
.bounceInLeft {
    animation-name: bounceInLeft;
}
@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0px, 0px);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0px, 0px);
    }
    75% {
        transform: translate3d(-10px, 0px, 0px);
    }
    90% {
        transform: translate3d(5px, 0px, 0px);
    }
    100% {
        transform: none;
    }
}

.kc-element-category-link-wrapper{
    .items{
        font-family: $font-family-base;
        position: relative;
        overflow: hidden;
        .team-header{
            position: relative;
             &:before{
                background: $brand-primary;
                content: "";
                height: 0;
                left: 50%;
                overflow: hidden;
                position: absolute;
                top: 50%;
                @include transition(all 300ms ease-in-out 0s);
                width: 0;
                z-index: 1;
            }
        }
        .text{
            position: absolute;
            top: 30%;
            @include transition(all 300ms ease-in-out 0s);
            z-index: 9;
            left: 50%;
            transform: translateX(-50%);
            @media (max-width: $screen-sm) {
                top: 20%;
            }
                a{
                opacity: 0;
                z-index: 9;
                color: $white;
                text-transform: uppercase;
                height: 26px;
                width: 100%;
                text-align: center;
                margin-left: -10px;
                i{
                    bottom: 5px;
                    font-size: 26px;
                    position: absolute;
                }
                .shop_now{
                    padding-right: 10px;
                }
            }
            > span{
                color: $white;
                font-size: 36px;
                font-weight: bold;
                z-index: 9;
                opacity: 1;
                @include transition(all 300ms ease-in-out 0s);
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                line-height: 40px;
            }
        }
    }
    .items{
        &:hover{
            .team-header{
                &:before{
                    height: 100%;
                    left: 0;
                    top: 0;
                    width: 100%;
                }
            }
            .text{
                top: 25%;
                @media (max-width: $screen-sm) {
                    top: 0;
                }
                a{
                    opacity: 1;
                    @include animation(1s ease 0s normal none 1 running bounceInLeft);
                }
                span{
                    top: 20%;
                }
            }
        }
    }   
}

.kc-element-faq-wrapper{
    .panel-group{
        padding: 0 15px;
    }
    .panel{
        border-bottom: 1px solid $border-color-base;
        padding-bottom: 30px;
        margin-bottom: 18px;
        padding-top: 10px;
        padding-left: 40px;
    }
    .faq-question{
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: -0.5px;
        font-family: $font-family-base;
    }
    .faq-answer{
        padding-top: 15px;
    }
}
/* twitter style */
.kc-elm{
    &.kc_wrap_twitter{
        float: none;
    }
} 
.kc_wrap_twitter{
    .button_follow_wrap{
        padding: 0 !important;
    }
    .result_twitter_feed{
        border: none !important; 
        padding: 0 !important;
        color: $text-color;
        background: transparent !important;
        min-height: 356px;
        .screen_name{
            color: $brand-primary !important;
        }
        a{
            color: $brand-primary;
            &:hover{
                color: $theme-color;
            }
        }
        .tweet_desc{
            font-size: 12px;
            font-weight: 300;
        }
        li{
            margin-bottom: 30px !important;
            padding-bottom: 0 !important;
            border: none;
            padding: 0 30px 0 30px;
       }
    }
    &.style-2{
        background: $white;
        padding-bottom: 30px !important;
        .result_twitter_feed{
            min-height: 303px;
            height: 303px;
        }
    }
}

#accordion{
    .panel{
        a{
            color: $black;
            i{
                position: absolute;
                color: $border-color-base;
                border: 2px solid $border-color-base;
                font-size: 9px;
                text-align: center;
                @include size(17px, 17px);
                line-height: 14px;
                margin: 3px -30px;
                &.fa-minus{
                    color: $theme-color;
                    border: 2px solid $theme-color;
                }
            }
        }
    }
}

.kc-title-wrap.kc-elm {
    float: none;
}
/* category tabs */
.category-tabs{
    .widget_nav_menu{
        padding: 30px;
        .widgettitle{
            font-size: 48px;
            font-weight: 900;
            margin-bottom: 20px;
        }
        ul{
            li{
                padding: 10px 0px;
                a{
                    font-weight: 500;
                    color: #363636;
                    font-size: 15px;
                    text-transform: capitalize;
                }
                &:hover{
                    a{
                        color: $theme-color;
                    }
                }
            }
        }
    }
}

/* testimonials */
.testimonial-collection{
    position: relative;
    &:before{
        content: "\f10d";
        color: $theme-color;
        font-size: 33px;
        font-family: "FontAwesome";
        position: absolute;
        left: -10px;
        @media (max-width: $screen-md-max){
            left: 5px;
        }
        @media (max-width: $screen-xs-max){
           display: none;
        }
        top: -5px;
    }
}
.testimonials{
    .testimonials-body{
        padding: 0 15px;
        @media (max-width: $screen-xs-max){
            padding: 0;
        }
        margin-bottom: 27px;
        .testimonials-description{
            color: $text-color;
            font-size: 16px;
            margin: 0 auto;
            font-weight: 300;
        }
        .testimonials-name{
            font-weight: 500;
            font-size: 14px;
            color: $black;
            line-height: 20px;
            margin-bottom: 0;
        }
        .testimonials-position{
            a{
                color: #aaaaaa;
                font-weight: 300;
                font-size: 12px;
            }
        }
        .testimonials-bottom{
            display: block;
            overflow: hidden;
            margin-top: 25px;
            margin-bottom: 10px;
            @media (max-width: $screen-md-max){
                margin-top: 15px;
                margin-bottom: 0px;
            }
            .testimonials-avatar,.testimonials-info{
                float: left;
            }
            .testimonials-avatar{
                margin-right: 10px;
                img{
                    @include size(60px, 60px);
                    border-radius: 50%;
                    border: 1px solid transparent;
                    overflow: hidden;
                }
            }
        }
        .list-unstyled{
            margin: 0;
        }
    }
}
.kc_title{
    &.style-1{
        background-image: url('#{$image-theme-path}title-bg.png');
        background-repeat: no-repeat;
        background-position-y: 50%;
        padding-left: 20px;
        border-bottom: 1px solid #e8e8e8;
        letter-spacing: -1px;  
    }
    &.style-2{
        background-image: url('#{$image-theme-path}title-bg.png');
        background-repeat: no-repeat;
        background-position-y: 50%;
        padding-left: 20px;
        border-bottom: 1px solid #e8e8e8; 
        position: relative;
        z-index: 99;
        letter-spacing: -1px; 
    }
}

.brands-collection{
    .owl-carousel{
    	position: relative;
    	z-index: 99;
        .owl-item{
        	a{
        		display: block;
        		padding-top: 55px;
				padding-bottom: 60px; 
				@media (max-width: $screen-md-max){
					padding-top: 30px;
					padding-bottom: 30px;
					text-align: center;
				}
        	}
            
            img{
            	-webkit-filter: grayscale(1);
   				 filter: grayscale(1);
            }
            &:hover{
            	img{
            		-webkit-filter: grayscale(0);
   				 	filter: grayscale(0);
            	}
            }     
        }
        .owl-wrapper-outer{
            padding-top: 0;
        }
    } 
    &.owl-carousel-play{
        .carousel-controls{
            display: block;
            width: auto;
            min-width: inherit;
            position: inherit;
            height: auto;
            top: 80px;
            z-index: 999;
            @media (max-width: $screen-sm-max){
                display: none;
            }
            .carousel-control{
                @include opacity(0);
                visibility: hidden;
                z-index: 999;
               
            }
        }
        .carousel-control{
            color: $color-gray-default;
            top: 50%;
            font-size: 32px;
            @include translateY(-50%);
            left: 40px;
            @include transition(all .3s ease-out 0s)
            line-height: 28px !important;
            &.right{
                right: 40px;
                left: auto;
            }
            &:hover{
                color: $theme-color;
            }
        }
        &:hover{
            .carousel-controls{
                .carousel-control{
                    @include opacity(1);
                    visibility: visible;
                    left: 5px;
                    &.right{
                        right: -10px;
                        left: auto;
                    }
                }
            }
        } 
    }
}
.display-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.position-relative{
    position: relative;
}
.box-shadow-v1{
    @include box-shadow(0 2px 12px rgba(0,0,0,0.1));
    @include border-radius(5px);
    overflow: hidden;
    .defaultimg{
        @include border-radius(5px);
    }
}
.box-shadow-v2{
    @include box-shadow(0 2px 12px rgba(0,0,0,0.1));
    @include border-radius(5px);
}
.border-radius-left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.border-radius-right{
    border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}
.meta-box-v1{
    @media (max-width: $screen-xs-max){
        margin-bottom: 15px;
    }
    &.kc-fb-layout-3{
        .box-right{
            padding-left: 10px;
        }
    }
}

/* Element Ourservice */
.opal-ourservice{
    .ourservice{
        list-style: none;
        li{
            position: relative;
            padding-left: 40px;
            min-height: 100px;
            &:before{
                position: absolute;
                content: "";
                height: 35px;
                width: 2px;
                background: #e8e8e8;
                left: 10px;
                top: 70%;
                @include translateY(-70%);
            }
            &:last-child{
                 min-height: 40px;
                &:before{
                    display: none;
                }
            }
            span.count{
                color: $theme-color;
                @include size(24px, 24px);
                position: absolute;
                left: 0;
                top: 0;
                text-align: center;
                border: 1px solid $theme-color;

                border-radius: 25px;
            }
            h3.title{
                font-size: 16px;
                color: $black;
                margin: 0;
                font-weight: 500;
                margin-bottom: 5px;
            }
            p.info{
                font-size: 12px;
                color: #999999;
                margin-bottom: 0;
                line-height: 15px;
                font-weight: 300;
            }
        }
        &.v2{
            justify-content: space-between;
            @include flexbox();
            padding-left: 1px;
            @media (max-width: $screen-xs-max){
                padding-top: 30px;
                padding-bottom: 20px;
            }
            @media (max-width: $screen-phone){
                display: inline-block;
                padding-bottom: 0px;
                margin-bottom: 0;
            }
            li{
                min-height: inherit;
                width: 100%;
                @media (max-width: $screen-phone){
                    margin-bottom: 30px;
                }
                &:before{
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 35px;
                    background: #e8e8e8;
                    top: 50%;
                    @include translateY(-50%);
                    @include  rtl-right(20px);
                    left: auto;
                    @media (max-width: $screen-md-max){
                        display: none;
                    }
                }
            }
        }
    }
}
/* element history about */
.element-history-about{
    .entry-history-about{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        @media (max-width: $screen-phone){
            display: block;
        }
        h4{
            margin: 0;
            padding: 0 20px 0 20px;
            font-size: 18px;
            color: $black;
            font-weight: 500;
            position: relative;
            margin-top: 3px;
            @media (max-width: $screen-phone){
                margin-bottom: 10px;
            }
            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 5px;
                @include size(7px, 7px);
                background: $theme-color;
                @include border-radius(50%);
            }
        }
        .history-about-description{
            font-size: 14px;
            color: #666666;
        }
    }
}
/* element Accordion */
.accordion-style1{
    &.kc_accordion_wrapper{
        margin-bottom: 4px;
    }
}
/* Element FAQ */
.kc-element-faq-wrapper{
    padding: 50px 0px 40px 0px;
    margin-left: 15px;
    margin-right: 15px;
    display: block;
    overflow: hidden;
    .kc-element-fag-title{
        font-size: 24px;
        color: $black;
        padding: 0;
        @media (max-width: $screen-xs-max){
            margin-bottom: 30px;
        }
        h3{
           margin: 0;
        }
    }
    .kc-element-faq{

        .entry-faq{
            display: inline-block;
            margin-bottom: 15px;
        }
        h5{
            width: 40%;
            display: inline-block;
            float: left;
            margin: 0;
            line-height: 20px;
            padding-right: 25px;
            @media (max-width: $screen-xs-max){
                width: 100%;
                float: none;
            }
        }
        .faq-description{
            width: 60%;
            float: right;
            padding-left: 25px;
            @media (max-width: $screen-xs-max){
                width: 100%;
                float: none;
                padding: 0;
                margin-top: 10px;
            }
        }
    }
}


.kc-wp-sidebar{
    .sidebar-home{
        &:last-child{
            margin-bottom: 0;
            @media(max-width: $screen-xs-max){
                margin-bottom: 30px;
            }
        }
    }
}

// none Box Shadow
body.none-box-shadow{
    .box-shadow-v1,.box-shadow-v2, .header-bottom .opal-vertical-menu .vertical-menu, .widget:not(.widget-woof), .single-testimonial .testimonial, .category article, .main-content .woocommerce-archive-content, .content-none, .nav-links a > div, .single-post article.post, article.post, article.page, .comments, .related-posts{
        box-shadow: none !important;
    }
    #opal-masthead{
        box-shadow: none !important;
    }
}