/*
*  Main Menu
*/
.navbar-mega{
    min-height: inherit;
    border: 0px solid $navbar-mega-border;
    @include border-radius(0);
    .navbar-toggle{
        .icon-bar{
            background-color:$theme-color;
        }
        border-color:$border-color;
    }
    .navbar-nav{
        float: none;
        padding: 0;
        > .open{
            > a{
                border-color: $nocolor;
                border-left-color: rgba(0, 0, 0, 0.1);
                color: $navbar-link-hover-color;
                background: $navbar-link-hover-bg;
                &:before{
                    @include opacity(1);
                }
            }
        }
        ul{
            @include clear-list();
            li{
                &.parent{
                    position: relative;
                }
                &.dropdown-submenu{
                    position: relative;
                    .dropdown-menu{
                        top: 0;
                        left: 100%;
                        right: auto;
                        position: absolute;                     
                    }
                }
            }
        }
        li{
            &.active{
                background: none;
                > a{
                    background: none;
                    color: $navbar-link-active-color;
                    .caret{
                        color: $navbar-link-active-color;
                    }
                }
            }
            a{
                &:hover, &:active, &:focus{
                    background: none;
                    color: $theme-color;
                }
            }    
            &.open > a{
                background: none;
                color: $theme-color;
            }
        }
        > li{            
            margin-top: 0;
            &:first-child{
                > a{
                     padding: 25px 30px 25px 0;
                }
            }
            &:last-child{
                > a{
                    &:after{
                        display: none;
                    }
                }
            }
            > a{
                position: relative;
                color: $navbar-link-color;
                padding: 25px 30px 25px 30px;
                @media(min-width: $screen-md) and(max-width: $screen-md-max){
                     padding: 20px 17px 20px 17px;
                }
                line-height: 20px;
                margin: $navbar-link-margin;
                text-transform: $navbar-text-transform;
                font-weight: $navbar-font-weight;
                font-size: $navbar-font-size;
                @include border-radius(0);
                @include transition(all 0.35s);
                &:after{
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 12px;
                    background: $theme-color;
                    top: 50%;
                    @include translateY(-50%);
                    right: 0;
                }
                .caret{
                    font-size: 11px;
                    font-weight: bold;
                    position: relative;
                    color: #aaaaaa;
                    line-height: 11px;
                    &:before{
                        content: "\f196";
                        font-family: FontAwesome;
                        font-size: 11px;
                    }
                }
                &:hover, &:focus{
                    color: $navbar-link-hover-color; 
                    .caret{
                        color: $navbar-link-hover-color;
                    }
                }
            }
            &.menu-item-has-children{
                .dropdown-menu{
                    padding:20px;
                    
                }
            }
            &.active{
                > a{
                    color: $navbar-link-hover-bg;
                    .caret{
                        color: $navbar-link-hover-color;
                    }
                }

            }
            &:last-child{
                > a{
                    border-right: 0;
                }
            }
            .dropdown-menu, .sub-menu{
                padding:0;
                background: $navbar-dropdown-bg;
                min-width: $navbar-dropdown-size;
                @include border-radius(0);
                position: absolute;
                @include opacity(0);
                display: block;
                right: 0;
                top: 100%;
                @include transition( all 0.3s ease-out 0s) ;
                transform:translate(0px, 20px);
                @include transition(all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s);
                visibility: hidden;
                z-index: 999;
                border:0;
                @include box-shadow(0 2px 12px rgba(0, 0, 0, 0.1));
                .kc-elm{
                    .widget{
                        padding: 0;
                        ul{
                            li{
                                a{
                                    padding: 0;
                                    border: none;
                                }
                            }
                        }
                    }
                    .widgettitle{
                        background: transparent;
                    }
                }
                ul.dropdown-menu, ul.sub-menu{
                    left: 95%;
                    position: absolute;
                    @include opacity(0);
                    visibility: hidden;
                    @include transition( all 0.3s ease-out 0s) ;
                    transform:translate(0px, 20px);
                }
                .row{
                    padding-top: 0;
                }
                li{
                    display: block;
                    padding: 10px 0 0;
                    position: relative;
                    border:none;
                    a{
                        min-height: inherit;
                        display: inline-block;
                        font-weight: $navbar-dropdown-link-font-weight;                        
                        color: $navbar-dropdown-link-color;
                        text-transform: $navbar-dropdown-link-transform;
                        @include transition(all .2s linear);
                        @include font-size(font-size,$navbar-dropdown-link-font-size);
                        font-family: $font-family-base;
                        position: relative;
                        line-height: 28px;
                        &:hover{
                            color: $navbar-dropdown-link-hover-color;
                            background: $navbar-dropdown-link-hover-bg;
                        }
                    }
                    &:hover{
                        > ul.dropdown-menu, ul.sub-menu{
                            opacity: 1;
                            visibility: visible;
                            transform:translate(0px, 0px);
                            top: 90%;
                        }   
                    }
                    &:last-child{
                        padding-bottom: 10px;
                    }
                }
                .widgettitle,.widget-title{
                    padding: 0;
                    @include font-size(font-size, $navbar-widget-title-font-size);
                    border: none;
                    margin-bottom: 0;
                    letter-spacing: 0;
                    padding-bottom: 8px;
                }
                .widget-content{
                    border:none;
                }
                .widget,.products{
                    box-shadow:none;
                    border:none;
                    margin-bottom: 0;
                    background: transparent;
                }
                .products{
                    .row{
                        > div{
                            padding:0 20px;
                        }
                    }
                }
                .widget-products{
                    .widget-title{
                        padding:0 20px;
                    }
                }
                .opal-category-filter{
                    margin: 0;
                    padding:$grid-gutter-width 0 $grid-gutter-width $grid-gutter-width;
                }
                .category-caption{
                    clear: both;
                    padding-top:30px;
                }    
            }
            .sub-menu{
                border: 1px solid $border-color;
                > li{
                    padding-left: 20px;
                }  
            }
            .mega-dropdown-menu{
                padding: $theme-padding + 10;
                ul{
                    li{
                        a{
                            padding-left: 0;
                            padding-right: 0;
                            &:hover{
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
        > .active{
            background: $navbar-link-active-bg;
           >  a{
                color: $navbar-link-active-color;
                &:before{
                    @include opacity(1);
                }
            }
        }
        > .aligned-fullwidth{
            position: static !important;             
            > .dropdown-menu{
               
            }
        } 
        > .aligned-right{    
            @media (max-width: $screen-md-max){
                position: static !important;
            } 
            > .dropdown-menu{
                right: 0;
                left: auto;
            }
        }
        > .aligned-left {
            @media (max-width: $screen-md-max){
                position: static !important;
            }
            > .dropdown-menu  {
                left: 0;
                right: auto;
            }
        }
        .wpb-container-mega{
            margin: 0;
        }
        .container-mega{
            .row {
                padding-bottom: 0;
                margin: 0 !important;
                width: 100%;
                position: relative;
                overflow: hidden;
                > div{
                    position: relative;
                    padding:0;
                    &:after{
                        content: "";
                        @include size(1px, 1000px);
                        background: $border-color;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    &:first-child:after{
                        content: none;
                    }
                }
            }
        }
    }   
    .text-label{
        position: absolute;
        top: -7px;
        left: 50%;
        padding: 1px 7px; 
        font-size: 10px;
        color: #FFFFFF;
        @include translate(-50%, 0);
        text-transform: uppercase;
        @include border-radius(2px);
        &.text-hot{
            background:$brand-danger;
            &:after {  border-top-color: $brand-danger ; } 
        }
        &.text-new{
            background:$brand-info;
            &:after {  border-top-color: $brand-info ; } 
        }
        &.text-featured{
            background:$brand-primary;
            &:after {  border-top-color: $brand-primary ; }
        }
        &:after{
            content: "";
            position: absolute;
            border: 5px solid transparent;
            border-left: transparent;
            top: 100%;
            left: 5px;
        }
    }
}
@media (min-width: 768px) {
    .navbar-mega  .navbar-nav > li {
        &:hover{
            > .dropdown-menu, .sub-menu{
                @include opacity(1);
                right: 0;
                transform:translate(0px, 0px);
                -webkit-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px); 
                -o-transform: translate(0px, 0px);           
                visibility: visible;

            }
        }
    } 
}
/**
 * White Styles
 */
.navbar-mega-light{
    .navbar-mega .navbar-nav > li > a, .navbar-mega .navbar-nav > li > a .caret {
        color:#FFFFFF;
    }
    .navbar-mega .navbar-nav > li.active > a::before, .navbar-mega .navbar-nav > li:hover > a::before{
        background:#FFFFFF;
    }
}

.navbar-mega-theme{
    background:$theme-color;
    .navbar-mega .navbar-nav > li > a, .navbar-mega .navbar-nav > li > a .caret {
        color:#FFFFFF;
    }
    
}


/**
 * Simple Styles
 */

/*
* top megamenu
*/
 .navbar-topmenu{
    float: right;
    > li{
        float: left;
        &.active{
            a{
                color: $theme-color !important;
            }
        }
        &.menu-item-has-children{
            &:hover{
                .dropdown-menu{
                    display: block;
                    margin-top: 0;
                }
            }
        }
        >a {
            font-size: $navbar-menutop-font-size;
            font-weight: $navbar-menutop-font-weight;
            color: $navbar-menutop-color;
            i{
                margin-right: 10px;
                font-size: 16px;
            }
        }
       
    }
}

/*
* vertical megamenu
*/
.vertical-menu.navbar-collapse {
    padding: 0;
     .megamenu{
        padding:0;
        background: $navbar-verticalmenu-bg;
    }
    .widget-title{
        background: #41b5ac;
        color: $white;
        margin-bottom: 0;
        > span{
            padding: 20px;
        }
    }
    .navbar-nav {
        position: relative;
        margin: 0;
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
            float: none;
        }
        > li {
            @include size(100%,auto);
            position: relative;
            &:first-child{
               > a{
                    border-top: none;
                } 
            }
            > a {
                display: block;
                color: $navbar-verticalmenu-color;
                padding: 13px 0px;
                border-top: 1px solid #e8e8e8;
                @media (min-width: $screen-md) and (max-width: $screen-md-max){
                    padding: 9px 0;
                }
                line-height: 20px;
                text-transform: capitalize;
                font-size: $navbar-menutop-font-size;
                font-weight: $navbar-menutop-font-weight;
                font-family: $font-family-base;
                .text-label {
                    background: #e35263 none repeat scroll 0 0;
                    color: #fff;
                    display: inline-block;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 1;
                    margin-left: 8px;
                    padding: 5px;
                    position: relative;
                    top: -11px;
                    &.text-hot{
                        background:$brand-danger;
                        &:after {  border-top-color: $brand-danger ; } 
                    }
                    &.text-new{
                        background:$brand-info;
                        &:after {  border-top-color: $brand-info ; } 
                    }
                    &.text-featured{
                        background:$brand-primary;
                        &:after {  border-top-color: $brand-primary ; }
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        border: 5px solid transparent;
                        border-left: transparent;
                        top: 100%;
                        left: 5px;
                    }

                }
            }
            // Hover Effect
            &:focus,
            &:hover{
                > a {
                    color: $theme-color;
                    //background-color: #fafafa;
                    .caret{
                        &:before { 
                            color: $theme-color;
                        }
                    }
                    &:before {
                        color: $theme-color;
                    }
                }
            }
            &.open {
                .dropdown-menu {
                    display: block!important;
                }
            }
        }
        li {     
            a {
                @include transition(all 0.2s ease-in-out 0s);
                color: $navbar-verticalmenu-color;
                background: transparent;
               
                .caret {
                    position: absolute;
                    margin-top: 3px;
                    border: 0 !important;
                    font-size: 15px;
                    right: 0;
                    font-weight: bold;
                    @media (max-width: $screen-sm-max){
                        display: none !important;
                    }
                    &:before{
                        color: $navbar-verticalmenu-color;
                        content: "\f105";
                        font-family: 'FontAwesome';
                        font-size: 12px;
                        font-weight: 100;
                        position: absolute;
                        right: 0;
                        top: -3px;
                    }
                }
            }
            &.menu-item-has-children{
                .dropdown-menu{
                    min-width: 220px; 
                }
            }
            .dropdown-menu {
                background: $white;
                border: 0;
                top: 0;
                padding: 15px;
                min-width: 640px;
                @media (max-width: $screen-md-max){
                    min-width: 480px;
                }
                @media (max-width: $screen-sm-max){
                    display: none !important;
                }
                .container-mega {
                    padding: 0 $grid-gutter-width - 10;
                }
                    visibility: hidden;
                    @include opacity (0);
                    display: block;
               
                .widget{
                    box-shadow:none;
                    border:none;
                    margin-bottom: 0;
                    background: transparent;
                    padding: 0;
                    .widgettitle,.widget-title{
                        padding: 0;
                        @include font-size(font-size, $navbar-widget-title-font-size);
                        border: none;
                        margin-bottom: 0;
                        letter-spacing: 0;
                        padding-bottom: 8px;
                        background: transparent;
                    }
                     
                     &.widget_nav_menu ul li a{
                         padding: 10px 0;
                     }
                }
                .widget-content{
                    padding:0;
                    border:none;
                }
                .widget_nav_menu{
                    ul{
                        background-color: transparent;
                        li{
                            border-bottom: 0;
                        }
                    }
             
                } 
                .products-grid div.product{
                    border-bottom: 0;
                }
                > li {
                    > a {
                        padding: 10px 0;
                        display: block;
                        padding-left: 10px;
                        letter-spacing: -0.5px;
                    }
                }
                .dropdown-menu-inner{
                    .kc-container{
                        padding: 0;
                    }
                }
            }
/*             @media(min-width: $screen-sm-max){*/
                &:focus,
                &:hover {
                    > a { 
                        color: $theme-color;
                        .caret::before {
                            color: $theme-color;
                        }
                    }
                    > .dropdown-menu {
                        @include opacity(1);
                        @include transition(all 0.3s ease-in 0s);
                        visibility: visible;
                    }
                }

            i{
                margin-right: 10px;
                font-size: 20px;
            }
        }

    }
   
    .widget_nav_menu {
        ul li{
            padding: 0;
            border: none;
            a {
                display: block;
                color: #666666;
                &:hover {
                    color: $theme-color;
                    padding-left: 5px;
                }
            }
        }
    }
    &.menu-left {
        .navbar-nav {
            > li {
                > a {
                    &:after {
                        right: -3px;
                    }
                }
               /*  @media(min-width: $screen-sm-max){ */
                    &:focus,
                    &:hover {
                        > a {
                            &:after {
                                border-color: #fff;
                                z-index: 1001;
                            }
                        }
                    }
                  
            }       
            li {
                /* @media(min-width: $screen-sm-max){ */
                    .dropdown-menu {
                        left: 130%;
                    }
                    &:focus,
                    &:hover {
                        > .dropdown-menu {
                            left: 100%;
                        }
                    }
        
                a {
                    .caret {
                        right: 0px;
                    }
                }
            }
        }
    }
    .menu-right {
        .navbar-nav {
            > li {
                > a {
                    &:before {
                        float: left;
                    }
                    &:after {
                        left: -3px;
                    }
                }
                &:focus,
                &:hover {
                    > a {
                        &:after {
                            border-color: #fff;
                            z-index: 1001;
                        }
                    }
                }               
            }
            li {
                @media(min-width: $screen-sm-max){
                    .dropdown-menu {
                        right: 130%;
                        left: auto;
                    }
                    &:focus,
                    &:hover {
                        > .dropdown-menu {
                            right: 100%;
                        }
                    }
                }
                a {
                    .caret {
                        right: 0px;
                    }
                }
            }
        }
    }
}

.sidebar-right{
    .vertical-menu.menu-left{
        .navbar-nav{
            li{
               .dropdown-menu {
                    left: -130%;
                }
                &:focus,
                &:hover {
                    > .dropdown-menu {
                        left: -105%;
                    }
                }
            } 
        } 
    } 
}
/* tabs */

.nav-tabs{
    margin-bottom: 0 !important;
    display: block !important;
    .kc_wrapper.ui-tabs{
        display: block;
    }
    &.kc_tabs{
        .kc_tabs{
            margin-bottom: 30px;
        }
       > .kc_wrapper > .kc_tabs_nav{
            padding-left: 30px;
            padding-right: 30px;
            @media(min-width: $screen-sm) and (max-width: $screen-md-max){
                padding-left: 20px;
                padding-right: 20px;
            }
            @media (max-width: $screen-xs-max){
                margin-top: 20px;
            }
            position: relative;
            border-radius: 5px;
            &:after{
                content: "";
                background: #e8e8e8;
                width: 100%;
                height: 1px;
                left: 30px;
                right: 30px;
                @media (max-width: $screen-xs-max){
                    display: none;
                }
            }
            > li{
            }
       }
       .kc_tab{
            padding-top: 80px;
            margin-top: -80px;
            .kc_tab_content{
               padding : 0;
            }
        } 
    }
    .kc_tabs_nav{
        li{
            border: none !important;
            a{
                letter-spacing: -1px;
                @media(max-width: $screen-xs-max){
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;
                    padding-left: 0 !important;
                    background: transparent !important;
                    border-bottom: 1px solid #eaeaea;
                    border-radius: 0 !important;
                    letter-spacing: -1px;
                }
            }
            &:hover{
                a{
                }
            }
            &.ui-tabs-active{
                > a{
                    background-image: url('#{$image-theme-path}title-bg.png');
                    background-repeat: no-repeat;
                    background-position-y: 50%;
                }
                
            }
        } 
    }
}
.nav-tabs-v2{
    margin-bottom: 0 !important;
    display: block !important;
    float: none !important;
    &.kc_tabs{
       > .kc_wrapper > .kc_tabs_nav{
            padding-left: 30px;
            padding-right: 30px;
            position: relative;
            border-radius: 5px;
            min-height: 30px;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 30px;
            @media (max-width: $screen-sm-max){
                margin-bottom: 0;
            }
            @media (max-width: $screen-xs-max){
                display: block;
            }
            li{
                position: relative;
                z-index: 999;
                @media (max-width: $screen-xs-max){
                    width: 100%;
                    margin-bottom: 5px;
                }
            }
       }
    }
    .kc_tabs_nav{
        li{
            > a{
                border: 2px solid transparent;
                @include transition(all 0.5s ease-out 0s);
                @include border-radius(25px);
                @media (max-width: $screen-xs-max){
                    @include border-radius(5px);
                    border: 2px solid #ebebeb;
                }
                &:hover{
                    border-color: $theme-color;
                    @media (max-width: $screen-xs-max){
                       background-color: $theme-color !important;
                       color: $white !important;
                    }
                }
            }
           
            &.ui-tabs-active{
                > a{
                    border-color: $theme-color;
                    @media (max-width: $screen-xs-max){
                       background-color: $theme-color !important;
                       color: $white !important;
                    }
                }
                
            }
        } 
    }
    &.kc_vertical_tabs{
        padding-top: 80px;
        position: relative;
        z-index: 1;
        margin-top: -80px;
        .products-collection{
            margin-bottom: 0;
        }
        > .kc_wrapper{
            > .ui-tabs-nav{
                margin-top: 20px;
                min-height: 300px;
                position: relative;
                @media (max-width: $screen-xs-max){
                    width: 100%;
                    min-height: inherit;
                }
                &:after{
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background: $border-color-base;
                    top: 10px;
                    right: 0;
                }
                > li{
                    border: none !important;
                }
            }
            > .kc_tab{
                border: none !important;
                @media (max-width: $screen-xs-max){
                    width: 100% !important;
                }
                &.ui-tabs-body-active{
                    overflow: inherit;
                }
            }
        }
    }
}
.nav-tabs-3{
    margin-bottom: 0 !important;
    display: block !important;
    .kc_wrapper.ui-tabs{
        display: block;
    }
    &.kc_tabs{
        .kc_tab{
            .kc_tab_content{
               padding : 0;
            }
        } 
    }
    .kc_tabs_nav{
        li{
            width: 16.666%;
            position: relative;
            border: none;
            @media (max-width: $screen-xs-max){
                width: 33.3333%;
            }
            @media (max-width: $screen-phone){
                width: 50%;
            }
            .text{
                position: absolute;
                top: 42px;
                color: $white;
                left: 20px;
                right: 20px;
                @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                    top: 15px;
                    left: 10px;
                    right: 10px;
                }
                @media (max-width: $screen-phone){
                    top: 30px;
                }
                i{
                    display: block;
                    margin-bottom: 25px;
                    font-size: 36px;
                    @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                        margin-bottom: 10px;
                        font-size: 26px;
                    }
                }
            }
            &:hover{
                a{

                }
            }
            &.ui-tabs-active{
                &:before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    @include translateX(-50%);
                    width: 0;
                    height: 0;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    border-bottom: 12px solid #fff;
                }
            }
        } 
    }
}
 