/**
 * 6.10 Contributor Page
 * -----------------------------------------------------------------------------
 */
.contributor {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:      border-box;
	padding: 48px 10px;
}

.contributor:first-of-type {
	padding-top: 24px;
}

.contributor-info {
	margin: 0 auto;
	max-width: 474px;
}

.contributor-avatar {
	border: 1px solid rgba(0, 0, 0, 0.1);
	float: left;
	margin: 0 30px 20px 0;
	padding: 2px;
}

.contributor-name {
	font-size: 16px;
	font-weight: 900;
	line-height: 1.5;
	margin: 0;
}

.contributor-bio a {
	text-decoration: underline;
}

.contributor-bio a:hover {
	text-decoration: none;
}

.contributor-posts-link {
	display: inline-block;
	line-height: normal;
	padding: 10px 30px;
}

.contributor-posts-link:before {
	content: "\f443";
}


/**
 * 6.11 404 Page
 * -----------------------------------------------------------------------------
 */
.notfound-page{
   padding: 60px 0 0;
   color: $black;
   @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
      padding-left: 30px;
      padding-right: 30px;
   }
   @media (max-width: $screen-phone) {
      padding-left: 30px;
      padding-right: 30px;
   }
   .title{
      font-size: 200px;
      color: #5588b7;
      font-weight: bold;
      line-height: 1;
      font-family: $font-family-base;
      font-weight: 500;
      @media (max-width: $screen-phone) {
         padding: 80px 0;
      }
      display: block;
   }
   .sub{
      font-size: 36px;
      display: block;
      position: relative;
      font-family: $font-family-base;
   }
   .left-notfound{
      height: 220px;
   }
   .error-description{
      line-height: 30px;
      position: relative;
      z-index: 1000;
   }
   .page-action{
      margin-top: 30px;
      a{
         padding: 12px 30px;
         font-family: $font-family-base;
         border-radius: 2px;
         @include box-shadow(0 20px 35px 0 rgba(1,1,1,.1));  
      }
   }
   .bg-page-404{
      overflow: hidden;
      display: block;
      border-radius: 5px;
      background: $white;
      padding: 100px;
      background-image:  url('#{$image-theme-path}bg-page-404.jpg');
      background-repeat: no-repeat;
      background-position: 100% 100%;
   }
}     

.archive-header{
   background: url("#{$image-theme-path}bottom.png") bottom no-repeat;
   font-size: 24px;
   letter-spacing: -1px;
   padding-bottom: 17px;
   margin-bottom: 20px;
}
.category-lifestyle{
   .opal-breadscrumb{
      margin-bottom: 0;
   }
}
.single-product{
   .products-collection{
      &.widget{
         margin-top: 30px;
         padding-left: 0;
         padding-right: 0;
         .widget-title{
            margin: 0 30px;
         }
         &.related-products{
            margin-bottom: 0px;
         }
      }
   }
   .products-collection.owl-carousel-play{
      .carousel-controls-v2{
         &.carousel-controls{
            top: 18px;
         }
      }

   }
   .related-products{
      margin-bottom: 0;
   }
   .productinfo-show-discounts{
      display: none;

   }
}
/* Single Testimonial */
.single-testimonial{
   .related-posts{
      display: none;
   }
   .testimonial {
      @extend .box-shadow-v2;
      background: $white;
      margin-bottom: 30px;
   }
}


.category{
   article{
      @extend .box-shadow-v2;
      &.post{
         margin-bottom: 30px;
         padding: 30px;
         background: $white;
         .entry-title{
            font-size: 30px !important;
            line-height: 38px !important;
            font-weight: 500;
            margin: 0px;
            text-transform: inherit;
            padding-bottom: 20px;
            padding-top: 25px;
         }
      }
   }
}
.wpcf7-form-control.btn{
   height: 34px;
   line-height: 23px;
}
.page-content{
    .input-group {
        .form-control{
            line-height: 40px;
            height: 40px;
        }
    }
}
.main-content{
   .woocommerce-archive-content{
      background: $white;
      @extend .box-shadow-v2;
      overflow: hidden;
      margin-bottom: 30px;
   }
}

/* Content None */
.content-none{
   background: $white;
   @extend .box-shadow-v2;
   padding: 30px;
   margin-bottom: 30px;
   .page-title{
      margin-top: 15px;
   }
}
.page-title{
   margin-bottom: 40px;
}