
.kc_image_gallery{
	.item-grid{
		img{
			filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%); 
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%); 
			-o-filter: grayscale(100%);
			filter: gray;
			&:hover{
				filter: grayscale(0%);
				-webkit-filter: grayscale(0%); 
				-moz-filter: grayscale(0%);
				-ms-filter: grayscale(0%); 
				-o-filter: grayscale(0%);
				filter: none;
				@include transition(all 0.35s ease 0s);
			}
		}
	}
}
.kc_tabs{
	&.hightlight{
		.ui-tabs{
			border: none;
		}
		.kc_tab.ui-tabs-body-active{
			padding: 0;
			margin-top: $grid-gutter-width;
		}
		.kc_wrapper{
			.kc_tabs_nav{
				background: transparent;
				text-align: center;	
				height: auto;			
				li{
					float: none;
					font-weight: bold;
					color: $link-color;
					text-transform: uppercase;
					letter-spacing: 1px;
					padding: 0 16px;
					@media (min-width: $screen-sm) and (max-width: $screen-sm-max){
						padding: 0 10px;
					}
					a:hover,&:hover{
						background: transparent;
					}
					a{
						font-family: $font-family-base;
						font-weight: bold;
						font-size: 16px;
					}
				}
				.ui-tabs-active{
					text-decoration: line-through;
					background: transparent;
					color: $link-color;
					a{
						color: $link-color;
					}
				}
			}
		}
	}
}
.kc-pie-chart-wrapper {
	.pie_chart_text{
		h3{
			color: $theme-color;
			font-size: 14px;
		}
	}
}
.kc_text_block{
	p{
		line-height: 23px;
	}
}