
/**
 * 6.3 Entry Meta
 * -----------------------------------------------------------------------------
 */
.cat-links {
/* 	font-weight: 900; */
	text-transform: capitalize;
}

.cat-links a {
	color: #2b2b2b;
}

.cat-links a:hover {
	color: #41a62a;
}

.byline {
	display: none;
}
.entry-meta {
	clear: both;
	color: $light-gray;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3333333333;
	text-transform: capitalize;
	margin-bottom: 10px;
	padding-top: 20px;
	width:100%;
	overflow:hidden;
	display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   border-top: 1px solid #e1e1e1;
	span{
		display: inline-block;
	} 	
	.tag-links{
		margin: 0;
	}
	.fa{
		margin-right: 5px;
	}
}
.entry-date,
.meta-sep,
.author,	
.entry-category,
.comments-link,
.edit-link {
	a {
		text-transform: capitalize;
		color: $light-gray; 
		margin: 0 5px;
		&:hover{
			color: $brand-primary; 
		}
	}
}
.entry-category {
	padding: 0 5px;
	@media (max-width: $screen-xs-max){
		padding: 0;
	}
	ul {
		margin: 0;
		display: inline-block;
		padding:0;
		li {
			margin: 0;
			padding: 0;
			display: inline-block;
			list-style: none;
		}
	}
}

#commentform{
	#submit{
		height: 34px;
		line-height: 23px;
	}
}

/**
 * 6.4 Entry Content
 * -----------------------------------------------------------------------------
 */

.entry-content,
.entry-summary,
.page-content {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	word-wrap: break-word;
	margin-bottom: 20px;
}



.entry-content a,
.entry-summary a,
.page-content a,
.comment-content a {
	text-decoration: none;
}

.entry-content a:hover,
.entry-summary a:hover,
.page-content a:hover,
.comment-content a:hover,
.entry-content a.button,
.entry-summary a.button,
.page-content a.button,
.comment-content a.button {
	text-decoration: none;
}

.entry-content table,
.comment-content table {
	font-size: 14px;
	line-height: 1.2857142857;
	margin-bottom: 24px;
}

.entry-content th,
.comment-content th {
	font-weight: 700;
	padding: 8px;
	text-transform: uppercase;
}

.entry-content td,
.comment-content td {
	padding: 8px;
}

.entry-content .edit-link {
	clear: both;
	display: block;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3333333333;
	text-transform: uppercase;
}

.entry-content .edit-link a {
	color: $theme-color;
	text-decoration: none;
}

.entry-content .edit-link a:hover {
	color: #41a62a;
}

.entry-content .more-link {
	white-space: nowrap;
}
.ratings a{
	text-indent:-9999em !important;
}


.entry-content-page{ 
    .edit-link{
        background:#000;      
        position: absolute;
        top: 0;
        right: 0;
        padding:5px 6px;
        &:before{
        	content: none;
        }
        a{
            font-size: 11px;
          color: #FFF!important;
        }  
        z-index: 10000;
    }
    position:relative;
}
.opal-social-share{
	margin:20px 0;
	clear: both;
}
/* Tag links style */
.tag-links{
	a{
		color: #888888;
		display: inline-block;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.2727272727;
		margin-right: 10px;
		padding: 5px 7px 2px;
		margin-bottom: 3px;
		position: relative;
		border: 1px solid #cccccc;
		text-transform: uppercase;
	  	
	  	&:hover {
		    background-color: darken($theme-color, 5%);
		    border-color: darken($theme-color, 5%);
		    color: #fff;
	  	}
  	}
}
	
/**
 * Navigation links
 */
.nav-links{
	margin-bottom: 30px;
	margin-left: -10px;
	margin-right: -10px;
	a {
		display: block;
		float: left;
		width: 50%;
		padding: 0 10px;
		> div {
			background-color: $white;
			@extend .box-shadow-v2;
			padding: 20px 30px 30px;
			@media (max-width: $screen-phone){
				padding: 20px 15px 20px;
			}
			font-size: 16px;
			float: none !important;
			&.pull-right {
				text-align: right;
				.meta-nav {
					&:after {
						font-family: 'FontAwesome';
						content: "\f105";
						margin-left: 7px;
						font-size: 16px;
					}
				}				
			}
			&.pull-left {
				.meta-nav {
					&:before {
						font-family: 'FontAwesome';
						content: "\f104";
						margin-right: 7px;
						font-size: 16px;
					}
				}				
			}
		}
	}
	.meta-nav{
		display: block;
		text-transform: uppercase;
		color: $light-gray;
		font-size: 14px;
		margin-bottom: 7px;
		position: relative;
	}
}

/* Mediaelements */

.hentry .mejs-container {
	margin: 12px 0 18px;
}

.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls {
	background: #000;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #fff;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #24890d;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: rgba(255, 255, 255, .33);
}

.hentry .mejs-container .mejs-controls .mejs-time {
	padding-top: 9px;
}

.hentry .mejs-controls .mejs-time-rail span,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	border-radius: 0;
}

.hentry .mejs-overlay-loading {
	background: transparent;
}

.hentry .mejs-overlay-button {
	background-color: #fff;
	background-image: none;
	border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.8);
	color: #000;
	height: 36px;
	margin-left: -24px;
	width: 48px;
}

.hentry .mejs-overlay-button:before {
	-webkit-font-smoothing: antialiased;
	content: '\f452';
	display: inline-block;
	font: normal 32px/1.125 Genericons;
	position: absolute;
	top: 1px;
	left: 10px;
}

.hentry .mejs-controls .mejs-button button:focus {
	outline: none;
}

.hentry .mejs-controls .mejs-button button {
	-webkit-font-smoothing: antialiased;
	background: none;
	color: #fff;
	display: inline-block;
	font: normal 16px/1 Genericons;
}

.hentry .mejs-playpause-button.mejs-play button:before {
	content: '\f452';
}

.hentry .mejs-playpause-button.mejs-pause button:before {
	content: '\f448';
}

.hentry .mejs-volume-button.mejs-mute button:before {
	content: '\f109';
	font-size: 20px;
	position: absolute;
	top: -2px;
	left: 0;
}

.hentry .mejs-volume-button.mejs-unmute button:before {
	content: '\f109';
	left: 0;
	position: absolute;
	top: 0;
}

.hentry .mejs-fullscreen-button button:before {
	content: '\f474';
}

.hentry .mejs-fullscreen-button.mejs-unfullscreen button:before {
	content: '\f406';
}

.hentry .mejs-overlay:hover .mejs-overlay-button {
	background-color: #24890d;
	color: #fff;
}

.hentry .mejs-controls .mejs-button button:hover {
	color: #41a62a;
}
.gallery-columns-3 .gallery-item{
	&:nth-child(3n+1){
		clear:both;
	}
}
.single-post {
	article{
		&.post{
			border: none;
			background: $white;
	      @extend .box-shadow-v2;
    		padding: 30px;
    		margin-bottom: 30px;
			> .entry-header, > .entry-content, > .entry-meta{
			   clear: both;
    			display: block;
    			overflow: hidden;
			}
			.entry-meta{
				margin-bottom: 0;
				border: none;
			}
		}
	}
	.entry-content{
		border-top: 1px solid #e1e1e1;
		padding-top: 20px;
		color: #888888;
		font-weight: 300;
		.kc_column{
			padding: 0;
		}
	}
}
article{
	position: relative;
	.entry-title{
		font-size: 20px;
		font-weight: 500;
		margin: 0;
		line-height: 25px;
		overflow: hidden;
		a{
			color: #363636;
			&:hover{
				color: $theme-color;
			}
		}
	}
	h1.entry-title{
		font-size: 30px !important;
		color: $black;
		text-transform: inherit;
	   line-height: 35px;
	   padding: 25px 0 10px;
	}
	h3.entry-title{
		font-size: 24px !important;
		line-height: 30px;
		margin-top: 10px;
	   padding: 10px 0;
	}
	.entry-date{
		display: inline-block; 		
		color: $theme-color;
		font-size: 13px;
		text-transform: uppercase;
	}
	.list-item{
		h3{
			font-size: 18px;
		}
	}
	&.post {	
		margin-bottom: 30px;
		border-bottom: none;
    	margin-bottom: 30px;
    	background: $white;
   	padding: 30px;
      border: none;
    	@extend .box-shadow-v2;
		@media (max-width: $screen-xs-max){
			padding-bottom: 0;
			margin-bottom: 0;
		}	
		&:last-child{
			border-bottom: none;
		}
	}
	&.page{
		display: block;
		overflow: hidden;
		padding: 30px;
		margin-bottom: 30px;
    	background: $white;
		@extend .box-shadow-v2;
	}
	.post-format a{
		i{
			display: none;
		}

	}	
	.post-content{
		span{
			a{
				display: inline-block;
				color: $theme-color;
				margin-top: 10px;
				&:hover{
					color: darken($theme-color,5%);
				}
			}
		}
		a{
			display: block;
			margin-top: 10px;
			color: $theme-color;
		}
	}
}
.kingcomposer{
	.page-header-v1{
		display: none !important;
	}
	article{
		&.page{
			overflow: inherit;
			padding: 0;
			margin-bottom: 0px;
	    	background: transparent;
			@include border-radius(0);
	    	@include box-shadow(inherit);
		}
	}
} 
/* Footer Post */
.footer-post{
	display: block;
	overflow: hidden;
	border-top: 1px solid #ebebeb;
	> div{
		float: left;
		width: auto;
	}
	.entry-meta{
		border-top: none;
	}
   .opal-social-share{
   	float: right;
	   clear: inherit;
	   margin-top: 24px;
      .bo-social-icons{
         a{
            margin-left: 0;
            margin-right: 0;
            @include border-radius(0);
            line-height: 16px;
            @include size(16px, 16px);
            font-size: 9px;
            > .fa{
                 line-height: 16px;
            }
         }
      }

   }
}


.related-posts{
	background: $white;
	padding-top: 30px;
	@include box-shadow(0 2px 12px rgba(0, 0, 0, 0.1));
	.widget{
		padding: 0;
		@include box-shadow(none !important);
   	@include border-radius(0 !important);
   	article.post{
   		@include box-shadow(none);
   		@include border-radius(0);
   		margin-bottom: 40px;
   	}
   	article h3.entry-title {
		    font-size: 16px !important;
		    line-height: 20px;
		}
	}
	.widget-title{
		margin-left: 30px;
		margin-right: 30px;
	}
	article.post{
		padding: 0;
	}
	.related-posts-content{
		
		
	}
	.content-blog{
		margin-top: 15px;
	}
	.owl-carousel{
       .owl-wrapper-outer{
            padding-top: 0;
            .owl-wrapper{
                .owl-item{
                    article.post{
                        margin-bottom: 30px;
                        border-bottom: none;
                        @include border-radius(0);
                        @include box-shadow(inherit);
                        padding: 0;
                        &:before{
                            content: "";
                            position: absolute;
                            height: 100%;
                            width: 1px;
                            background: #e8e8e8;
                            top: 0;
                            left: -30px;
                            z-index: 99;
                        }
                    }
                    
                    &.active{
                        &.first{
                            article.post{
                                &:before{
                                    display: none;
                                }
                            }
                        }
                       
                    }
                }
            }
        }
    }	
}
/*------------------------------------*\
    Comment List
\*------------------------------------*/

.comments{
	background: $white;
	padding: 30px;
	@extend .box-shadow-v2;
   margin-bottom: 30px;
	.comments-title {
		font-size: 24px;
	    margin-bottom: 0 0 5px;
	    padding: 0;
	    position: relative;
	    color: $black;
    }
    .the-comment{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dotted $border-color;
    .avatar{
        float: left;
        margin-right:5px;
        img{
            @include size(50px, 50px);
            @include border-radius(50%);
          }
        }
    }
    .children{
         
    }
    .comment-author{
        color: $theme-color;
    }
    .comment-meta {
        font-size: $font-size-base - 2;
        color: #aaa;
    }
    a{
        color: $theme-color;
        text-transform: uppercase;
        font-size: 12px;
    }
     ol, ul { 
      margin: 0; 
    }
    .children{
    	@media (max-width: $screen-phone){
    		padding-left: 15px;
    	}
    }
    .children,
    .commentlists{
    	list-style: none;
    	
    }
    .commentlists{padding-left: 0; margin-bottom: 10px;}
}

.comment-navigation{
	.previous{float: left;} 
	.next{float: right;}
}