@media (min-width: $screen-lg) {
  .col-lg-cus-5 {
    width: 20%;
    float: left;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}
@media (min-width: $screen-md) and (max-width: $screen-lg) {
  .col-md-cus-5 {
    width: 20%;
    float: left;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max){
    .col-sm-cus-5{
        width: 50%;
        float: left;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }

}
@media (max-width: $screen-xs) {
  .col-xs-cus-12 {
    width: 100%;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */

.sidebar-offcanvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 65%;
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    text-align: left;
    background: $white;
}

.btn-offcanvas {
    &:hover{
        color: $theme-color;
    }
}

.offcanvas-head {
    button {
        padding: 14px 25px;
    }
}

.row-offcanvas {
    position: relative;
    @include transition(all 0.25s ease-out);
}

.offcanvas-showright {
    background: rgba($theme-color,0.8);
    position: relative;
    @include transition(all 0.25s ease-out);
    width: 400px;
    position: absolute;
    right: -800px;
    top: 0;
    z-index: 1000;
    display: block;
    padding: 50px 0;
    &.active {
        display: block;
        right: 0;
    }
    .showright{
        background-color: $white;
        @include size(40px,40px);
        border: none;
        margin-right: 50px;
        .fa{
            color: $theme-color;
        }
    }
}
@media (min-width: $screen-lg){
    .rev_slider_wrapper{
        .style1{
            border-bottom: 100px solid #000;
            border-left: 10px solid transparent;
            border-right: 20px solid transparent;
            width: 100%;
            height: 100px;
            letter-spacing: -5px;
        }
        .style2{
            border-bottom: 100px solid $theme-color;
            border-left: 18px solid transparent;
            width: 100%;
            height: 100px;
            position: relative;
            letter-spacing: -5px;
            line-height: 100px !important;
            &:before{
                position: absolute;
                content: "";
                border-top: 100px solid $theme-color;
                border-right: 20px solid transparent;
                position: absolute;
                height: 0;
                width: 0;
                top: 0;
                right: -19px;
                display: block;
                content: '';
            }
        }
        .style3{
            background: #fff;
            position: relative;
            letter-spacing: -1px;
            padding-top: 18px;
            line-height: 27px !important;
            &:before{
                position: absolute;
                content: "";
                border-top: 80px solid #fff;
                border-left: 20px solid transparent;
                position: absolute;
                height: 0;
                width: 0;
                top: 0;
                left: -19px;
                display: block;
                content: '';
            }
        }
        .style4, .style5{
            letter-spacing: -5px;
        }
        .style6{
            letter-spacing: -1px;
        }
    }
}
@media screen and (max-width: $screen-md-min) {
    
    .row-offcanvas-right {
        right: 0;
    }
    .row-offcanvas-left {
        left: 0;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -65%;
    }
    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -65%;
    }
    .row-offcanvas-right.active {
        right: 65%;
    }
    .row-offcanvas-left.active {
        left: 65%;
        position: relative;
        &:before{
            content: "";
            background-color: rgba(0, 0, 0, 0.2);
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 999;
        }
    }
    .zoomContainer{
        display: none;
    }
} 

.navbar-offcanvas{
    border: none;
    ul#main-menu-offcanvas{
        float: none;
        display: block;
        > li{
            position: relative;
            border-bottom: 1px solid $border-color;
            display: block;
            float: none;
            .caret{
                position: absolute; 
                right: 10px;
                top: 10px;
                @include size(25px, 25px);
                border: 1px solid $border-color;
                z-index: 9;
                background: #f5f5f5;
                &:hover{
                    cursor: pointer;
                }
                &:after{
                    font-family: FontAwesome;
                    content: "\f107";
                    top: 0px;
                    left: 7px;
                    position: absolute;
                    z-index: 9;
                }
            }
            ul{
                li a{
                    font-size: 13px;
                    font-weight: 300;
                    padding:10px 15px;
                }
            }
        }
        li.active > a{
            background: none;
            color: $theme-color;
        }
    }
}
@media (max-width: $screen-xs-max){
    .product-info{
        .product-topinfo{
            h1.product_title{
                font-size: 30px !important;
            }
        } 
    }
}
@media (max-width: $screen-phone) {
    .active-mobile{
        &.cart-popup{
            .active-content{
                right: 0;
                left: -100px;
            }
        }
    }
    .zoomContainer{
        display: none;
    }
    #opal-footer{
        .kc_column.kc_col-sm-4, .kc_column.kc_col-sm-2{
            width: 100% !important;
        }
    }
    h3.kc_title {
        font-size: 17px;
    }
}
@media (max-width: $screen-xs-max) and (min-width: $screen-phone){
    #opal-footer{
        .kc_column.kc_col-sm-4{
            width: 100% !important;
        }
        .kc_column.kc_col-sm-2{
            width: 50% !important;
        }
    }
}
@media (max-width: $screen-xs-max){
    .nav-tabs.kc_tabs > .kc_wrapper > .kc_tabs_nav{
        float: none;
        display: block;
        li{
            float: none;
            border-radius: 5px;
            background: transparent;
            a{
                border-radius: 5px;
            }
            &:before{
                display: none;
            }
        }
    }
}
@media (max-width: $screen-sm-max){
    .kc-elm.banner-style2 .overlay-effects{
        padding: 20px !important;
    }
    .title-products{
        margin-bottom: 0 !important;
        text-align: center;
    }
    .single-post{
         article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
            clear: both;
         }
    }
   
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max){
    #opal-masthead .header-main.style-2{
        overflow: hidden;
    }
    #main,.opal-footer {
        .container {
            width: 100% !important;
        }
    }
    .zoomContainer{
        display: none;
    }
    .opal-social-share{
        margin-left: 20px;
        display: block;
    }
    #opal-footer{
        .kc_column.kc_col-sm-4{
            width: 40% !important;
        }
        .kc_column.kc_col-sm-2{
            width: 30% !important;
            &:nth-child(4){
                clear: both !important;
            }
        }
    }
    
    .nav-tabs.kc_tabs{
        > .kc_wrapper{
            text-align: center;
            > .kc_tabs_nav{
                float: none;
                display: inline-block;
                margin: 0 auto;
            }
            > .ui-tabs-panel{
                text-align: left;
            }
        } 
    }
}
@media (max-width: $screen-md) and (min-width: $screen-sm){
    .kc-feature-boxes{
        &.meta-box{
            padding: 40px 20px 40px 20px;
            text-align: center;
            .content-position{
                top: 0;
                position: relative;
                display: inline-block;
                left: auto;
            }
            > div{
                text-align: center !important;
                display: inline-block;
            }
        } 
    } 
}
@media (max-width: $screen-sm-max){
    .feature-box-v1{
        margin-bottom: 30px;
    }
}
@media (max-width: $screen-md-max){
    .container{
       &.v2{
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
}
@media (min-width: $screen-md) and (max-width: $screen-md-max){
    .navbar-mega{
        .navbar-nav{
            > li{
                > a{
                    &:before{
                        display: none !important;
                    }
                }
            }
        } 
    }
    .opal-footer .main-footer > .kc_column_inner:first-child{
        padding: 0 30px 0 30px;
    }
}
@media (max-width: $screen-xs-max){
    .text-copyright{
        text-align: center;
        float: none !important;
    }
}
