/////////// TEMPLATES LAYOUT ///////////

$app-prefix                      : opal !default;
$vc-prefix                       : wpopal_ !default;

body{
    overflow-x:hidden;
    -ms-word-wrap: break-word;
        word-wrap: break-word;

}
#main {
    .container{ 
        position:relative; 
        .container {
            width: 100%;
        }
    }
}
#site-header{
    text-align: center;
}
.home-background{
    background: #ededed;
}
.page-template-boxed-page{
    max-width: 1230px;
    margin: 0 auto;
    .entry-content-page{ 
        .edit-link{
            visibility: hidden;
        }
    }
    .opal-footer{
        .kc-container{
            max-width:1170px;
        }
    }
}

/**
 * Page Style
 */

#page{
    position: relative;
    margin-left:auto;
    margin-right: auto;
    overflow: hidden;
    &.page-static-left{
        @include transition(all 0.25s ease-out);
        &.active{
            @include transition(all 0.25s ease-out);
            margin-left: 250px;
            .sidebar-static-left{
                @include transition(all 0.25s ease-out);
                left: 0;
            }
        }
    }
    &.active .button-action:before{
        content: "\f060"
    }
}

.sidebar-static-left{
    background:#282828;
    color: #CCC;
    position:fixed;
    left: -290px;
    height: 100%;
    position: fixed;
    width: 300px;
    z-index: 99999;
    @include transition(all 0.25s ease-out);
    .inner{
        padding:30px; 
        width: 100%;
        position: absolute;
        height: 100%;
    
    }

    .button-action{
        background:red;
        position:absolute;
        right: -40px;
        top: 0;
        height: 40px;
        color: #CCC;
        &:before{
            content: "\f061";
            font-size: 12px;
            height: 38px;
            width: 38px;
            font-family: 'FontAwesome';
            text-align: center;
            display: block;
            line-height: 34px;
        }
    }
}
/**
 * Topbar layout styles
 */
##{$app-prefix}-topbar{    
    font-size      : $topbar-font-size ;
    background     : $topbar-bg;
    font-family    : $topbar-font-family;  
    color          : $topbar-color;                                            
    font-weight    : $topbar-font-weight;
    border-bottom: 1px solid #dcdcdc;
   	.list-inline{
   		margin: 0; padding:0;
   	}
    .list-style{
        list-style: none;
        margin: 0; padding:0;
        padding-right: 5px;
        li{            
            float: left;
            text-align: center;
            line-height: 46px;
            &:last-child{
                border-right: 0;
            }
            a{
                i{
                    background: transparent;
                }
            }
            > a{
                &:hover{
                    text-decoration: underline;
                }
            }
            + li + li{
                border-left: $topbar-border;
            }
        }
    }
    .info{
        > div{
            float: left;
            line-height: 46px;
        }
        .telephone{
            .phone-number{
                color: $black;
                font-weight: 500;
            }
        }
        .widget-topbar{
            padding: 14px 0;
            font-size: 12px;
            color: #666666;
        } 
    }
    .fa{
        font-size: $topbar-icon-font-size;
        color: $topbar-icon-color;
        margin-right: 5px;
    }
    a{
        color: $topbar-color;
        &:hover{
            color: $topbar-hover-color;
        }
        &.opal-user-register{
            padding-left: 15px;
            
        }
        &.opal-user-login{
            padding-right: 15px;
        }
        &.opal-user-login, &.opal-user-register{
            span{
                display: none;
                letter-spacing: -0.5px;
            }
        }   
    } 
}
.topbar-mobile{
    width: 100%;
    background: $topbar-mobie-bg;
    display: table; 
    .btn-offcanvas{
        background-color:transparent;
    }
    .fa{
        color: $white;
        font-size: 20px;
    }
}

.active-mobile{
    line-height:48px;
    @include size(48px,48px);
    position: relative;
    cursor: pointer;
    @include transition(all 0.3s ease 0s);
    text-align: center;
    > span{
        line-height:48px;
    }
    > .btn{
        padding: 0;
        .fa{
            line-height: 48px;
        }
    }
    &:hover{
        background-color: darken($theme-color, 5%) !important;
        cursor: pointer;
        .active-content{
            display: block;
            opacity: 1;
            visibility: visible;
            left: 0;
            right: auto;
        }
    }
    .active-content{
        position: absolute;
        top: 100%;
        z-index: 99999;
        color: $text-color;
        padding: $theme-margin;
        background-color: #f8f6f0;
        left: -10000px;
        @include opacity(0);
        position: absolute;
        min-width: 270px;
        visibility: hidden;
        right: 0;
        text-align: left;
        @include transition(opacity 0.3s ease 0s);
        p.total{
            color: $gray;
        }
    }
    ul{
        padding: 0;
        li{
            display: block;
            margin: 0;
            padding: 5px 0;
            line-height: normal;
        }
    }
    .search-category-container{
        display: none;
    }
    .search-category-input{
        @include font-size(font-size,15px);
        height: 42px;
    }
    .input-group-btn{
        line-height: 32px;
        background:$theme-color;
    }
    .btn-search{
        .fa{
            color: $white;
            border: none;
            font-size: 16px;
            background-color: transparent;
        }
        &:hover{
            .fa{
                color: $theme-color;
            }
        }
    }
    &.setting-popup{
    }
}
##{$app-prefix}-logo{
    &.logo-theme.v2{
        text-align: center;
    }
}
/**
 * Header Layout styles
 */
##{$app-prefix}-masthead{
    position: relative;
    background-color: $header-bg;
    @include box-shadow(1px 2px 12px rgba(0,0,0,0.08));
    @media (max-width: $screen-sm-max){
        overflow: hidden;
        display: block;
    }
    .header-main{
        padding: $header-main-padding;
        text-align: center;
        color: $gray-darker;

        @media (min-width: $screen-lg) {
            text-align: left;
        }
        .header-inner{
            padding-top: 5px;
        }
        &.v2{
           padding: 20px 0;
        }
        &.style-3{
            padding-left: 15px;
            padding-right: 15px;
        }
        &.has-sticky {
            @include transition(all 1s ease 0s);
            &.keeptop{
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 9999;
                left: 0;
                background-color: $header-bg;
                @include transition(all 1s ease 0s);
                padding: 15px 0;
                border-bottom: 1px solid #ededed;
            }
        }
    }
    .has-sticky {
        @include transition(all 1s ease 0s);
        &.keeptop{
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
            left: 0;
            background-color: $header-bg;
            @include transition(all 1s ease 0s);
            padding: 0;
            border-bottom: 1px solid #ededed;
            #opal-mainmenu{
                border-top: none;
            }
        }
    }
}
.home{
    .header-absolute{
        position: absolute;
    }
}
.header-absolute{
    width: 100%;
    z-index: 9999;
    max-width: 1320px;
    left: 0;
    right: 0;
    margin: auto;
    @media (max-width: $screen-md-max){
        position: relative;
        display: block;
    }
    @media (min-width: 1200px){
        .container {
            width: 1280px;
        }
    }
    .header-inner{
        padding-right: 10px;
        padding-left: 10px;
        @media (max-width: $screen-md-max){
            padding-right: 0px;
            padding-left: 0px;
        }
        .container{
            max-width: 1280px
        } 
        .opal-topbar, .site-header{
            background: #311425 !important;
            .has-sticky {
                &.keeptop{
                    background-color: #311425 !important;
                }
            }
        } 
        .header-main{
            border-top: 1px solid rgba(255, 255, 255, 0.05);
            .search-box-wrapper{
                .opal-dropdow-search a{
                    color: $white;
                }
            } 
        }  
        .header-right{
            .modal{
                background: rgba(0, 0, 0, 0.3);
            }
        }
    }
}
.header-right{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.home .header-default{
    margin-bottom: 30px;
}
/**
 * Contact Header
 */
.widget-contact{
    &.widget_wpopal_contact_info{
        .contact-info{
            display: flex;
            justify-content: flex-end;
            padding-top: 10px;
            > div{
                position: relative;
                padding: 0 50px 0 20px;
                &:last-child{
                    padding-right: 0;
                }
                span{
                    color: #848484;
                    font-size: 12px;
                    display: block;
                    font-weight: 300;
                }
                p, a{
                    color: $black;
                    font-weight: 500;
                    margin-bottom: 0;
                }
                a{
                    &:hover{
                        color: $theme-color;
                    }
                }
                .fa{
                    position: absolute;
                    left: 0;
                    color: $theme-color;
                }
            }
        }
    }
}

/**
 * Bottom Header
 */

.header-bottom{
    background: $theme-color;
    padding: 7px 0;
    .opal-vertical-menu{
        background: rgba(255, 255, 255, 0.12);
        position: relative;
        @include border-radius(5px);
        padding: 0;
        .widget{
            margin: 0;
            padding: 0;
            @include border-radius(0);
            @include box-shadow(inherit);
            background: transparent;
        }
        h3.widget-title{
            color: $black;
            padding: 13px 30px; 
            font-size: 18px;
            font-weight: 500;
            position: relative;
            line-height: 24px;
            background: transparent;
            border: none;
            @include transition(all 300ms linear);
            &:after{
                content: "\f107";
                font-family: FontAwesome;
                position: absolute;
                font-weight: 400;
                right: 30px;
                top: 50%;
                @include translateY(-50%);
            }           
        }
        .vertical-menu{
            position: absolute;
            width: 100%;
            background: $white;
            top: 75px;
            left: 0;
            z-index: 99;
            @include transition(all 500ms linear);
            visibility: hidden;
            @include opacity(0);
            @extend .box-shadow-v2;
            ul{
                li{
                    padding: 0px 20px;
                    @include transition(all 500ms linear);
                    &:hover{
                        > ul.sub-menu{
                            visibility: visible;
                            @include opacity(1);
                        }
                    }
                    ul.sub-menu{
                        visibility: hidden;
                        @include opacity(0);
                        position: absolute;
                        width: 100%;
                        background: #fff;
                        left: 102%;
                        top: 0;
                        @media (min-width: $screen-lg){
                           display: block !important; 
                        }
                        @media (max-width: $screen-sm-max){
                            visibility: visible;
                            @include opacity(1);
                            left: 0;
                            position: relative;
                        }
                        &:before{
                            content: "";
                            position: absolute;
                            top: 5px;
                            width: 0;
                            height: 0;
                            border-top: 10px solid transparent;
                            border-bottom: 10px solid transparent;
                            border-right: 10px solid #ffffff;
                            left: -2%;
                        }
                    }
                }
            }
        }
        &:hover{
            h3.widget-title{
                background: $black;
                color: $white;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .vertical-menu{
                @media (min-width: $screen-lg){
                    visibility: visible;
                    @include opacity(1);
                    top: 50px;
                }
            }
        }
        &.open{
            .vertical-menu{
                @media (max-width: $screen-md-max){
                    visibility: visible;
                    @include opacity(1);
                    top: 46px;
                }
            }
        }
            
    }
   .toggle-overlay-container{
        .search-box {
            .input-group .form-control{
                height: 50px;
                border: none;
            }
            .input-group-addon{
                border: none;
            }
            .input-group-btn{
                background-color: $black;
                border: 1px solid $black;
            }
        }
    }
    #cart{
        .mini-cart{
            .mini-cart-items{
                top: 18px;
                left: 2px;
            }
            .amount{
                border-left: 1px solid rgba(255, 255, 255, 0.5);
            }
        } 
    } 
    .opal-btn-wishlist{
        &:hover{
           color: #fff;
        }
    }
    &.v2{
        background: transparent;
        padding: 0;
        .header-right{
            margin-top: 14px;
        }
        .search-box-wrapper{
            margin-right: 20px;
        }
        .toggle-overlay-container{
            max-width: 200px;
            .search-box {
                .input-group .form-control{
                    height: 34px;
                    border: 1px solid #ebebeb;
                    border-right: none;
                }
                .input-group-btn{
                    background-color: transparent;
                    color: $black;
                    border: 1px solid #ebebeb;
                    border-left: none;
                    .btn-link{
                        color: $black;
                        padding: 0;
                        padding-right: 10px;
                    }
                    
                }
            }
        }
         #cart{
            padding: 0;
            padding-top: 4px;
            .mini-cart{
                .mini-cart-items{
                    top: 12px;
                    left: 5px;
                }
                .amount{
                    border-left: 1px solid #dcdcdc;
                }
            } 
        } 
    }
}


/**
 * Search block layout and styles
 */
.box-user{
    span {
        cursor: pointer;
        &:hover{
            color: $theme-color;
            @include transition (all 0.2s ease-in-out 0s);
        }
    }
    .dropdown-menu {
        left: -15px;
        right: auto; 
        top: 180%;
        margin: -1px 0 0;
        border-radius: 0;
        @include opacity(0);  
        @include transition(all 300ms ease-in-out 0s);
        border: medium none;
        display: block;
        margin-top: 0;
        min-width:150px;
        padding: 10px;
        position: absolute;
        visibility: hidden;
        z-index: 999 ;
    }
    &:hover {
        .dropdown-menu{
            visibility: visible;
            @include opacity(1); 
            top:160% ;
        }
    }
}
.search-category{
    .btn-search{
        padding: 6px 20px;
        input{
            background: transparent;
            border: none;
        }
    }
    > .input-group-btn{
        background-color: $theme-color;
        border: 1px solid $theme-color;
        .btn-link{
            border: none;
        }
    }
}
.search-box{
    .input-group{ 
        margin: 0;    
    }
    .input-group-addon{
        background:#FFFFFF;
        input{ background: transparent; border-color:$theme-color ; color:$black; }
        border-radius:0px 25px 25px 0px;
        min-width: auto;
        font-weight: normal;
        position: relative;
        font-size: 16px;
        font-weight: 300;
        padding:2px 20px 2px 20px !important;
        border: 2px solid $theme-color;
        border-right: none;
        border-left: none;
        color: #666666;
        position: relative;
        &:before{
            position: absolute;
            content: "";
            background: #dcdcdc;
            left: 0px;
            top: 50%;
            width: 1px;
            height: 25px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    input, select{ border:none ; border-radius:$border-radius-base;background:transparent;box-shadow:none;  }
    select{ border-radius:0 0 0!important;  border:none !important; background:transparent!important;  box-shadow:0 0 0!important; font-weight:300; 
        option{
            font-weight: 300;
        } 
    }
    &.search-box-simple{
        margin-top:15px;
        background: #f7f7f7;
        border: 1px solid $theme-color;
        
        .input-group-addon{ 
            background:transparent;
            text-align: right;
            font-size: 16px;
            min-width: 20px;
            &:after{
                content: none;
            } 
        }  
        input{ color:#000000 } 
    }
    &.search-box-light{
        .input-group{ 
            border-radius:$border-radius-large;
            background: #FFFFFF;
            border:2px solid #ebebeb;
        }
    }
}
.toggle-overlay-container{ 
    z-index: 10;
    background: transparent;
    max-width: 570px;
    @media (max-width: $screen-md-max){
        max-width: 470px;
    }
    .search-box {
        .input-group{
            .form-control{ 
                height: 54px;
                background: #fff;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                padding-left: 30px;
                border: 2px solid $theme-color;
                border-right: none;
                color: #aaaaaa;
                font-size: 16px;
                font-weight: 300;
            }
        }
        .input-group-addon{
           
        }
        .input-group-btn{
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            .btn-link{
                color: $white;
            }
        }   
    }
    .dropdown-toggle-button{
        width: 86px;
        /* height: 100%; */
        text-align: center;
        float:right;
        background:#F2f2f2;
        cursor: hand;cursor:pointer;
    }
    &.active{
       opacity: 1;
       visibility:visible;
    }
}

.searchform{
    .opal-search{
        .btn-search{
            background: $theme-color;
            border-color: $theme-color;
            .fa{
                background: transparent;
                color: $white;
                border: none;
            }
        }
    }
}
/**
 * Mass Bottom Header Styles
 */

/**
 * Main menu styles
 */
##{$app-prefix}-mainmenu{
    border-top: 1px solid #e9e9e9;
    position: relative;
    &.v2{
        border-top: none;
        position: initial;
        @media (min-width: $screen-md) and (max-width: $screen-md-max){
            float: none !important;
        }
        .navbar-mega .navbar-nav{
             > li{
                &:first-child > a{
                    padding: 25px 30px 25px 30px;
                }
                &:last-child > a{
                    padding: 25px 0px 25px 30px;
                }
            }
        }
    }
   
}


/**
 * Breadscrumb content style
 */
.#{$app-prefix}-breadscrumb{
    padding: 25px 0; 
    background: $breadcrumb-bg;
    .breadcrumb{
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: $breadcrumb-color; 
        text-transform: capitalize; 
        a{
           color: $breadcrumb-color;
           &:hover{
                color: $theme-color;
           }  
        }
        > a:before {
            content: "\f105";
            font-family: "FontAwesome";
            display: inline-block;
            padding: 0 15px;
            font-size: 12px;
            color: $breadcrumb-color;
        }
        li{
            &:first-child{
                &:before{
                    display: none;
                }
            }

            &:before {
                content: "\f105";
                font-family: "FontAwesome";
                display: inline-block;
                padding: 0 15px;
                font-size: 12px;
            }
            + a:before {
                content: "\f105";
                font-family: "FontAwesome";
                display: inline-block;
                padding: 0 15px;
                font-size: 12px;
                color: $breadcrumb-color;
            }
        }
        li:last-child{
            color: $theme-color;
            display: inline;
        }
    }
}

/**
 * Footer layout styles
 */

.#{$app-prefix}-footer{    
    color:$footer-color;
    font-weight: $footer-font-weight;
    .kc_box_wrap{
        .one-one{
            position: relative;
            margin-bottom: 7px;
        }
        .footer-contact{

            &.adress{
                width: 60%;
                float: left;
                @media (max-width: $screen-phone){
                    width: 100%;
                }
            }
            &.phone{
                width: 40%;
                float: right;
                @media (max-width: $screen-phone){
                    width: 100%;
                }
            }
            &.v2{
                float: none !important;
                width: 100%;
            }
            &.email{
                clear: both;
            }
            i{
                font-size: 15px;
                
                @include size(28px,28px);
                position: absolute;
                border-radius: 100%;
                left: 0;
                &:before{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include translate(-50%, -50%);
                }
            }
            &.border-gray60{
                i{
                    border: 1px solid #999999;
                }
            }
            &.border-gray40{
                i{
                    border: 1px solid #666666;
                }
            }
            span{
                color: $black;
                font-weight: 600;
            }
        }
        .footer-social{
            padding: 22px 0;
            .one-one{
                padding-left: 0px;
                margin-bottom: 0; 
                display: inline-block;
                a{
                    margin-bottom: 0;
                    @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                        margin-bottom: 5px; 
                    }
                    font-size: 14px;
                    color: #aaaaaa;
                    background: #eeeeee;
                    line-height: 31px;
                    width: 31px;
                    height: 31px;
                    margin: 0 3px;
                    @include transition(all 0.35s);
                    .fa{
                         line-height: 31px;
                    }
                    &:hover{
                        background: $theme-color;
                        color: $white;
                    }
                }  
            }
            &.style-2{
                padding: 15px 0 20px;
            }
            &.style-3{
                padding: 5px 0 0px;
                @media (max-width: $screen-xs-max){
                    margin-bottom: 10px;
                }
            }
        }

        
    } 
    a, .text{
        font-size: $footer-link-font-size;
        color: $footer-link-color;
        text-transform: uppercase;
    }
    .widget{
        &.widget_mc4wp_form_widget{
            text-align: center;
            margin-bottom: 0;
        }
        ul{
            li{
                border: none;
                padding: 0;
                a{
                    font-size: $footer-font-size;
                    text-transform: capitalize;
                    font-weight: $footer-font-weight;
                    display: block;
                    border: none;
                    line-height: inherit;
                    padding: 7px 0;
                }
                &:hover{
                    a{
                        color: $theme-color !important;
                    }
                }
            }
        }
    }   
    a{
        line-height: 35px;
        &:hover{
            color: $theme-color;
        }
    }
    .email{
        color: $theme-color;
    }
}
.kingcomposer, .woocommerce, .woocommerce-page{
    .opal-footer{
        .widget{
            box-shadow: inherit;
            margin: 0;
            padding: 0;
            background: transparent;
        }
    }
}

.archive, .page{
    .opal-footer{
        .kc-elm {
            .widget{
                box-shadow: inherit;
                margin: 0;
                padding: 0;
                background: transparent;
            }
        }
    }
}

/*------------------------------------*\
    Copyright
\*------------------------------------*/
.#{$app-prefix}-copyright{
    font-size: $copyright-font-size;
    padding: 30px 0 40px;
    @media (max-width: $screen-xs-max){
        padding: 20px 0 20px;
    }
    background: $copyright-bg ;
    color: $copyright-color;
    .#{$block-selector} {
        .#{$block-heading-selector}{
            color: $footer-heading-color;
            text-transform: $footer-heading-transform;
            margin: $footer-heading-margin;
            @include font-size(font-size,$footer-heading-font-size);
        }
    }
    a{
        font-size: $copyright-font-size;
        text-transform: inherit;
        color: $theme-color;
        @include transition(all 0.35s);
        &:hover,
        &:focus,
        &:active{
            text-decoration: underline;
        }
    }
    .nav-menu{
        margin: 0;
        li{
            display: inline-block;
            padding: 0 5px;
            a{
                padding-right: 15px;
                position: relative;
                &:before{
                    position: absolute;
                    content: "";
                    background: $border-color;
                    right: 0;
                    bottom: 2px;
                    width: 1px;
                    height: 10px;
                }
            }
            &:last-child{
                a{
                    padding-right: 0;
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
    .payment{
        text-align: right;
    }
    @media (max-width: $screen-xs-max){
        .text-copyright{
            text-align: center;
            float: none !important;
        }
        .payment{
            text-align: center;
            margin-top: 10px;
        }
    }
}
