/*
 * Global variables
 */
$image-theme-path                : '../images/' !default;
$image-theme-skin                : '../images/' !default;
// standard colors
$white		    : #FFF !default;
$black			: #000 !default;
$color-gray-default: #363636 !default; 
$nocolor		: transparent !default;
$light-gray	: #CCC !default; 
$turquoise:   #473941 !default;


// color for default theme
$theme-color    : #f28a52 !default; /* main color which will be used for all main block styles... */
$border-color	: #e8e8e8 !default;
$border-color-base: #e8e8e8 !default; 

$theme-color-second  			 : #58d2b0 !default;
$theme-color-default             : $theme-color !default;
$theme-color-hover               : $theme-color !default;
$theme-color-secondary           : #262a2e !default;
$link-color                      : #89d309 !default;


// Theme Margin, Padding
// -------------------------
$theme-margin    : 20px !default;
$theme-padding   : 20px !default;
// fonts
$font-family-second :  $font-family-base !default; 
$theme-padding : 30px !default; 
/**
 * Import component variables
 */
@import "vars/form";
@import "vars/nav";
@import "vars/layout";
@import "vars/elements";
@import "vars/widget";
