/* block */

.#{$block-selector} {
    &:not(.widget-woof) {
        margin-bottom: $block-module-margin-bottom;
        position: relative;
        background: $white;
        padding: $grid-gutter-width;
        padding-bottom: 20px;
        @extend .box-shadow-v2;
    }
    .#{$block-heading-selector}{
        font-size: 24px;
        position: relative;
        padding-top: 0;
        padding-bottom: 30px;
        margin: 0;
        color: $black;
        font-weight: 500;
        background-image: url('#{$image-theme-path}title-bg.png');
        background-repeat: no-repeat;
        background-position-y: 7px;
        padding-left: 20px;
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 30px;
        letter-spacing: -1px;
        > span{
            position: relative;
            display: block;
        }   
    }
    .#{$block-content-selector} {
    }
    /* block styles */
    &.nopadding{
        .#{$block-content-selector}{
            padding:0;
            margin: 0;
        }
    }
}

/**
 * Styling Css for widgets in Sidebar Left Static
 */

.#{$block-prefix}-static{
    .#{$block-heading-selector}{
        color:#FFFFFF;
    }
    ul li { border:none }
}


/**
 * Styling Css for widgets in footer layout
 */
.kingcomposer .opal-footer{
    .#{$block-selector} { 
        .#{$block-heading-selector}{
            font-size: 16px;
            color: $white;
        }
    } 
}

/**
 * Styling Css for widgets products
 */
.#{$block-selector} { 
    .widget_products{
        .product-wrapper{
            padding-left: 0 !important;
            padding-right: 0 !important;
            .product-block{
                &:before{
                    display: none;
                }
            }
        }
        .product-block.media {
            .image{
                max-width: 70px;
            }
            .rating{
                display: none;
            }
        }
        .products-list .product-wrapper{
            .product-block{
                margin-bottom: 20px;
            }
            
        }
    }
    &.widget_wpopal_menu_vertical{
        
        .widget-title, .widgettitle{
            margin-bottom: 0;
        }
        &.style_2{
            padding: 0;
            padding-bottom: 15px;
            .widget-title, .widgettitle{
                padding-left: 0;
                background: $black;
                font-size: 18px;
                padding: 20px 30px;
                color: $white;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                margin-bottom: 0;
            }
            .vertical-menu{
                padding: 0 30px;
            }
        }
        .widget_products{
            .product-block{
                padding-left: 15px;
                padding-right: 15px;
                margin: 0;
                &:after{
                    display: none;
                }
            }
        }
    }
}
/**
 * style-home
 */
.sidebar-home{
    &.widget{
        @media (min-width: $screen-md) and (max-width: $screen-md-max){
            padding: 15px;
        }
    }
    &.kc_widget_content{
        .widget_products{
            .products-inner{
                .product-block{
                    margin-top: 0;
                }
            } 
            .products-list .product-wrapper{
                padding: 0;
                .product-block.media{
                    .rating {
                        display: none;
                    }
                    .image{
                        max-width: 70px;
                    }
                }
            }  
        }
    }
    
}
.widget_wpopal_latest_posts{
    .blog-post .content-blog .bottom-blog > div{
        @media (min-width: $screen-sm) and (max-width: $screen-md-max){
            float: none !important
        }
    }
}
.kc_widget_content{
    .woo-deals{
         .countdown-times{
            > div{
                padding-right: 10px;
                > b{
                    font-size: 20px;
                    &:after{
                        font-size: 20px;
                        margin-left: 7px;
                    }
                }
            }
        }
        .products-collection .owl-carousel .owl-item{
            padding: 0;
            .product-block {
                margin-top: 0;
            }
        } 
        .owl-carousel-play .carousel-controls.carousel-controls{
            display: none;
        }
        .item{
            &:first-child{
                .product-wrapper{
                    .product-block{
                        margin-top: 0;
                        &:after{
                            display: none;
                        }
                        .add-cart{

                            a.button{
                                display: inline-block;
                                span{
                                    font-size: 0;
                                }
                            } 
                        } 
                    }
                }
            }
           
        } 
    }
}
 
