.#{$block-selector} {
    ul,ol{
        list-style: none;
        padding:0;  
    } 
}

/* List Style Widgets*/
.widget_archive a,
.widget_recent_entries a,
.widget_recent_comments a,
.widget_layered_nav a,
.widget_product_categories a
{ font-weight:400;}

.widget_archive li,
.widget_categories li,
.widget_links li,
.widget_meta li,
.widget_pages li,
.widget_recent_comments li,
.widget_recent_entries li {
    padding: 10px 0px;
}

.widget_archive li:first-child,
.widget_categories li:first-child,
.widget_links li:first-child,
.widget_meta li:first-child,
.widget_pages li:first-child,
.widget_recent_comments li:first-child,
.widget_recent_entries li:first-child {
    border-top: 0;
}

.widget_categories li ul,
.widget_pages li ul {
    border-top: 1px solid $border-color;
}
.widget_categories li ul.children{
    border-top: none;
}
.widget_categories li li:last-child,
.widget_pages li li:last-child {
    padding-bottom: 0;
}

.widget_recent_comments{
    .comment-author-link{
        color: $brand-primary;
    }
}
.widget.widget_categories ul, 
.widget.widget_layered_nav ul, 
.widget.widget_layered_nav_filters ul,
.widget_nav_menu ul,
.widget.widget_pages ul{
    li {    
        padding: 0;
        position: relative;
        color: #666666;
        border-top: 1px solid #e8e8e8;
        a{
            display: inline-block;
            color: #666666;
            padding: 13px 0px;
            line-height: 20px;
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 300;
            font-family: $font-family-base;
            &:hover{
                color: $theme-color;
                &:before{
                    color: $theme-color;
                }
            }
        }
        ul.children{
            li{  
                border: 0;
                padding-left: 1.5rem;              
                &:last-child {
                    border-top: none;
                    padding-bottom: 0;
                }
            }
        }
        ul.sub-menu{
            margin-top: 10px;
        }
        &:first-child{
            border-top: none;
        }
    }
}
/* Widget Menu Categories */
.menu-categories{
   
    .widget_nav_menu ul li{
        a{
            &:before{
                position: absolute;
                content: "\f178";
                font-family: FontAwesome;
                left: 0;
            }
        }
    }
}

/* Recent Posts Widget */

.widget_recent_entries .post-date {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 5px;
    color: $theme-color;
}
.widget_wpopal_recent_post {
    .post-widget{
        border: none;
    }
    .item-post.media {
        border-top: 1px solid $border-color;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
        &:first-child {
            border-top: none;
        }
        a.image {
            width: 100px;
            padding-left: 20px;   
        }
        .media-body {
            .entry-title {
                padding-right: 15px;   
            }
            > p {
                display: none;
            }
        }
    }
    .post-stick-layout {
        .item-post.media.item-big {
            border-top: none;
            a.image {
                padding-right: 0;
                width: 100%;
                margin-bottom: 10px;
            }
            .entry-title {
                margin: 0 0 10px;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
            }
        }
        .item-post.media {
            padding-top: 15px;
            .media-body {
                .entry-title {
                    margin: 0 0 5px;
                }
            }
            .post-date {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;
                color: $theme-color;
            }
        }
    }
}

/* Search Widget */
.widget_search{
    .btn-search{
        input{
            border:none;
        }
    }
}
/* RSS Widget */

.rsswidget img {
    margin-top: -4px;
}

.rssSummary {
    margin: 9px 0;
}

.rss-date {
    display: block;
}

.widget_rss li {
    margin-bottom: 18px;
}

.widget_rss li:last-child {
    margin-bottom: 0;
}

/* Text Widget */

.widget_text > div > :last-child {
    margin-bottom: 0;
}
/* widget image */
.widget_sp_image{
    padding: 0 !important;
    overflow: hidden;
    display: block;

    background-color: rgba(0, 0, 0, 0.3) !important;
    &:before,&:after {
        bottom: 20px;
        content: "";
        left: 20px;
        opacity: 0;
        position: absolute;
        right: 20px;
        top: 20px;
        @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
        z-index: 1;
        display: inline-block;
    }
    &:before {
        border-bottom: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        @include scale(0, 1);
    }
    &:after {
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        @include scale(1, 0);
    }
    img{
        @include opacity(1);
        @include transition (opacity 0.35s ease 0s);
        width: 100%;
    }
    &:hover{
        &:before,
        &:after {   
            @include opacity(1);
            @include scale(1);
        }
        img {
            @include opacity(0.5);
        }
    }

}
/* Calendar Widget*/
.widget_calendar {
    table {
        line-height: 2;
        margin: 0;
        width: 100%;
    }
    caption {
        color: $black;
        font-weight: 700;
        line-height: 1.7142857142;
        margin-bottom: 10px;
        text-align: left;
        text-transform: uppercase;
    }
    thead th {
        background: #f5f5f5;
    }
    tbody td, thead th {
        text-align: center;
    }
    tbody a {
        background-color: $theme-color;
        color: #fff;
        display: block;
        &:hover {
          background-color: #41a62a;
          color: #fff;
        }
    }
    #prev {
        padding-left: 5px;
    }
    #next {
        padding-right: 5px;
        text-align: right;
    }
    #today{
        background-color: $theme-color;
        color: #fff;
        &:hover{
            background-color: darken($theme-color, 5%);
        }
    }
}
/* Newletter */
.bg-newletter-white{
    .widget_mc4wp_form_widget{
        .input-group{
            .form-control{
                 background: $white;
            }
        }
    }
}
.widget_mc4wp_form_widget{
    background: transparent;
     .widgettitle{
        font-size: 24px !important;
        font-family: $font-family-base;
        font-weight: 700;
        text-transform: none;
        color: $black !important;
    }
    .form-style-1{
        display: block;
         @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
            max-width: 480px;
        }
    }
    .input-group{
        display: flex;
        justify-content: space-between; 
        @media (max-width: $screen-md-max){
            display: block;
        }
        .form-control{
            border: none;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            background: $input-newletter-bg;
            padding-left: 20px;
            border: 2px solid $theme-color;
            height: 44px;
            font-weight: 300;
            @media (max-width: $screen-md-max){
                width: calc(100% - 50px);
                width: -webkit-calc(100% - 50px);
                width: -moz-calc(100% - 50px);
                width: -o-calc(100% - 50px);
            }
        }
        input[type="submit"]{
            font-size: 0;
            padding: 0 12px;
            border: none;
            @include size(100%, 100%);
            background: transparent;
            position: relative;
            z-index: 999;
            outline: none;
        }
        > span{
            position: relative;
            .fa{
                color: $white;
                position: absolute;
                font-size: 14px;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
            }
        }  
        .btn{
            @media (max-width: $screen-md-max){
                float: left;
                height: 44px;
            }
            border-radius: 0;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            z-index: 0;  
            font-size: 14px;
            font-weight: 700;
            background-color: $theme-color;
            border-color: $theme-color;   
        }     
    }
}
.newsletter-style-2{
    .widget_mc4wp_form_widget{
        form{
            margin: 0;
        }
        .input-group{
            .form-control{
                border: none;
            }
            .btn{
                background-color: #2d2d2d;
                border-color: #2d2d2d; 
            }
        }
    } 
}


/****/
li.product-category{
    list-style: none;
}